<td colspan=2>
	<fieldset class="group">
	<legend class="group">
		<strong>{{param.label.get}}</strong>
	</legend>
	<table>
	{% for paramGroupName, paramGroup in param.iterParams %}
	
<!------------------INI GROUP ------------------------->

		<tr {% if paramGroup.expertLevel.get > 0 %} class="advance" {% else %} class="element" {% endif %} id="{{paramGroupName}}" name="{{paramGroupName}}" data-type="{{paramGroup.getClassName}}" data-cond="{{paramGroup.condition.get}}" data-params="{{paramGroup.htmlCondParams}}" 
		data-depen="{{paramGroup.htmlDepend}}" value="{{paramGroup.htmlValue}}" data-enum="{{paramGroup.display}}" data-expert="{{paramGroup.expertLevel.get}}">

<!-- LINE PARAM -->
		{% if paramGroup.getClassName == "Line" %}
			<td id="inputName" 
				{% if param.isImportant.get %} 
					class="recommended" 
				{% else %} 
					class="normal" 
				{% endif %}>
				{{paramGroup.label.get}}
			</td>
<!-- 						<td style="1em;"> -->
				<td>
			{% for paramLineName, paramLine in paramGroup.iterParams %}
				{{paramLine.label.get}}
				<input type="text" style="width: 4em;" id="{{paramLineName}}_input" data-objId="{{paramLine.htmlIdValue}}" name="{{paramLineName}}" value="{{paramLine.htmlValue}}" >
			{% endfor %}
				</td>
				<td>
				</td>
			{% if paramGroup.hasWizard %}
				<td class="ico">
					<a class="fa fa-magic" href="javascript:putModeWiz('{{paramGroup.wizardClassName}}' );"></a>
				</td>
			{% elif paramGroup.hasViewer %}
				<td class="ico">
					<a id="analyzeTool" href="javascript:putModeViewElm('{{paramGroupName}}');" class="fa fa-eye"></a>
				</td>
			{% endif %}
			{% if paramGroup.htmlHelp %}
				<td class="ico">
					<a class="fa fa-question-circle" href="javascript:infoPopup('Help {{paramGroup.label.get}}','{{paramGroup.htmlHelp|escapejs}}');"></a>
				</td>
			{% endif %}
		{% else %}
			
			
<!-- INPUT NAME  -->			
			<td id="inputName" 
				{% if paramGroup.isImportant.get %} 
					class="recommended" 
				{% else %} 
					class="normal" 
				{% endif %}>
				{{paramGroup.label.get}}
			</td>
			
			<td>
<!-- BOOLEAN PARAM -->
			{% if paramGroup.getClassName == "BooleanParam" %}
			  <input type="radio" id="{{paramGroupName}}_yes" name={{paramGroupName}} onChange="javascript:onChangeParam('true','{{paramGroupName}}');" value="true" 
			  {% if paramGroup.htmlValue == 'true' %} checked {% endif %}/>{{msg.LABEL_PARAM_YES}}
			  <input type="radio" id="{{paramGroupName}}_no" name={{paramGroupName}} onChange="javascript:onChangeParam('false','{{paramGroupName}}');" value="false"  
			  {% if paramGroup.htmlValue == 'false' %} checked {% endif %} />{{msg.LABEL_PARAM_NO}}
			{% elif paramGroup.getClassName == "EnumParam" %}
<!-- ENUM PARAM RADIO -->
				{% if paramGroup.display == 0 %}
					{% for choice in paramGroup.choices %}
					  <input type="radio" id="" name={{paramGroupName}} onChange="javascript:onChangeEnumParamList('{{forloop.counter0}}', '{{paramGroupName}}');" value="{{forloop.counter0}}" 
					  {% if paramGroup.htmlValue == forloop.counter0 %} checked {% endif %} />{{choice}}<br />
					{% endfor %}
<!-- ENUM PARAM COMBO -->
				{% elif paramGroup.display == 1  %}
					<select id="{{paramGroupName}}_select" name="{{paramGroupName}}" size=1 onChange="javascript:onChangeEnumParamCombo('{{paramGroupName}}_select', '{{paramGroupName}}');">
						{% for choice in paramGroup.choices %}
						<option value="{{forloop.counter0}}" {% if paramGroup.htmlValue == forloop.counter0 %} selected="selected" {% endif %}>{{choice}}</option>
					{% endfor %}
<!-- ENUM PARAM HORIZONTAL RADIO -->
				{% elif paramGroup.display == 2 %}
					{% for choice in paramGroup.choices %}
					  <input type="radio" id="" name={{paramGroupName}} onChange="javascript:onChangeEnumParamList('{{forloop.counter0}}', '{{paramGroupName}}');" value="{{forloop.counter0}}" 
					  {% if paramGroup.htmlValue == forloop.counter0 %} checked {% endif %} />{{choice}}
					{% endfor %}
				</select>
			{% endif %}				
		{% else %}


<!-- INPUTS ELEMENTS -->
			{% if paramGroup.getClassName == "MultiPointerParam" %}
				<select multiple id="{{paramGroupName}}_input" name={{paramGroupName}} class="multipleSelect" style="height:25px;min-width:230px;width:100%;">
				{% for htmlValue, htmlIdValue in paramGroup.htmlValueIdZip %} 
					<option value="{{htmlIdValue}}">{{htmlValue}}</option>
				{% endfor %}
				</select>
            {% elif paramGroup.getClassName == "LabelParam" %}
                <!-- Nada -->
			{% else %}
				<input type="text" id="{{paramGroupName}}_input" data-objId="{{paramGroup.htmlIdValue}}" name="{{paramGroupName}}" value="{{paramGroup.htmlValue}}" >	
			{% endif %}	
		{% endif %}
		</td>
<!-- POINTER PARAM -->		
		{% if paramGroup.getClassName == "PointerParam"%}
		<td class="ico">
			<a href="javascript:browseObjects('{{paramGroupName}}','{{projectName}}','objClass','{{paramGroup.pointerClass.get}}','{{paramGroup.pointerCondition.get}}');">
				<i class="fa fa-search" style="font-size:1.1em;"></i>
			</a> 
		</td>
		<td class="ico">
			<a href="javascript:loadPreviewImage('{{paramGroupName}}_input');">
				<i class="fa fa-eye" style="font-size:1.1em;"></i>
			</a> 
		</td>
<!-- MULTI POINTER PARAM -->
	{% elif paramGroup.getClassName == "MultiPointerParam" %}
		<td class="ico">
			<a href="javascript:browseObjects('{{paramGroupName}}','{{projectName}}','objClass','{{paramGroup.pointerClass.get}}','{{paramGroup.pointerCondition.get}}','{{paramGroup.maxNumObjects}}');">
				<i class="fa fa-search" style="font-size:1.1em;"></i>
			</a>
			<a href="javascript:removeObjects('{{paramGroupName}}');">
				<i class="fa fa-trash-o" style="font-size:1.1em;"></i>
			</a>  
		</td>
		
<!-- PROTOCOL CLASS PARAM -->
		{% elif paramGroup.getClassName == "ProtocolClassParam" %}
			<td class="ico">
				<a class="fa fa-search" href="javascript:browseObjects('{{paramGroupName}}','{{projectName}}','protClassName' ,'{{paramGroup.protocolClassName.get}}');">
				</a>
			</td>
			<td class="ico">
				<a href="javascript:formProtSimple('{{paramGroupName}}','{{projectName}}');" class="iconEdit">
					<i class="fa fa-pencil" style="font-size:1.1em;"></i>
				</a>										
			</td>
		{% elif paramGroup.hasWizard %}
			<td class="ico">
				<a class="fa fa-magic" href="javascript:putModeWiz('{{paramGroup.wizardClassName}}');"></a>
			</td>
		{% elif paramGroup.hasViewer %}
			<td class="ico">
				<a id="analyzeTool" href="javascript:putModeViewElm('{{paramGroupName}}');" class="fa fa-eye"></a>
			</td>
		{% else %}
			<td>
			</td>
		{% endif %}
		{% if paramGroup.htmlHelp %}
			<td class="ico">
				<a class="fa fa-question-circle" href="javascript:infoPopup('Help {{paramGroup.label.get}}','{{paramGroup.htmlHelp|escapejs}}');"></a>
			</td>
		{% endif %}	
		
		{% endif %}	
	
		</tr>	

<!------------------END GROUP ------------------------->

	{% endfor %}
	
		</fieldset>
	</table>
</td>
					