<div id="tabs">
	<ul>
	 {% for section in definition.iterSections %}
	 	{% if section.label.get != "General" and section.label.get != "Parallelization" %}	
	 		<li><a href="#tabs-{{forloop.counter0}}">{{section.label.get}}</a></li>
	 	{% endif %}
	 {% endfor %}
	 </ul>

	 {% for section in definition.iterSections %}
		 {% if section.label.get != "General" and section.label.get != "Parallelization" %}
	 	 <div id="tabs-{{forloop.counter0}}">
 			<div class="box">
				<table class="section">				
					{% for paramName, param in section.iterParams %}
					
					<tr {% if param.expertLevel.get > 0 %} class="advance" {% else %} class="element" {% endif %} id="{{paramName}}" name="{{paramName}}" data-type="{{param.getClassName}}" data-cond="{{param.condition.get}}" data-params="{{param.htmlCondParams}}" 
					data-depen="{{param.htmlDepend}}" value="{{param.htmlValue}}" data-enum="{{param.display}}" data-expert="{{param.expertLevel.get}}">
						
					{% if param.getClassName == "Group" %}
						{% include "form/content_group_form.html" %}
					
					{% elif param.getClassName == "Line" %}
						<td id="inputName" 
							{% if param.isImportant.get %} 
								class="recommended" 
							{% else %} 
								class="normal" 
							{% endif %}>
							{{param.label.get}}
						</td>

<!-- 						<td style="1em;"> -->
						<td>

						{% for paramLineName, paramLine in param.iterParams %}
                            <div id="{{paramLineName}}" style="float: left;" data-cond="{{paramLine.condition.get}}" data-params="{{paramLine.htmlCondParams}}" data-depen="{{paramLine.htmlDepend}}" data-line="yes" data-expert="{{paramLine.expertLevel.get}}">
                            {{paramLine.label.get}}
                            <input type="text" style="width: 4em;" id="{{paramLineName}}_input" data-objId="{{paramLine.htmlIdValue}}" name="{{paramLineName}}" value="{{paramLine.htmlValue}}">
                            </div>
                        {% endfor %}
						</td>
<!-- 							<td> -->
<!-- 							</td> -->
						{% if param.hasWizard %}
							<td class="ico">
								<a class="fa fa-magic" href="javascript:putModeWiz('{{param.wizardClassName}}' );"></a>
							</td>
						{% elif param.hasViewer %}
							<td class="ico">
								<a id="analyzeTool" href="javascript:putModeViewElm('{{paramName}}');" class="fa fa-eye"></a>
							</td>
						{% endif %}
						{% if param.htmlHelp %}
							<td class="ico">
								<a class="fa fa-question-circle" href="javascript:infoPopup('Help {{param.label.get}}','{{param.htmlHelp|escapejs}}');"></a>
							</td>
						{% endif %}
					{% else %}
						
<!-- INPUT NAME  -->
							<td id="inputName" 
							{% if param.isImportant.get %} 
								class="recommended" 
							{% else %} 
								class="normal" 
							{% endif %}>
							{{param.label.get}}
							</td>
							
							<td>
<!-- BOOLEAN PARAM -->
							{% if param.getClassName == "BooleanParam" %}
							  <input type="radio" id="{{paramName}}_yes" name={{paramName}} onChange="javascript:onChangeParam('true','{{paramName}}');" value="true"
							  {% if param.htmlValue == 'true' %} checked {% endif %}/>{{msg.LABEL_PARAM_YES}}
							  <input type="radio" id="{{paramName}}_no" name={{paramName}} onChange="javascript:onChangeParam('false','{{paramName}}');" value="false"
							  {% if param.htmlValue == 'false' %} checked {% endif %} />{{msg.LABEL_PARAM_NO}}
							{% elif param.getClassName == "EnumParam" %}
<!-- ENUM PARAM RADIO -->
								{% if param.display == 0 %}
									{% for choice in param.choices %}
									  <input type="radio" id="" name={{paramName}} onChange="javascript:onChangeEnumParamList('{{forloop.counter0}}', '{{paramName}}');" value="{{forloop.counter0}}" 
									  {% if param.htmlValue == forloop.counter0 %} checked {% endif %} />{{choice}}<br />
									{% endfor %}
<!-- ENUM PARAM COMBO -->
								{% elif param.display == 1  %}
									<select id="{{paramName}}_select" name="{{paramName}}" size=1 onChange="javascript:onChangeEnumParamCombo('{{paramName}}_select', '{{paramName}}');">
										{% for choice in param.choices %}
										<option value="{{forloop.counter0}}" {% if param.htmlValue == forloop.counter0 %} selected="selected" {% endif %}>{{choice}}</option>
									{% endfor %}
									</select>
								{% endif %}	
<!-- ENUM PARAM HORIZONTAL RADIO -->
								{% elif param.display == 2 %}
									{% for choice in param.choices %}
									  <input type="radio" id="" name={{paramName}} onChange="javascript:onChangeEnumParamList('{{forloop.counter0}}', '{{paramName}}');" value="{{forloop.counter0}}" 
									  {% if param.htmlValue == forloop.counter0 %} checked {% endif %} />{{choice}}
									{% endfor %}								
								
<!-- 							{% elif param.getClassName == "Line" %} -->
								
										
							{% else %}

<!-- INPUTS ELEMENTS -->
								{% if param.getClassName == "MultiPointerParam" %}
									<select multiple id="{{paramName}}_input" name={{paramName}} class="multipleSelect" style="height:25px;min-width:230px;width:100%;">
									{% for htmlValue, htmlIdValue in param.htmlValueIdZip %} 
										<option value="{{htmlIdValue}}">{{htmlValue}}</option>
									{% endfor %}
									</select>
								{% elif param.getClassName == "PathParam" or param.getClassName == "FileParam" or param.getClassName == "FolderParam" %}
									
									{% if path_mode == "select" %}
<!-- 										<input type="hidden" id="{{paramName}}_input" data-objId="{{param.htmlIdValue}}" name="{{paramName}}" value="{{param.htmlValue}}"> -->
<!-- 										<input type="text" id="{{paramName}}_input_show" value="{{param.htmlValue}}"> -->
										<input type="text" id="{{paramName}}_input" data-objId="{{param.htmlIdValue}}" name="{{paramName}}" value="{{param.htmlValue}}">
									{% elif path_mode == "upload" %}
										<input type="hidden" id="{{paramName}}_input" data-objId="{{param.htmlIdValue}}" name="{{paramName}}" value="{{param.htmlValue}}" class="upload1">
										<input type="text" id="inputPath" class="upload2" style="min-width: 230px;" value="{{param.htmlValue}}">
									{% endif %}
								
								{% elif param.getClassName == "LabelParam" %}
                                    <!-- Nada -->
                                {% else %}
									<input type="text" id="{{paramName}}_input" data-objId="{{param.htmlIdValue}}" name="{{paramName}}" value="{{param.htmlValue}}" style="min-width: 230px;">	
								{% endif %}	
							{% endif %}
							</td>
<!-- PATH PARAM -->
						{% if param.getClassName == "PathParam" or param.getClassName == "FileParam" or param.getClassName == "FolderParam" %}
							
							{% if path_mode == "select" %}
								{% include "form/file_browse.html" %}
							{% elif path_mode == "upload" %}
								<script src="{{upload_utils}} "type="text/javascript"></script>
								
								<td class="ico">
									<a href="javascript:browseUpload('{{paramName}}');">
										<i class="fa fa-search" style="font-size:1.1em;"></i>
									</a> 
								</td>
							{% endif %}
							
<!-- POINTER PARAM -->	
						{% elif param.getClassName == "PointerParam" %}
							<td class="ico">
								<a href="javascript:browseObjects('{{paramName}}','objClass','{{param.pointerClass.get}}','{{param.pointerCondition.get}}');">
									<i class="fa fa-search" style="font-size:1.1em;"></i>
								</a> 
							</td>
							<td class="ico">
								<a href="javascript:clearInput('{{paramName}}_input');">
									<i class="fa fa-trash-o" style="font-size:1.1em;"></i>
								</a>  
							</td>
							<td class="ico">
								<a href="javascript:loadPreviewImage('{{paramName}}_input');">	
									<i class="fa fa-eye" style="font-size:1.1em;"></i>
								</a> 
							</td>
<!-- MULTI POINTER PARAM -->
						{% elif param.getClassName == "MultiPointerParam" %}
							<td class="ico">
								<a href="javascript:browseObjects('{{paramName}}','objClass','{{param.pointerClass.get}}','{{param.pointerCondition.get}}','{{param.maxNumObjects}}');">
									<i class="fa fa-search" style="font-size:1.1em;"></i>
								</a>
								<a href="javascript:removeObjects('{{paramName}}');">
									<i class="fa fa-trash-o" style="font-size:1.1em;"></i>
								</a>  
							</td>
<!-- RELATION PARAM -->
						{% elif param.getClassName == "RelationParam" %}
							<td class="ico">
								<a href="javascript:browseObjects('{{paramName}}','relationClassName','{{param.relationName}},{{param.attributeName}},{{protocol.getObjId}},{{param.direction}}');">
									<i class="fa fa-search" style="font-size:1.1em;"></i>
								</a> 
							</td>
							<td class="ico">
								<a href="javascript:loadPreviewImage('{{paramName}}_input');">
									<i class="fa fa-eye" style="font-size:1.1em;"></i>
								</a> 
							</td>
<!-- PROTOCOL CLASS PARAM -->
						{% elif param.getClassName == "ProtocolClassParam" %}
							<td class="ico">
								<a class="fa fa-search" href="javascript:browseObjects('{{paramName}}','protClassName' ,'{{param.protocolClassName.get}}');">
								</a>
							</td>
							<td class="ico">
								<a href="javascript:formProtSimple('{{paramName}}');" class="iconEdit">
									<i class="fa fa-pencil" style="font-size:1.1em;"></i>
								</a>										
							</td>
						{% elif param.hasWizard %}
							<td class="ico">
								<a class="fa fa-magic" href="javascript:putModeWiz('{{param.wizardClassName}}');"></a>
							</td>
						{% elif param.hasViewer %}
							<td class="ico">
								<a id="analyzeTool" href="javascript:putModeViewElm('{{paramName}}');" class="fa fa-eye"></a>
							</td>
						{% else %}
							<td class="ico">
							</td>
						{% endif %}
						{% if param.htmlHelp %}
							<td class="ico">
								<a class="fa fa-question-circle" href="javascript:infoPopup('Help {{param.label.get}}','{{param.htmlHelp|escapejs}}');"></a>
							</td>
						{% endif %}
					{% endif %}
					</tr>
					{% endfor %}
					</table>
				</div>
	 		</div>
 		{% endif %}
	 {% endfor %}
	 </div>		
