<style>
	.top-div { border:none;}
	.left-div { border-radius: 4px;}
	.right-div { border-radius: 4px;}
	.state-active {
		border: 1px solid #aaaaaa;
		background: firebrick;
		font-weight: bold;
		color: white;
	}
	.state-hover {
		border: 1px solid #aaaaaa;
		background: firebrick;
		font-weight: bold;
		color: white;
	}

</style>

<script type="text/javascript">

	$(document).ready(function() {
		var URL = getSubDomainURL() + '/getPath/'
	    
		$('#FButton_{{paramName}}').serverBrowser({
	        //Accesing path
	    	title: 'Select input',
	        handlerUrl: URL,
	        requestMethod: 'GET',
	        basePath: '{{project_folder}}',
	        
	        //Config
	        knownExt: getKnownExt(),
               knownPaths: [{text:'ProjectFolder', image:'fa-home.png', path: '{{project_folder}}'},
                            {text:'Uploads', image:'fa-upload.png', path: '{{project_folder}}/Uploads'}],
               //views_utils gives the entire url (mod into the serverBrowse lib)
               imageUrl: getSubDomainURL() + '/resources',
	        
               //Size
	        resizable:true,
	        width: 450,
               height: 450,
	        
	        //Functionality
	        onSelect: function(path) {
	        	$('input#{{paramName}}_input').val(path)
// 	        	var newPath = path.split("/")
// 	        	var elmSelected = newPath.length -1
// 	        	$('input#{{paramName}}_input_show').val(newPath[elmSelected])
	        },
	        onLoad: function() {
	            return $('input#{{paramName}}_input').val();
	        },
	    });
	});
</script>

<td class="ico">
	<a id="FButton_{{paramName}}" href="#">
		<i class="fa fa-search" style="font-size:1.1em;"></i>
	</a>
</td>