#### C++
# Compiled Object files
*.slo
*.lo
*.o
*.os

### Python binaries
*.pyc
*.pyo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#unused submodule
.gitmodules

#### Java
*.class

#### Python
*.pyc

#### Eclipse and so on
.project
.cproject
.pydevproject
.classpath
.idea

# Scons auxiliary files
.sconsign.dblite

# Other
/software/tmp
/software/bin/*
!/software/bin/python_scipion
/software/cfg
/software/include
/software/install
/software/lib
/software/log
/software/man
/software/share
/software/em/*
!/software/em/xmipp

gmon.out
*~
\#*
.\#*
/pyworkflow/tests/classes/tmp
/pyworkflow/web/scipion_web.db
.directory

# Static Path & Web stuff
/pyworkflow/web/static
/pyworkflow/resources/uploads
/pyworkflow/tests/em/data
/data
downloads.sqlite
foo.txt
/pyworkflow/web/pages/resources/install/
scipion_web_tools_django.log
static/


# Scipion
/config/*.conf
/config/backups

# Configuration for servers
/pyworkflow/web/pages/resources/js/templates_libs/config.js
/config.log
/Debug/
/bin/

# Ignore version file
.devel_version
