#### C++
# Compiled Object files
*.slo
*.lo
*.o
*.os

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#unused submodule
.gitmodules

#### Java
*.class

#### Python
*.pyc

#### Eclipse
.project
.cproject
.pydevproject
.classpath

#### Xmipp
# Config files
.xmipp*

# Qt files
moc_*.cc

# External libs
external/*
applications/programs/*
!applications/programs/*.cpp
applications/tests/*
!applications/tests/*.cpp

# Java compilation
java/lib/Xmipp*.jar
java/build/
java/lib/ij.jar
java/src/xmipp/jni/MDLabel.java
java/src/xmipp/jni/XmippError.java

# Other
bin/
build/
lib/
documentation/
gmon.out
*~
\#*
.\#*
pyworkflow/tests/classes/tmp
pyworkflow/web/scipion.db
pyworkflow/web/static/*
.directory
pw.bashrc
pw.cshrc

