/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
} /* Reset default margin and padding for all element */
header,section,footer,aside,nav,article,hgroup {
	display: block;
} /* For html5 unsupported browsers */

/* HEADER */
header {
	height: 100px;
	text-align: center;
}

/* NAV (TOP MENU) */
nav {
	height: 55px;
	width: 100%;
	background-color: #7a0000;
	color: #fff;
	font: 16px Tahoma;
}

nav ul {
	padding: 20px 15px 20px 20px;
}

nav ul li {
	padding: 5px 10px 5px 0px;
	display: inline;
}

/* ASIDE (BOTTOM MENU) */
aside {
	height: 50px;
	background-color: #320101;
	padding: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}

aside button {
	border: 0px;
	cursor: pointer;
	height: 27px;
}

aside .sectionMenu {
	margin-right: 20px;
	/* display: inline-block; */
	display: -webkit-flex;
	-webkit-align-items: center;
}

aside .subSectionMenu {
	margin-right: 10px;
}

aside .textMenu {
	color: #FFF;
	font: 12px Tahoma;
	font-weight: bold;
	margin-right: 2px;
}

aside #colRowMode {
	margin-right: 15px;
}

aside .menuIcon {
	margin-right: 5px;
}

aside .menuInputNumber {
	width: 60px;
	background-color: #000;
	font: 11px Tahoma;
	color: #fff;
	text-align: right;
	height: 25px;
	border-color: #7a0000;
	border: 1px;
}

/* MAIN SECTION */
section {
	padding: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}

section .img_container {
	margin: 10px 2px 10px 2px;
}

section .img_inner_container{
	position: relative; 
}


section .enabledGallery {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}
section .selected{
	display: inline;
}

#column_label {
	background-color: #dddddd;
	font: 12px Tahoma;
	text-align: center;
}

#data_table {
	width: 100%;
	border-spacing: 4px;
}

#table_container thead tr{
	height: 20px;
}

#table_container thead th{
	font-weight: bold;
}

#table_container { /* 	overflow:auto;*/
	width: 100%;
}

.row_selected {
	border: 2px solid #000;
}

/* GENERAL */