/* CSS Document */

/* GENERAL */

section{
	padding:0px;
	background: #d7d7d7; /* Old browsers */
	background: -moz-linear-gradient(top, #d7d7d7 2%, #ffffff 70%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#d7d7d7), color-stop(70%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d7d7d7 2%,#ffffff 70%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d7d7d7 2%,#ffffff 70%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d7d7d7 2%,#ffffff 70%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d7d7d7 2%,#ffffff 70%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}
	
#titleSection{
	color:#830b0b;
	font-size:30px;
	font-family:Trebuchet;
	margin-bottom: 10px;
	font-weight:bold;
}

#textSection{
	padding:100px 0px 70px 20px;
	width:50%;
	float:left;
	text-align:left;
}

#innerSection{
	width:100%;
	height:80%;
	background:url("../images/background_section.png") no-repeat 0 0px;
	background-position:right;
	display: inline-block;
	background-size: contain;
}

#topTextSection, #bottomTextSection{
	
}

#buttonSection{
/* 	margin-left: 30px;	 */
	
}

#buttonSection  a{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 13px 42px;
	border: 0px solid #a12727;
	border-radius: 4px;
	-webkit-box-shadow: #ff5959 0px 0px 0px 0px;
	-moz-box-shadow: #ff5959 0px 0px 0px 0px;
	box-shadow: #ff5959 0px 0px 0px 0px;
	text-shadow: #591717 1px 1px 1px;
	font: normal normal bold 24px trebuchet ms;
	color: #ffffff;
	text-decoration: none;
	
}

.redBold{
	color: #830b0b;
	font-weight: bold;
}

/*  Inner Section */
#innerContent{
	padding: 2%;
	margin-left: 2%;
}

#innerContent h1{
	font-size: 2em;
	color: #6F3232;
	font-weight:normal;
	margin: 10px 0px;
}

#innerContent h3{
	width: 40%;
	font-weight: 500;
	line-height: 1.3;
	margin: 10px 0px;
	text-align:justify;
}

#innerContent h2{
	font-size: 1.5em;
	color: #6F3232;
	font-weight:bold;
	margin: 20px 0px 7px 0px;
	border-bottom: 1px solid grey;
}

#innerContent ul{
	padding-left: 30px;	
}
#innerContent li{
	margin: 5px 0px;
}
.documentationButton {
background: #992828;
background: -webkit-gradient(linear, left top, left bottom, from(#d9d7d9), to(#848384));
background: -moz-linear-gradient(top, #d9d7d9, #848384);
background: linear-gradient(to bottom, #d9d7d9, #848384);
}

.downloadButton {
background: #992828;
background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
background: -moz-linear-gradient(top, #ff4a4a, #992727);
background: linear-gradient(to bottom, #ff4a4a, #992727);
margin-right: 10px;
}
.documentationButton:hover,
.documentationButton:focus {
background: #a3a3a3;
background: -webkit-gradient(linear, left top, left bottom, from(#868686), to(#bcbcbc));
background: -moz-linear-gradient(top, #868686, #bcbcbc);
background: linear-gradient(to bottom, #868686, #bcbcbc);
color: #ffffff;
text-decoration: none;
}
.downloadButton:hover,
.downloadButton:focus {
background: #ff4a4a;
background: -webkit-gradient(linear, left top, left bottom, from(#992727), to(#ff4a4a));
background: -moz-linear-gradient(top, #992727, #ff4a4a);
background: linear-gradient(to bottom, #992727, #ff4a4a); 
color: #ffffff;
text-decoration: none;
}
#buttonSection a:before{
    content:  "\0000a0";
    display: inline-block;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
/*     left: -11px; */
    height: 27px;
    width: 27px;    
    background-size: 100% 100%;
}

.downloadButton:before{
    background: url("../images/download_icon.png") no-repeat left center transparent;
}

.documentationButton:before{
    background: url("../images/doc_icon.png") no-repeat left center transparent;
}


/*  Disable Read More message*/
.parentclass .node-readmore
{
  display: none;
}
