[
    {
        "object.className": "ProtImportMovies",
        "object.id": "2",
        "object.label": "Import movies",
        "object.comment": "",
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Movie's folder|%(SCIPION_HOME)s/data/tests/relion13_tutorial/betagal/Micrographs|2~",
        "filesPattern": "*.mrcs",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": ~Voltage|300|4~,
        "sphericalAberration": ~Spherical aberration|2|4~,
        "amplitudeContrast": ~Amplitude contrast|0.1|4~,
        "magnification": 59000,
        "samplingRateMode": 0,
        "samplingRate": ~Sampling rate|3.54|4~,
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": ~Dose per frame|0.0|4~,
        "gainFile": null,
        "darkFile": null,
        "dataStreaming": true,
        "timeout": 7200,
        "fileTimeout": 30,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    },
    {
        "object.className": "XmippProtMovieGain",
        "object.id": "313",
        "object.label": "xmipp3 - movie gain",
        "object.comment": "",
        "runName": null,
        "runMode": 0,
        "frameStep": 30,
        "movieStep": ~Gain estimation movie step|1|4~,
        "useExistingGainImage": false,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMovies": "2.outputMovies"
    },
    {
        "object.className": "ProtMotionCorr",
        "object.id": "56",
        "object.label": "Motioncorr",
        "object.comment": "",
        "runName": null,
        "runMode": 0,
        "gpuMsg": "True",
        "GPUIDs": "0",
        "alignFrame0": 1,
        "alignFrameN": 0,
        "useAlignToSum": true,
        "sumFrame0": 1,
        "sumFrameN": 0,
        "binFactor": 1.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "doSaveAveMic": true,
        "doSaveMovie": false,
        "doComputePSD": false,
        "doComputeMicThumbnail": false,
        "computeAllFramesAvg": false,
        "extraParams": "",
        "useMotioncor2": true,
        "doApplyDoseFilter": false,
        "patchX": 5,
        "patchY": 5,
        "group": 1,
        "tol": 0.5,
        "doMagCor": false,
        "useEst": true,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "defectFile": null,
        "extraParams2": "",
        "doSaveUnweightedMic": true,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMovies": "2.outputMovies"
    },
    {
        "object.className": "ProtCTFFind",
        "object.id": "118",
        "object.label": "Ctffind",
        "object.comment": "",
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "ctfDownFactor": 1.0,
        "useCtffind4": true,
        "astigmatism": 100.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 3.15,
        "stepPhaseShift": 0.2,
        "resamplePix": true,
        "lowRes": 0.05,
        "highRes": 0.35,
        "minDefocus": 0.25,
        "maxDefocus": 4.0,
        "windowSize": 256,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMicrographs": "56.outputMicrographs"
    },
    {
        "object.className": "ProtMonitorSummary",
        "object.id": "164",
        "object.label": "Summary Monitor",
        "object.comment": "",
        "runName": null,
        "runMode": 0,
        "inputProtocols": ["2","56","118","313"],
        "samplingInterval": 60,
        "stddevValue": 0.04,
        "ratio1Value": 1.15,
        "ratio2Value": 4.5,
        "maxDefocus": 40000.0,
        "minDefocus": 1000.0,
        "astigmatism": 2000.0,
        "monitorTime": 30000.0,
        "cpuAlert": 101.0,
        "memAlert": 101.0,
        "swapAlert": 101.0,
        "doGpu": false,
        "gpusToUse": "0",
        "doNetwork": false,
        "netInterfaces": 1,
        "doDiskIO": false,
        "doMail": true,
        "emailFrom": "noreply-biocomp@cnb.csic.es",
        "emailTo": "user@domain",
        "smtp": "localhost",
        "publishCmd": ""
    },
    {
        "object.className": "ProtRelion2Autopick",
        "object.id": "200",
        "object.label": "relion - auto-picking",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "runType": 1,
        "micrographsSelection": 0,
        "micrographsNumber": 10,
        "referencesType": 1,
        "gaussianPeak": 0.1,
        "particleDiameter": ~Particle diameter in Å|180|3~,
        "lowpassFilterRefs": 20,
        "highpassFilterMics": -1,
        "angularSampling": 5,
        "refsHaveInvertedContrast": true,
        "refsCtfCorrected": true,
        "ignoreCTFUntilFirstPeak": false,
        "pickingThreshold": 0.25,
        "interParticleDistance": -1,
        "maxStddevNoise": 1.1,
        "shrinkFactor": 0.0,
        "doGpu": false,
        "gpusToUse": "",
        "extraParams": "",
        "fomLabel": null,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "inputMicrographs": "56.outputMicrographs",
        "ctfRelations": "118.outputCTF"
    },
    {
        "object.className": "XmippProtExtractParticles",
        "object.id": "323",
        "object.label": "xmipp3 - extract particles",
        "object.comment": "",
        "runName": null,
        "runMode": 0,
        "downsampleType": 0,
        "downFactor": 1.0,
        "boxSize": 64,
        "doBorders": true,
        "doRemoveDust": true,
        "thresholdDust": 5.0,
        "doInvert": true,
        "doFlip": true,
        "doNormalize": true,
        "normType": 2,
        "backRadius": -1,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "ctfRelations": "118.outputCTF",
        "inputCoordinates": "200.outputCoordinates"
    }
]