{% extends 'wizards/wiz_base.html' %} 
{% block title %} Spider Custom Mask {% endblock %}
{% block name %} Spider Custom Mask {% endblock %}
{% block head %}
	<script type="text/javascript" src="{{raphael}}"></script>
	<script>
		function returnParams(){
			putSelection('input#firstRadius_val', '{{params.label.2}}_input');
			putSelection('input#sdFactor_val', '{{params.label.0}}_input');
			putSelection('input#secondRadius_val', '{{params.label.3}}_input');
			putSelection('input#maskThreshold_val', '{{params.label.1}}_input');
		};
		
		function previewCustomMask(){
			var path = $('tr#{{obj.getObjId}}').attr('value');
			var firstRadius = $('input#firstRadius_val').val();
			var sdFactor = $('input#sdFactor_val').val();
			var secondRadius = $('input#secondRadius_val').val();
			var maskThreshold = $('input#maskThreshold_val').val();
			
			previewSpiderCustomMask(
					path, 
					firstRadius, 
					sdFactor, 
					secondRadius, 
					maskThreshold
			);
		}
	</script>
{% endblock %}	
{% block list %}
	<tr id="{{obj.getObjId}}" class="no-selected" value="{{obj.text}}">
		<td>{{obj.basename}}</td>
	</tr>
{% endblock %} 

{% block images %}
	<tr>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image1"></div> -->
				<img id="image1"/>
			</div>{{params.labelText.0}}
		</td>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image2"></div> -->
				<img id="image2"/>
			</div>{{params.labelText.1}}
		</td>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image3"></div> -->
				<img id="image3"/>
			</div>{{params.labelText.2}}
		</td>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image4"></div> -->
				<img id="image4"/>
			</div>{{params.labelText.3}}
		</td>
	</tr>
	<tr>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image5"></div> -->
				<img id="image5"/>
			</div>{{params.labelText.4}}
		</td>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image6"></div> -->
				<img id="image6"/>
			</div>{{params.labelText.5}}
		</td>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image7"></div> -->
				<img id="image7"/>
			</div>{{params.labelText.6}}
		</td>
		<td>
			<div id="wrapper" class="small_image">
<!-- 				<div id="image8"></div> -->
				<img id="image8"/>
			</div>{{params.labelText.7}}
		</td>
	</tr>
{% endblock %} 

{% block options %}
<table>
	<tr>
		<td>
			First Radius
			<input id="firstRadius_val" type="text" value="{{params.value.2}}"/>
		</td>
		<td>
			First Threshold
			<input id="sdFactor_val" type="text" value="{{params.value.0}}"/>
		</td>
	</tr>
	<tr>
		<td>
			Second Radius
			<input id="secondRadius_val" type="text" value="{{params.value.3}}"/>
		</td>
		<td>
			Mask Threshold
			<input id="maskThreshold_val" type="text" value="{{params.value.1}}"/>
		</td>
	</tr>
	<tr>
		<td>
			<a href="javascript:previewCustomMask();" class="buttonGrey">Preview</a>
		</td>
	</tr>
</table>
<script>
	// Apply the masks at the beginning
 	window.onload = previewCustomMask();
</script>
{% endblock %}

{% block function %}
	onclick="returnParams()"
{% endblock %}
