{% extends 'wizards/wiz_base.html' %} 
{% block title %} Bandpass Filter {% endblock %} 
{% block name %} Bandpass Filter {% endblock %} 
{% block head %}
	<script>
		function returnParams(){
			putSelection('input#high_val', 'highFreq_input');
			putSelection('input#low_val', 'lowFreq_input');
			putSelection('input#decay_val', 'freqDecay_input');
		}		
	</script>
{% endblock %} 
{% block list %}

{% for obj in objects %}
{% if forloop.counter0 == 0 %} 
<script>
	firstElm  = {{obj.getObjId}};
</script>
{% endif %}
<tr id="{{obj.getObjId}}" class="no-selected"
	onclick="compositeBandpass(($(this)),$('#low_val').attr('value'),$('#high_val').attr('value'),$('#decay_val').attr('value'));" value="{{obj.text}}">
	<td>{{obj.basename}}</td>
</tr>
{% endfor %} {% endblock %} {% block images %}
<tr>
	<td>
		<div id="wrapper" class="image">
			<img id="particle"/>
		</div>Image
	</td>
	<td>
		<div id="wrapper" class="image">
			<img id="imgFiltered"/>
		</div>Filtered
	</td>
</tr>
{% endblock %} 
{% block options %}
<fieldset id="sliderOptions">
	<legend>Frequencies</legend>
	<table id="fourierTable">
		<tr>
			<td>
				<div id="highFou">
					{% if mode == 0  or mode == 2 %}
					<span id="title_freq">High freq<span>
					<div id="sliderLite" class="slider_high"></div>
					<div id="slider_high_result">{{highFreq}}</div>
					{% else %}
					<div id="slider_high_result" style="display:none;">{{highFreq}}</div>
					{% endif %}
					<input id="high_val" type="hidden" value="{{highFreq}}"/>
				</div>
			</td>
			<td>
				<div id="lowFou">
					{% if mode == 1 or mode == 2 %}
					<span id="title_freq">Low freq<span>
					<div id="sliderLite" class="slider_low"></div>
					<div id="slider_low_result">{{lowFreq}}</div>
					{% else %}
					<div id="slider_low_result" style="display:none;">{{lowFreq}}</div>
					{% endif %}
					<input id="low_val" type="hidden" value="{{lowFreq}}"/>
				</div>
			</td>
			<td>
				<div id="decayFou">
					<span id="title_freq">Decay<span>
					<div id="sliderLite" class="slider_decay"></div>
					<div id="slider_decay_result">{{decayFreq}}</div>
					<input id="decay_val" type="hidden" value="{{decayFreq}}"/>
				</div>
			</td>
		</tr>
	</table>
</fieldset>
<script>
$(".slider_low").slider({
	animate : true,
	range : "min",
	value : "{{lowFreq}}",
	min : 0.00,
	max : 0.50,
	step : 0.01,
	//this gets a live reading of the value and prints it on the page
	slide : function(event, ui) {
		$("#slider_low_result").html(ui.value);
	},
	//this updates the hidden form field so we can submit the data using a form
	change : function(event, ui) {
		$('#low_val').attr('value', ui.value);
		//update the image filtered
 		previewBandpassFilter(ui.value,$('#high_val').attr('value'),$('#decay_val').attr('value'));
	}
});
$(".slider_high").slider({
	animate : true,
	range : "min",
	value : "{{highFreq}}",
	min : 0.00,
	max : 0.50,
	step : 0.01,
	//this gets a live reading of the value and prints it on the page
	slide : function(event, ui) {
		$("#slider_high_result").html(ui.value);
	},
	//this updates the hidden form field so we can submit the data using a form
	change : function(event, ui) {
		$('#high_val').attr('value', ui.value);
		//update the image filtered
		previewBandpassFilter($('#low_val').attr('value'),ui.value,$('#decay_val').attr('value'));	
	}
});
$(".slider_decay").slider({
	animate : true,
	range : "min",
	value : "{{decayFreq}}",
	min : 0.00,
	max : 0.50,
	step : 0.01,
	//this gets a live reading of the value and prints it on the page
	slide : function(event, ui) {
		$("#slider_decay_result").html(ui.value);
	},
	//this updates the hidden form field so we can submit the data using a form
	change : function(event, ui) {
		$('#decay_val').attr('value', ui.value);
		//update the image filtered
		previewBandpassFilter($('#low_val').attr('value'),$('#high_val').attr('value'),ui.value);
	}
});
//Load the First Element of the list
window.onload = compositeBandpass($("tr#"+firstElm),$('#low_val').attr('value'),$('#high_val').attr('value'),$('#decay_val').attr('value'));
</script>
{% endblock %}
{% block function %}
	onclick="returnParams()"
{% endblock %}
