<!DOCTYPE html>
<html lang='es'>
<head>
<title>Wizard - {% block title %}{% endblock %}</title>
<meta charset='utf-8'>
<!-- CSS -->
<link href="{{general_style}}" rel="stylesheet" type="text/css">
<link href="{{wizard_style}}" rel="stylesheet" type="text/css">
<link href="{{jquery_ui_style}}" rel="stylesheet" type="text/css"/>
<link href="{{font_awesome}}" rel="stylesheet" type="text/css">
<!-- JS -->
<script type="text/javascript" src="{{jquery}}"></script>
<script type="text/javascript" src="{{jquery_ui}}"></script>
<script type="text/javascript" src="{{wizard_utils}}"></script>
<script type="text/javascript" src="{{raphael}}"></script>
<script>
	var firstElm;
	
	function putSelection(input_ori, input_des){
		var value = $(input_ori).val();
		window.opener.document.getElementById(input_des).value = value;
		window.close();
	}
</script>
{% block head %} {% endblock %}
</head>
<body>
<h3 id="wizName">Project {{projectName}} > Wizard: {% block name %}{% endblock %}</h3>
	<div class="layout">
		<div class="elm1">
			<table id="list" cellspacing="0">
				<thead>
					<tr>
						<th>Object</th>
					</tr>
				</thead>
				<tbody>
					{% block list %}{% endblock %}
				</tbody>
			</table>
		</div>
		<div class="elm2">
			<table class="images" cellspacing="0">
				{% block images %}{% endblock %}
			</table>
			<div class="options">
				{% block options %}{% endblock %}
			</div>
		</div>
	</div>	
	<div class="buttons">
		<a href="#" {% block function %}{% endblock %} class="btn buttonGrey"><i class="fa fa-check"></i>Select</a>
		<a href="javascript:window.close()" class="btn buttonGrey"><i class="fa fa-times"></i>Close</a>
	</div>
</body>
</html>
