[formatters]
keys: detailed,simple
 
[handlers]
keys: console,syslog
 
[loggers]
keys: root, pyworkflow
 
[formatter_simple]
format: %(name)s:%(levelname)s:  %(message)s
 
[formatter_detailed]
format: %(asctime)s %(name)s:%(levelname)s:  %(message)s

[handler_console]
class=StreamHandler
level=INFO
formatter=detailed
args=(sys.stdout,)
 
[handler_syslog]
class=logging.handlers.RotatingFileHandler
level=INFO
formatter=detailed
args=("/home/antonio/Documents/scipion.log",'a',10000)


[logger_pyworkflow]
level: INFO
qualname: pyworkflow
handlers: console,syslog
 
[logger_root]
handlers: console,syslog
