{% extends 'showj/showj_base.html' %} 
{% block head %}
<!-- JS -->
<script type="text/javascript" src="{{jquery_ui}}"></script>

<!-- TABLE STYLES 
Overwrite general section property for table view -->
<style type="text/css">
section {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
</style>

<!-- JS TO CONTROL THRESHOLD SLIDER -->
{% if form.typeVolume.value != 'pdb' %}
<script type="text/javascript">
$(function() {
	$( "#slider" ).slider({
		range: "min",
		value: {{threshold}},
		min: {{minStats}},
		max: {{maxStats}},
		change: function( event, ui ) {
			value = ui.value/100
			$( "#amount" ).val(+ (value) );
			av_map_level(value)
		}
	});
	$( "#amount" ).val($( "#slider" ).slider( "value" ) );
});

function av_execute(command){
	  document.av.debugOn();
	  document.av.execute(command);
	  
}

function av_map_level(l){
  av_execute("map volMap -level " + l + ";map volMap -reread true;");
}
</script>
{% endif %}
{% endblock %}

{% block content_menu %}{% endblock %}
			
{% block content_view %}

<div id="astexContainer">

	<!-- ASTEX VIEWER -->
	{% load static %}
	
	<applet
		width="600px" height="600px" name="av"
		archive="{% static "astex/OpenAstexViewer.jar" %}"
		codebase=".."
		code="MoleculeViewerApplet.class">
		
	<!-- 			<param name="script" value="map load volMap /static/astex/tmp/emd_1042.map.gz 1 0.285;
				map volMap contour 0 solid on;
				radius 50;
				center map volMap;
				view -background lightgrey;
				map volMap -reread true;"> -->
				
		{% if form.typeVolume.value == 'pdb' %}		
			
			<!-- <param name="molecule1" value="/static/astex/tmp/2DYS.pdb"> -->
			<param name="molecule1" value="{{volLink}}">
			
				
		{% else %}
						
			<param name="script" value="map load volMap {{volLink}} 2 {{threshold}};
				map volMap contour 0 solid on;
				radius 50;
				center map volMap;
				view -background lightgrey;
				map volMap -reread true;">
			
		{% endif %}
		
		   
	</applet>

	{% if form.typeVolume.value != 'pdb' %}
	 	<div>
			<p>
				<label for="amount">{{messages_properties.LABEL_THRESHOLD}}</label>
				<input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
			</p>
			<div id="slider"></div>
		</div>
	{% endif %}	
	
</div>
			
{% endblock %}
