{% extends 'base_grid.html' %}

{% block title %} - {{msg.SHOWJ_TITLE}}{% endblock %}


{% block content_head %}
<!-- CSS -->
<style type="text/css">
/* body > #mainContainer { height: auto; min-height: 100%; }  */

/* HEADER */



/* NAV (TOP MENU) */
/* nav {
	height: 55px;
	width: 100%;
	background-color: #7a0000;
	color: #fff;
	font: 16px Tahoma;
}

nav ul {
	padding: 20px 15px 20px 20px;
}

nav ul li {
	padding: 5px 10px 5px 0px;
	display: inline;
} */

/* FOOTER */



/* ASIDE (BOTTOM MENU) */
aside {
	height: 55px;
 	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e3e3e3 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	
/* 	padding-left: 20px; */
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 
}

aside button {
	border: 0px;
	cursor: pointer;
	height: 27px;
}

aside form{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
}

aside .sectionMenu {
	margin-right: 5px;
	margin-left: 5px;
	/* display: inline-block; */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	/* 	display: flex; */
	
	display:inline-fixed;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
/* 	max-height: 10px; */
/* 	width:auto; */
/* 	background-color: blue; */
/* 	border: 2px solid black; */
/* 	padding: 10px 0px; */
}

aside .subSectionMenu {
	margin-right: 10px;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
/* 	display: flex; */
	
/* 	position: fixed; */
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

aside .textMenu {
	color: #000;
	font: 14px Helvetica;
/* 	margin-right: 8px; */
}

.sectionMenu>select {
	width:7em;
}

aside #colRowMode {
/* 	margin-right: 15px; */
}

aside .menuIcon {
	margin-right: 5px;
/* 	width: 17px;
    height: 17px; */
}

aside .menuInputNumber {
	width: 28px;
	background-color: #FFF;
	font: 11px Helvetica;
	color: #000;
	text-align: center;
	height: 20px;
	/* border-color: #9c0101; */
	border-color: #A7;
/* 	padding-right: 3px; */
}

aside .submitButton{
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px; 
	border: 0px;
	font-size: 0px;
	line-height: 0px
}

aside .tableOn{
	background-image: url({{abs_url}}/resources/showj/tableViewOn.png);
}

aside .tableOff{
	background-image: url({{abs_url}}/resources/showj/tableViewOff.png);
}

aside .galleryOn{
	background-image: url({{abs_url}}/resources/showj/galleryViewOn.png);
}

aside .galleryOff{
	background-image: url({{abs_url}}/resources/showj/galleryViewOff.png);
}

aside .visualizeVolOn{
	background-image: url({{abs_url}}/resources/showj/volumeOn.png);
}

aside .visualizeVolOff{
	background-image: url({{abs_url}}/resources/showj/volumeOff.png);
}

aside .arrowSectionMenu{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
/* 	display: flex; */
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-o-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	margin: 4px;
}


/* aside #optionsSubSectionMenu{
	z-index: 999;
	display:none;
} */
aside .arrowImage{
	margin: 1px;
}

aside div>ul{
	display: none;
	list-style: none;
 	position: relative;
	left: -200px;
	float: left;
	width: 230px;
	top:20px;
}

aside .optionsListOn{
	display: block;
	z-index:1;
} 
aside li{
	list-style: none;
	float:left;
	margin: 0 0.5em;
	display: block;
	width: 220px;
	height: 20px;
	background-color: #EAEBEC;
	padding: 2px 10px;
}

aside li:first-child{
	padding-top: 10px;
}	
aside li:last-child{
	padding-bottom: 10px;
}

/* MAIN SECTION */
section {
	padding: 20px;
	
/* 	display: -webkit-box !important;      OLD - iOS 6-, Safari 3.1-6
  	display: -moz-box !important;         OLD - Firefox 19- (buggy but mostly works)
  	display: -ms-flexbox !important;      TWEENER - IE 10
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: -webkit-flex !important;
	display: flex !important;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-o-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; */
	
}

section .img_container {
	padding: 2px;
	display: inline-block;
}

section .img_container:hover {
	border:1px solid black;
	margin: -1px;
/* 	background-color:black; */
}


section .img_inner_container{
	position: relative; 
}


section .enabledGallery {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}

section .imageTitle{
	/* position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 998;
	display:none; 
	width: 100%;*/
	/* background-color: rgb(50, 1, 1); */
	height: 20px;
	color: #FFF;
}

.image_selected {
/* 	background-color: #000; */
	background-color: Firebrick;
}


.tableImages{
	display: block;
	margin: 0 auto;
}

.multipleSelectionToolContainer{
	display:none;
	z-index:999;
/* 	background-color: #eaebec; */
	background-color: Firebrick;;
/* 	color: #6e6e6e; */
	color: black;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-o-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;

	position: absolute;
	
	border:2px solid Firebrick;
/* 	border-radius: 0.5em; */
	
}

.optionListTitle{
	background-color:Firebrick;
	color:white;
	display:block;
	text-align: center;
	
}

.multipleSelectionTitle{
	background-color:Firebrick;
	color:white;
	width:100%;
	display:block;
	text-align: center;
	
}

.multipleSelectionToolItem{
	cursor: pointer;
	padding: 5px;
	margin: 1px;
	border: 1px solid black;
	background-color: white;
}

.multipleSelectionToolItem:hover{
	color:Firebrick;
	background-color: #eaebec;
}

.pressedButton{
	opacity:0.5;
}

/* GALLERY VIEW */
#column_label {
	background-color: #eaebec;
	font: 12px Helvetica;
	text-align: center;
}

/* TABLE VIEW */
.row_selected{
	background-color: #F3CBCB !important;
}

#data_table {
	width: 100%;
	border-spacing: 4px;
	text-align: center;
}

#table_container thead tr{
	height: 20px;
	
}

#table_container th{
	font-family: Helvetica;
	white-space: nowrap;
	padding: 8px;
	border: 0px;
}

#table_container tbody td{
	font-family: Helvetica;
}
.iconHeader{
	width:20px;
	height:20px;
}

#table_container tbody tr.odd{
	background-color: #FFF;
}

#table_container { /* 	overflow:auto;*/
	width: 100%;
}

/* TABLE COLUMN VIEW */
#data_table_transpose td{
	font-family: Helvetica;
	padding: 8px;
	border: 0px;
}

/* DATATABLE STYLE */
#data_table_filter input{
	font-size:16px;
	padding: 2px 2px 0px 3px;
}
#data_table_length{
	margin-bottom: 10px;
	
}

#data_table_filter{
	margin-bottom: 10px;
	width:20%;
}

#displayTableContainer{
	display: inline;
}

#data_table_info{
	margin: 10px 0px;
}

#data_table_paginate{
	margin: 10px 0px;
}

/* TABLE CONFIGURATION */
#tableConfigurationContainer{
	overflow: hidden;
}
#configurationContainer{
	display:none;
	margin: 20px;
	width: 60%;
}

#tableConfigurationButtonBar{
	text-align: center;
}

#firstTableConfiguration{
	float:left;
}

#secondTableConfiguration{
	float:right;
}

/* FIX FOR DATABLE ARROW BUTTON FIT IN ONE LINE */
.css_left {float: left;}
.css_right {float: right;}

.DataTables_sort_icon{float: left;}
</style>

<!-- <link href="{{showj_css}}" rel="stylesheet" type="text/css"> -->
<!-- JS -->
<script type="text/javascript" src="{{jquery_waypoints}}"></script>
<script type="text/javascript" src="{{jquery_hover_intent}}"></script>
<script type="text/javascript" src="{{showj_js}}"></script>
<script type="text/javascript" src="{{utils}}"></script>
<script type="text/javascript" src="{{config}}"></script>


<script type="text/javascript">
jQuery(function($) {
	// Just call the inner layout once to initialize it. This
	// must happen before the outer layout is initialized. It
	// will be automatically resized when the outer layout is
	// resized.
	
	var outerContainer = $('.layout-outer');

	function layout() {
		outerContainer.layout({resize: false});
	}
	layout();

	$(window).resize(layout);
	
	});
</script>

<script type="text/javascript">

function convertJSON(json){
	for ( var i in json.columnsLayout) {
		switch(json.columnsLayout[i].visible){
			case "True":
				json.columnsLayout[i].visible = true
				break;
			case "False":
				json.columnsLayout[i].visible = false
				break;
		}
		switch(json.columnsLayout[i].renderable){
			case "True":
				json.columnsLayout[i].renderable = true
				break;
			case "False":
				json.columnsLayout[i].renderable = false
				break;
		}
	}
	return json;
}

/*  Dimension of the last image sent by the server*/
var currentImageDim=parseInt('{{defaultZoom}}')
/*  If true images are regenerated in the server*/
var recallServer=false
/* Force regenerate even when src and data_real-src have the same value */
var forceRecallServer=false
/*  Last zoom set properly. In case the new value is too big or small it is set back to the previousZoom*/
var previousZoom='{{defaultZoom}}'
/* Initialize Table Layout Configuration from json variable */
var jsonTableLayoutConfiguration = convertJSON({{tableLayoutConfiguration|safe}})

	

//console.log(columns)

// DEBUG
console.log("jsonTableLayoutConfiguration", jsonTableLayoutConfiguration)

$(document).ready(function(){
	{% if form.mode.value != 'column' and dataset.getNumberSlices > 0 %}
		setImageSize(true)
		initializeZoomEvents();
		{% if form.mode.value == 'gallery' %}
			initializeColRowModeEvents('{{form.mode.value}}')
			initializeColsRowsEvents()
		{% endif %}
	{% endif %}
	initializeComboBoxEvents('{{defaultZoom}}')
	initializeArrowEvents()
	initializeCheckboxEvents()
	
	/* Avoid enter key submit form */
	$('.menuInputNumber').keypress(function(e) {
	  var code = e.keyCode || e.which; 
	  if (code == 13) {               
	    e.preventDefault();
	    return false;
	  }
	});
}); 
</script>


<script type="text/javascript">	
function setImageSize(refreshElement){
		if({{dataset.getNumberSlices}} == 0)
			return
		/* Gets zoom and image width and height */
		zoom_element=$('#id_zoom')
		
		imageHeight_val = parseInt({{imageDimensions.1}})
		imageWidth_val = parseInt({{imageDimensions.0}})
		ratio = imageHeight_val/imageWidth_val 
		/* Check if zoom in pixel */
		if (zoom_element.val().indexOf('px')!=-1){
			
			/*  Get zoom value*/			
			zoom_val=parseInt(zoom_element.val().split('px')[0])
			
			/* Calculate zoom in percentage */
			if (imageHeight_val<imageWidth_val){
				tableImages_width=zoom_val
				zoom_val_perc=Math.round((zoom_val/imageWidth_val)*100)
			}else{
				tableImages_width=Math.round(zoom_val*(imageWidth_val/imageHeight_val))+1
				zoom_val_perc=Math.round((zoom_val/imageHeight_val)*100)
			}
		}else{
			zoom_val_perc=zoom_element.val()
			
			if (imageHeight_val<imageWidth_val){
				zoom_val_pixel=Math.round((zoom_val_perc*imageWidth_val)/100)
				tableImages_width=zoom_val_pixel
			}else{
				zoom_val_pixel=Math.round((zoom_val_perc*imageHeight_val)/100)
				tableImages_width=zoom_val_pixel
			}
		}
		
		/* CHECK ZOOM VALUE IS A NUMBER BETWEEN MAX AND MIN */
		tableImages_height=tableImages_width*ratio
		
	// 	tableImages_width = parseInt(tableImages_width)
	// 	tableImages_height = parseInt(tableImages_height)
		
		if (isNaN(tableImages_width) 
				|| tableImages_width > {{form.imageMaxWidth.value}} 
				|| tableImages_width < {{form.imageMinWidth.value}} 
				|| isNaN(tableImages_height) 
				|| tableImages_height > {{form.imageMaxHeight.value}} 
				|| tableImages_height < {{form.imageMinHeight.value}}){
			console.log('{{msg.ERROR_DIMENSIONS}}' + tableImages_width + 'px x ' + tableImages_height +'px.')
			zoom_element.val(previousZoom)
			setImageSize(true)
			return;
		}
		else{
			previousZoom=tableImages_width+"px"
		}
		
		if (refreshElement==true){
			zoom_element.val(zoom_val_perc)
		}
	
		
		if (tableImages_width>currentImageDim*1.2 || tableImages_width<currentImageDim*0.8){
			recallServer=true
			currentImageDim=tableImages_width
		}	
		else{
			recallServer=false
		}
		
		d = new Date();
		$(".tableImages").each(function(){
		   	var newSrc = "";
			if ($(this).attr("real_src") != undefined){
			   	if ($(this).data("real_src").indexOf("&dim") != -1){
			   		newSrc = $(this).data("real_src").substring(0,$(this).data("real_src").indexOf("&dim"));
			   	}
			   	else{
					newSrc = $(this).data("real_src");   
			   	}
			   	
			   	$(this).attr("height",tableImages_height)
			   	$(this).attr("width","auto")
			   	/* $(this).attr("width",tableImages_width) */
		   	
		   		realSrc = newSrc.concat("&dim="+tableImages_width).concat("&"+d.getTime())
				$(this).data("real_src", realSrc);
				
			}
			else{
				$(this).attr("height",tableImages_height)
	// 		   	/* $(this).attr("width",tableImages_width) */
			   	$(this).attr("width","auto")
			}
	   })
	   
	   /* If images with new dimensions need to be generated in the server, waypoints jquery script manages it */
	   if (recallServer){reloadImages(false)}
		
		if ($("#colRowModeImage").length > 0 && $("#colRowModeImage").attr("src").indexOf("On") != -1){initializeColsRows()}
}
</script>

{% block head %}  {% endblock %}
{% endblock %}

{% block header %}	
	{% include "showj/showj_header.html" %}
{% endblock %}

{% block menu %}
	{% include "showj/showj_menu.html" %}
{% endblock %}

{% block content %}	

	{% block content_view %}
		<!-- Here is defined the visualization mode -->
	{% endblock %}	
	
	{% if 0 %}
		<!-- Not used in the volume visualization -->
		{% if not dataset.getNumberSlices > 1 %}
			<!-- Hidden menu for multiple selection tool -->
			{% include "showj/showj_selection_menu.html" %}
		{% endif %}
	{% endif %}	

{% endblock %}	


