<script type="text/javascript" src="{{showj_menu_utils}}" ></script>

<!-- <div id="asideMainContainer"> -->
	<form id="showjForm" action="{{abs_url}}/showj/" method="post"> {% csrf_token %}
		<div id="modeContainer" class="sectionMenu">
			
			<!-- TABLE -->
			<input type="button" id="table" name="select_mode" title="Change to mode Table"
			 {% if form.typeVolume.value == 'pdb'%}
			 onclick="return false;"
			 {% else %}
			 onclick="changeMode('table');"
			 {% endif %}
			 class="submitButton
			 {% if form.mode.value != 'table' %}
			  tableOff
			 {% else %}
			  tableOn
			 {% endif %}	
			  " 
			  {% if form.mode.value == 'column' %}
			  disabled
			  {% endif %}
			  />
			
			<!-- GALLERY -->
			<input type="button" id="gallery" name="select_mode" title="Change to mode Gallery"
			 {% if form.typeVolume.value == 'pdb'%}
			 onclick="return false;"
			 {% else %}
			 onclick="changeMode('gallery');"
			 {% endif %}
			 class="submitButton
			 {% if form.mode.value != 'gallery'  %}
			  galleryOff
			 {% else %}
			  galleryOn
			 {% endif %}
			 "
			 {% if form.mode.value == 'column' %}
			  disabled
			 {% endif %}
			 />

			<!-- VOLUME VISUALIZE WITH CHIMERA HEADLESS -->
 
			 {% if dataset.getNumberSlices > 1 or form.typeVolume.value == 'pdb' %} 
			<input type="button" id="volume_chimera" name="select_mode" title="Change to mode 3D Visualization"
			onclick="changeMode('volume_chimera');" 
			class="submitButton
 			 {% if form.mode.value != 'volume_chimera' %} 
 			 visualizeVolOff 
 			 {% else %} 
 			  visualizeVolOn 
 			 {% endif %} 
 			 " 
			 />
			 {% endif %}

			<!-- VOLUME VISUALIZE WITH JSMOL -->
<!--			
 			{% if dataset.getNumberSlices > 1 or form.typeVolume.value == 'pdb'%}  
			<input type="button" id="volume_jsmol" name="select_mode" 
			onclick="changeMode('volume_jsmol');"
			class="submitButton
			 {% if form.mode.value != 'volume_jsmol' %}
			 visualizeVolOff
			 {% else %}
			  visualizeVolOn
			 {% endif %}
			 "
			 />
			 {% endif %} 
-->

		</div>
		
		{% if not form.zoom.is_hidden %}
			<div id="zoomContainer" class="sectionMenu">
				<i class="fa fa-search" style="margin-right:5px"></i>
				{{ form.zoom }}
				
				<div id="arrowContainer" class="arrowSectionMenu">
					<img src="{{abs_url}}/resources/showj/arrowUp.png" class="arrowImage">
					<img src="{{abs_url}}/resources/showj/arrowDown.png" class="arrowImage">
				</div>
			</div>
		{% endif %}
		
		{% if not form.goto.is_hidden %}
			<div id="gotoContainer" class="sectionMenu">
				<img src="{{abs_url}}/resources/showj/goto.png" class="menuIcon">
				{{ form.goto }}
				
				<div id="arrowContainer" class="arrowSectionMenu">
					<img src="{{abs_url}}/resources/showj/arrowUp.png" class="arrowImage">
					<img src="{{abs_url}}/resources/showj/arrowDown.png" class="arrowImage">
				</div>
			</div>
		{% endif %}
		
		{% if not form.zoom.is_hidden or not form.goto.is_hidden %}
			<div class="sectionMenu">
				<img src="{{abs_url}}/resources/showj/separator.png" class="menuIcon">
			</div>
		{% endif %}	
		
		{% if form.mode.value == 'gallery' %}
		<div id="colRowContainer" class="sectionMenu" title="Modify the number of cols and rows">
			<button id="colRowMode"> 
				<img src="{{abs_url}}/resources/showj/colRowMode{{form.colRowMode.value}}.png" id="colRowModeImage" />
			</button>
			
			<div class="subSectionMenu" id="colsSubSectionMenu">
				<span class="textMenu">{{ form.cols.label_tag }}</span>
				{{ form.cols }}
				
				<div id="arrowContainer" class="arrowSectionMenu">
					<img src="{{abs_url}}/resources/showj/arrowUp.png" class="arrowImage">
					<img src="{{abs_url}}/resources/showj/arrowDown.png" class="arrowImage">
				</div>
			</div>
			<div class="subSectionMenu" id="rowsSubSectionMenu">
				<span class="textMenu">{{ form.rows.label_tag }}</span>
				{{ form.rows }}
				
				<div id="arrowContainer" class="arrowSectionMenu">
					<img src="{{abs_url}}/resources/showj/arrowUp.png" class="arrowImage">
					<img src="{{abs_url}}/resources/showj/arrowDown.png" class="arrowImage">
				</div>
			</div>
		</div>
		
		<div class="sectionMenu">
			<img src="{{abs_url}}/resources/showj/separator.png" class="menuIcon">
		</div>
		{% endif %}
	
		{% if form.blockComboBox.value != ''%}
		<div id="blockSelectorContainer" class="sectionMenu">
			<span class="textMenu"> {{ form.blockComboBox.label_tag }} </span>
			{{ form.blockComboBox }} 
		</div>
		{% endif %}
		
		<div id="metadataSelectorContainer" class="sectionMenu" title="Select the label to render">
			<span class="textMenu">
			{% if not form.labelsToRenderComboBox.is_hidden %}
				{{ form.labelsToRenderComboBox.label_tag }}
			{% endif %}
			</span>
			{{ form.labelsToRenderComboBox }}
		</div>
		
		<div id="volumeSelectorContainer" class="sectionMenu" title="Select the volume to render">
			<span class="textMenu">
			{% if not form.volumesToRenderComboBox.is_hidden %}
				{{ form.volumesToRenderComboBox.label_tag }}
			{% endif %}
			</span>
			{{ form.volumesToRenderComboBox }}
		</div>
		
		<div id="resliceSelectorContainer" class="sectionMenu">
			<span class="textMenu">
			{% if not form.resliceComboBox.is_hidden %}
				{{ form.resliceComboBox.label_tag }}
			{% endif %}
			</span>
			{{ form.resliceComboBox }}
		</div>
	
		{% if form.blockComboBox.value != '' or form.labelsToRenderComboBox.value != '' or form.volumesToRenderComboBox.value != '' or not form.resliceComboBox.is_hidden %}	
			<div class="sectionMenu">
				<img src="{{abs_url}}/resources/showj/separator.png" class="menuIcon">
			</div>
		{% endif %}
		
		{% if not form.mirrorY.is_hidden or not form.applyTransformMatrix.is_hidden or not form.onlyShifts.is_hidden or not form.wrap.is_hidden %}
			
			<div id="optionsContainer" class="sectionMenu" title="Modify the images properties">
			<a id="optionsButton" href="javascript:showHideOptionMenu();" class="btn buttonGrey" style="padding: 5px 10px;">
				<i class="fa fa-wrench"></i>
			</a>
				{% include "showj/showj_tool_menu.html" %}
			</div>
		{% endif %}  
		{% block content_menu %}{% endblock %}
		 
		{% for hidden in form.hidden_fields %}
	    {{ hidden }}
	    {% endfor %} 
	    
	    <!-- Hidden fields to storage temporally some list attributes. -->
	    <input type="hidden" id="listChangesItems" name="listChangesItems" value="">
	    <!--  In the volume case, the list just contains one element -->
		<input type="hidden" id="listSelectedItems" name="listSelectedItems" value="">
		<input type="hidden" id="listEnabledItems" name="listEnabledItems" value="">
		<!-- before mode used in showj -->
		<input type="hidden" id="oldModeShowj" name="oldModeShowj" value="">
		
		<!-- special render items -->
		<input type="hidden" id="renderItems" name="renderItems" value="">
		
	</form>
<!-- </div>	 -->
