<script>
function getModeList(){return "volume";}

$(document).ready(function(){
	var mode = document.forms['showjForm'].mode.value
	
	// Update the variable to know the old mode used
	$("input#oldModeShowj").val(mode)
	
	var listSelectedItems = [{{listSelectedItems}}];
 	$("input#listSelectedItems").val(listSelectedItems)
 	//console.log("selectedItems: " + listSelectedItems)

	if (mode == "table"){
	 	markSelectedItems(mode, listSelectedItems)
	} else if (mode == "gallery"){
// 		var index = $("select#id_volumesToRenderComboBox option:selected=selected").index()
// 		var index = document.getElementById("select#id_volumesToRenderComboBox").selectedIndex
// 		$("input#listSelectedItems").val(index+1)
		
// 		console.log("index: " + index)
	}
 	
 	$("select#id_volumesToRenderComboBox").change(function(){
 		new Messi("<i class='fa fa-picture-o'/>  Loading Volume...",{
			modal : true
		});
 	});
 	
 	$("select#id_resliceComboBox").change(function(){
 		new Messi("<i class='fa fa-picture-o'/>  Loading Volume...",{
			modal : true
		});
 	});
 	
 	//console.log("setImageSize used with zoom value")
	setImageSize(true);
 	
});
</script>
	
