<script>

function createSubset(mode){
	
	switch(mode){
	
	case "micrographs":
		// create subsets with micrographs
		break;

	case "particles":
		// create subsets with particles
		break;
		
	case "volumes":
		// create subsets with volumes
		break;
	
	}
}

$(document).ready(function(){
	var mode = document.forms['showjForm'].mode.value
	var listSelectedItems = [{{listSelectedItems}}];
		
	switch(mode){
	    case "gallery":
	        // Came from the table mode
	        for (var x=0;listSelectedItems.length>x;x++){
	        	$("div#img_container___"+ listSelectedItems[x]).addClass("image_selected");
	        }
	        break;
	        
	    case "table":
	        // Came from the gallery mode
	    	for (var x=0;listSelectedItems.length>x;x++){
	    		$("tr#row_container___"+ listSelectedItems[x]).addClass("row_selected");
	    	}
	        break;
	}
	
});


</script>
	
	
<div id="asideMainContainer">
	<div id="createContainer" class="sectionMenu" style="float:right;">
		<a id="saveButton" href="javascript:createSubset('particles')" class="btn buttonRed" style="padding: 5px 10px;">
			Create Particles
		</a>
	</div>
	
<!-- 		<div class="sectionMenu"> -->
<!-- 			<img src="/resources/showj/separator.png" class="menuIcon"> -->
<!-- 		</div> -->

</div>	
