{% extends 'showj/showj_base.html' %} 
{% block head %}
	<!-- Overwrite general section property for volume view with Chimera -->
	<style type="text/css">
		section {
		  display: -webkit-box;
		  -webkit-box-orient: horizontal;
		  -webkit-box-pack: center;
		  -webkit-box-align: center;
		 
		  display: -moz-box;
		  -moz-box-orient: horizontal;
		  -moz-box-pack: center;
		  -moz-box-align: center;
		  
		  display: box;
		  box-orient: horizontal;
		  box-pack: center;
		  box-align: center;
		}
		
		#slider {  
	 		position:absolute; 
			width: 9em;
			margin: 5px 0 5px 0;
		}
		
	</style>
	<script src="{{jquery_ui}}"></script>
	<script src="{{philogl}}"></script>
	<link rel="stylesheet" href="{{jquery_ui_css}}">
	<link rel="stylesheet" href="{{messi_css}}">
  	<script type="text/javascript">
  	
  	function putWait(){
		new Messi("<i class='fa fa-picture-o'/>  Loading Volume...",{
			modal : true
		});
		/* console.log("putWait") */
  	}
  	
  	function removeWait(){
  		$('.messi').remove();
		$('.messi-modal').remove();
		/* console.log("removeWait") */
  	}
	
  	function updateThreshold(){
  		putWait();
  		
		var threshold = $("input#thresholdValue").val();
		if (threshold == undefined){
			threshold = $("input#thresholdValue").attr("value");
		}
		
		$.ajax({
			type : "GET",
			url : getSubDomainURL() + "/get_chimera_html/?volPath={{volPath}}&threshold="+threshold,
			dataType : "html",
// 			async: false,
			success : function(data) {
				$("div#chimeraContent").empty();
				$("div#chimeraContent").html(data);
				webGLStart();
				removeWait();
			}
		});	
	}

  	$(document).ready(function(){
  		// Loading WebGL
  		webGLStart();
  		
  		// Event changing the volume
  		$("select#id_volumesToRenderComboBox").change(function(){
  			putWait();
  		})

  		// Press Ctrl event when change threshold
		document.getElementById('thresholdValue').addEventListener('keypress', function(event) {
	        if (event.keyCode == 13) {
	        	updateThreshold();
	        }
    	});
		
		// Slider invoke and events
  		$("span#slider").slider({
  			animate : true,
  			range: "min",
  			value: {{threshold}},
  			min: {{minStats}},
  			max: {{maxStats}},
  			step: 0.01,
  			slide : function(event, ui) {
  				$("#thresholdValue").val(ui.value);
  			},
  			change: function(event, ui) {
  				updateThreshold();
  			}
  		});
  	});
	</script>
{% endblock %}
{% block content_menu %}{% endblock %}
{% block content_view %}
	<div id="params"> 
		{% autoescape off %}
		<div id="chimeraContent">
			{{chimeraHtml}}
		</div>
		{% endautoescape %}
		
		<div id="thresholdParams">
			Threshold
			<input id="thresholdValue" type="text" value="{{threshold}}" style="width:11.2em;text-align:center;"/>
			<input id="thresholdButton" class="btn buttonRed" type="button" value="Refresh" onclick="updateThreshold();"/>
		</div>
		
		<div>
			Min [{{minStats}}], Max [{{maxStats}}]
			<br />
			<span id="slider"></span>
		</div>
	</div>
	
{% endblock %}

{% block content_end_page %}
<div id="fallback" class="fallback"></div>
<!-- <canvas id="molview" width="320" height="240"></canvas> -->

<script>
	if (!PhiloGL.hasWebGL()) {
	  document.body.className = 'no-webgl';
	  document.getElementById('fallback').innerHTML = ''
	  + '<div style="margin:10px;">'
	    + 'Your web browser does not support or is not configured for WebGL.'
	    + '  See <a href="http://get.webgl.org/">WebGL Support</a>'
	    + ' for more information.'
	    + '</div>';
	  }
</script>
	
{% endblock %}

{% block bottom_menu %}
	<!-- VOLUME MENU -->
	{% include "showj/showj_bottom_vol_menu.html" %}
{% endblock %}

