{% extends 'base_grid.html' %}

{% block title %} - {{msg.SHOWJ_TITLE}}{% endblock %}

{% block content_head %}
<!-- CSS -->
<link href="{{showj_css}}" rel="stylesheet" type="text/css">
<!-- JS -->
<script type="text/javascript" src="{{jquery_waypoints}}"></script>
<script type="text/javascript" src="{{jquery_hover_intent}}"></script>
<script type="text/javascript" src="{{showj_js}}"></script>
<script type="text/javascript" src="{{utils}}"></script>

<script type="text/javascript">
jQuery(function($) {
	// Just call the inner layout once to initialize it. This
	// must happen before the outer layout is initialized. It
	// will be automatically resized when the outer layout is
	// resized.
	/* 	var outerContainer = $('.layout-outer');

	function layout() {
		outerContainer.layout({resize: false});
	}
	layout();

	$(window).resize(layout); */
	
	var outerContainer = $('.layout-outer');

	function layout() {
		outerContainer.layout({resize: false});
	}
	layout();

	$(window).resize(layout);
	
	});
</script>

<script type="text/javascript">
/*  Initialize variable to keep changes*/
var changes={}
/*  Dimension of the last image sent by the server*/
var currentImageDim=parseInt('{{defaultZoom}}')
/*  If true images are regenerated in the server*/
var recallServer=false
/* Force regenerate even when src and data_real-src have the same value */
var forceRecallServer=false
/*  Last zoom set properly. In case the new value is too big or small it is set back to the previousZoom*/
var previousZoom='{{defaultZoom}}'
/* Initialize Table Layout Configuration from json variable*/
var jsonTableLayoutConfiguration = {{tableLayoutConfiguration|safe }}
console.log("json",jsonTableLayoutConfiguration)

$(document).ready(function(){ 

	{% if form.mode.value != 'column' and dataset.getNumberSlices > 0 %}
	setImageSize(true)
	initializeZoomEvents();
	{% if form.mode.value == 'gallery' %}
	initializeColRowModeEvents('{{form.mode.value}}')
	initializeColsRowsEvents()
	{% endif %}
	{% endif %}
	initializeComboBoxEvents('{{defaultZoom}}')
	initializeArrowEvents()
	initializeCheckboxEvents()
	
	/* Avoid enter key submit form */
	$('.menuInputNumber').keypress(function(e) {
	  var code = e.keyCode || e.which; 
	  if (code  == 13) {               
	    e.preventDefault();
	    return false;
	  }
	});
	
}); 
</script>
{% if form.mode.value != 'column' and dataset.getNumberSlices > 0 %}
<script type="text/javascript">	
function setImageSize(refreshElement){
	/* Gets zoom and image width and height */
	zoom_element=$('#id_zoom')
	
	imageHeight_val = parseInt({{imageDimensions.1}})
	imageWidth_val = parseInt({{imageDimensions.0}})
	ratio = imageHeight_val/imageWidth_val 
	
	/* Check if zoom in pixel */
	if (zoom_element.val().indexOf('px')!=-1){
		/*  Get zoom value*/			
		zoom_val=parseInt(zoom_element.val().split('px')[0])
		
		/* Calculate zoom in percentage */
		if (imageHeight_val<imageWidth_val){
			tableImages_width=zoom_val
			zoom_val_perc=Math.round((zoom_val/imageWidth_val)*100)
		} 
		else{
			tableImages_width=Math.round(zoom_val*(imageWidth_val/imageHeight_val))+1
			zoom_val_perc=Math.round((zoom_val/imageHeight_val)*100)
		}
		
	}
	else{
		zoom_val_perc=zoom_element.val()
		if (imageHeight_val<imageWidth_val){
			zoom_val_pixel=Math.round((zoom_val_perc*imageWidth_val)/100)
			tableImages_width=zoom_val_pixel
		} 
		else{
			zoom_val_pixel=Math.round((zoom_val_perc*imageHeight_val)/100)
			tableImages_width=zoom_val_pixel
		}
	}
	
	/*  CHECK ZOOM VALUE IS A NUMBER BETWEEN MAX AND MIN*/
	tableImages_height=tableImages_width*ratio
		
	if (isNaN(tableImages_width) || tableImages_width>{{form.imageMaxWidth.value}} || tableImages_width<{{form.imageMinWidth.value}} || tableImages_height>{{form.imageMaxHeight.value}} || tableImages_height<{{form.imageMinHeight.value}}){
		alert('{{msg.ERROR_DIMENSIONS}}' + tableImages_width + 'px x ' + tableImages_height +'px.')
		zoom_element.val(previousZoom)
		setImageSize(true)
		return;
	}
	else{
		previousZoom=tableImages_width+"px"
	}
	
	if (refreshElement==true){
		zoom_element.val(zoom_val_perc)
	}
	
	if (tableImages_width>currentImageDim*1.2 || tableImages_width<currentImageDim*0.8){
		recallServer=true
		currentImageDim=tableImages_width
	}	
	else{
		recallServer=false
	}
	
	d = new Date();
	$(".tableImages").each(function(){
	   	var newSrc = "";
	   	if ($(this).data("real_src").indexOf("&dim") != -1){
	   		newSrc = $(this).data("real_src").substring(0,$(this).data("real_src").indexOf("&dim"));
	   	}
	   	else{
			newSrc = $(this).data("real_src");   
	   	}
	   	$(this).attr("height",tableImages_width)
	   	$(this).attr("width",tableImages_width)
   	
   		realSrc = newSrc.concat("&dim="+tableImages_width).concat("&"+d.getTime())
		$(this).data("real_src", realSrc);
   })
   
   /* If images with new dimensions need to be generated in the server, waypoints jquery script manages it */
   if (recallServer){reloadImages(false)}
	
	if ($("#colRowModeImage").length >0 && $("#colRowModeImage").attr("src").indexOf("On")!=-1){initializeColsRows()}
}
</script>
{% endif %}

{% block head %}{% endblock %}

{% endblock %}

{% block content_header %}	
	{% include "header.html" with page_mode="showj"%} 
{% endblock %}

{% block menu %}
	{% include "showj/showj_menu.html" %}
{% endblock %}

{% block content %}
	
<div id="content_view">
	{% block content_view %}{% endblock %}
	{% if form.mode.value == 'table' %}
		{% include "showj/showj_table.html" %} 
	{% elif form.mode.value == 'gallery' %}
		{% include "showj/showj_gallery.html" %}
	{% elif form.mode.value == 'column' %}
		{% include "showj/showj_column.html" %} 
	{% elif form.mode.value == 'volume_astex' %}
		{% include "showj/showj_volume_astex.html" %}
	{% elif form.mode.value == 'volume_chimera' %}
		{% include "showj/showj_volume_chimera.html" %} 
	{% endif %}
</div>

<!-- Hidden menu for multiple selection tool -->
<div class="multipleSelectionToolContainer" id="multipleSelectionTool">
	{% if dataset.getTable.hasEnabledColumn %}
	<div class="multipleSelectionToolItem" onclick="multipleEnableDisableImage('enable')">{{msg.LABEL_ENABLE}}</div>
	<div class="multipleSelectionToolItem" onclick="multipleEnableDisableImage('disable')">{{msg.LABEL_DISABLE}}</div>
	{% endif %}
	<div class="multipleSelectionToolItem" onclick="multipleSelect('all')">{{msg.LABEL_SELECT_ALL}}</div>
	<div class="multipleSelectionToolItem" onclick="multipleSelect('from')">{{msg.LABEL_SELECT_FROM}}</div>
	<div class="multipleSelectionToolItem" onclick="multipleSelect('to')">{{msg.LABEL_SELECT_TO}}</div>
</div>	
{% endblock %}	


