 <script>
function getModeList(){return "image";}
 
$(document).ready(function(){
	var mode = document.forms['showjForm'].mode.value
	
	// Update the variable to know the old mode used
	$("input#oldModeShowj").val(mode)
	
	// Mark the selected items in the template
	var listSelectedItems = [{{listSelectedItems}}];
 	$("input#listSelectedItems").val(listSelectedItems)
	markSelectedItems(mode, listSelectedItems)
	
	// Update the enabled items in the template
	var listEnabledItems = [{{listEnabledItems}}];
 	$("input#listEnabledItems").val(listEnabledItems)
	updateEnabledItems(mode, listEnabledItems)
	
	// Update the ListChanges html variable
 	$("input#listChangesItems").val("");

 	
	/* ---- MODE TABLE UTILS ---------------*/
	//Update the enabled/selected items in the template between pagination
 	$("div.dataTables_paginate").click(function(){
 		initializeMultipleSelectionTool() //showj_table_utils.js
 		applyChangesToUpdate() //showj_menu_utils.js
 	});
 	
 	// Update the enabled/selected items in the template after change size of  
 	// the elements to show. 
 	$("div#data_table_length > label > select").change(function(){
 		initializeMultipleSelectionTool() //showj_table_utils.js
 		applyChangesToUpdate() //showj_menu_utils.js
 	});
 	
 	$('img.tableImages').dblclick(function(){
 		var src = $(this).attr("src") 
 		var imagePath = src.split("&image=")[1]
 		zoomImagePopUp(imagePath)
 	});
 	
 	//console.log("setImageSize used with zoom value")
	setImageSize(true);
});
</script>
	

<!-- 
<div id="asideMainContainer">
	<div id="createContainer" class="sectionMenu" style="float:right;">
		<a id="saveButton" href="javascript:createSubset()" class="btn buttonRed" style="padding: 5px 10px;">
			Create Subset
		</a>
	</div>

	<div class="sectionMenu">
		<img src="/resources/showj/separator.png" class="menuIcon">
	</div>

</div>	
 -->
