{% extends 'base_grid.html' %}

{% block title %} - {{msg.SHOWJ_TITLE}}{% endblock %}


{% block content_head %}
<!-- CSS -->
<link href="{{showj_css}}" rel="stylesheet" type="text/css">
<!-- JS -->
<script type="text/javascript" src="{{jquery_waypoints}}"></script>
<script type="text/javascript" src="{{jquery_hover_intent}}"></script>
<script type="text/javascript" src="{{showj_js}}"></script>
<script type="text/javascript" src="{{utils}}"></script>
<script type="text/javascript" src="{{config}}"></script>


<script type="text/javascript">
jQuery(function($) {
	// Just call the inner layout once to initialize it. This
	// must happen before the outer layout is initialized. It
	// will be automatically resized when the outer layout is
	// resized.
	
	var outerContainer = $('.layout-outer');

	function layout() {
		outerContainer.layout({resize: false});
	}
	layout();

	$(window).resize(layout);
	
	});
</script>

<script type="text/javascript">

function convertJSON(json){
	for ( var i in json.columnsLayout) {
		switch(json.columnsLayout[i].visible){
			case "True":
				json.columnsLayout[i].visible = true
				break;
			case "False":
				json.columnsLayout[i].visible = false
				break;
		}
		switch(json.columnsLayout[i].renderable){
			case "True":
				json.columnsLayout[i].renderable = true
				break;
			case "False":
				json.columnsLayout[i].renderable = false
				break;
		}
	}
	return json;
}

/*  Dimension of the last image sent by the server*/
var currentImageDim=parseInt('{{defaultZoom}}')
/*  If true images are regenerated in the server*/
var recallServer=false
/* Force regenerate even when src and data_real-src have the same value */
var forceRecallServer=false
/*  Last zoom set properly. In case the new value is too big or small it is set back to the previousZoom*/
var previousZoom='{{defaultZoom}}'
/* Initialize Table Layout Configuration from json variable */
var jsonTableLayoutConfiguration = convertJSON({{tableLayoutConfiguration|safe}})
var columns = []
	
var i = 0;
for (key in jsonTableLayoutConfiguration.columnsLayout) {
    columns[i] = jsonTableLayoutConfiguration.columnsLayout[key]
    i ++
}
console.log(columns)

// DEBUG
console.log("jsonTableLayoutConfiguration", jsonTableLayoutConfiguration)

$(document).ready(function(){
	{% if form.mode.value != 'column' and dataset.getNumberSlices > 0 %}
		setImageSize(true)
		initializeZoomEvents();
		{% if form.mode.value == 'gallery' %}
			initializeColRowModeEvents('{{form.mode.value}}')
			initializeColsRowsEvents()
		{% endif %}
	{% endif %}
	initializeComboBoxEvents('{{defaultZoom}}')
	initializeArrowEvents()
	initializeCheckboxEvents()
	
	/* Avoid enter key submit form */
	$('.menuInputNumber').keypress(function(e) {
	  var code = e.keyCode || e.which; 
	  if (code == 13) {               
	    e.preventDefault();
	    return false;
	  }
	});
}); 
</script>

<!-- {% if form.mode.value != 'column' and dataset.getNumberSlices > 0 %} -->
<script type="text/javascript">	
function setImageSize(refreshElement){
	/* Gets zoom and image width and height */
	zoom_element=$('#id_zoom')
	
	imageHeight_val = parseInt({{imageDimensions.1}})
	imageWidth_val = parseInt({{imageDimensions.0}})
	ratio = imageHeight_val/imageWidth_val 
	
	/* Check if zoom in pixel */
	if (zoom_element.val().indexOf('px')!=-1){
		console.log("zoom in px")
		
		/*  Get zoom value*/			
		zoom_val=parseInt(zoom_element.val().split('px')[0])
		
		/* Calculate zoom in percentage */
		if (imageHeight_val<imageWidth_val){
			tableImages_width=zoom_val
			zoom_val_perc=Math.round((zoom_val/imageWidth_val)*100)
		}else{
			tableImages_width=Math.round(zoom_val*(imageWidth_val/imageHeight_val))+1
			zoom_val_perc=Math.round((zoom_val/imageHeight_val)*100)
		}
	}else{
		zoom_val_perc=zoom_element.val()
		
		if (imageHeight_val<imageWidth_val){
			zoom_val_pixel=Math.round((zoom_val_perc*imageWidth_val)/100)
			tableImages_width=zoom_val_pixel
		}else{
			zoom_val_pixel=Math.round((zoom_val_perc*imageHeight_val)/100)
			tableImages_width=zoom_val_pixel
		}
	}
	
	/* CHECK ZOOM VALUE IS A NUMBER BETWEEN MAX AND MIN */
	tableImages_height=tableImages_width*ratio
	
	
// 	tableImages_width = parseInt(tableImages_width)
// 	tableImages_height = parseInt(tableImages_height)
	
	if (isNaN(tableImages_width) 
			|| tableImages_width > {{form.imageMaxWidth.value}} 
			|| tableImages_width < {{form.imageMinWidth.value}} 
			|| isNaN(tableImages_height) 
			|| tableImages_height > {{form.imageMaxHeight.value}} 
			|| tableImages_height < {{form.imageMinHeight.value}}){
		console.log('{{msg.ERROR_DIMENSIONS}}' + tableImages_width + 'px x ' + tableImages_height +'px.')
		zoom_element.val(previousZoom)
		setImageSize(true)
		return;
	}
	else{
		previousZoom=tableImages_width+"px"
	}
	
	if (refreshElement==true){
		zoom_element.val(zoom_val_perc)
	}

	
	if (tableImages_width>currentImageDim*1.2 || tableImages_width<currentImageDim*0.8){
		recallServer=true
		currentImageDim=tableImages_width
	}	
	else{
		recallServer=false
	}
	
	d = new Date();
	$(".tableImages").each(function(){
	   	var newSrc = "";
		if ($(this).attr("real_src") != undefined){
		   	if ($(this).data("real_src").indexOf("&dim") != -1){
		   		newSrc = $(this).data("real_src").substring(0,$(this).data("real_src").indexOf("&dim"));
		   	}
		   	else{
				newSrc = $(this).data("real_src");   
		   	}
		   	
		   	$(this).attr("height",tableImages_height)
		   	$(this).attr("width","auto")
		   	/* $(this).attr("width",tableImages_width) */
	   	
	   		realSrc = newSrc.concat("&dim="+tableImages_width).concat("&"+d.getTime())
			$(this).data("real_src", realSrc);
			
		}
		else{
			$(this).attr("height",tableImages_height)
// 		   	/* $(this).attr("width",tableImages_width) */
		   	$(this).attr("width","auto")
		}
   })
   
   /* If images with new dimensions need to be generated in the server, waypoints jquery script manages it */
   if (recallServer){reloadImages(false)}
	
	if ($("#colRowModeImage").length > 0 && $("#colRowModeImage").attr("src").indexOf("On") != -1){initializeColsRows()}
}
</script>
<!-- {% endif %} -->
{% block head %}  {% endblock %}
{% endblock %}

{% block header %}	
	{% include "showj/showj_header.html" %}
{% endblock %}

{% block menu %}
	{% include "showj/showj_menu.html" %}
{% endblock %}

{% block content %}	

	{% block content_view %}
		<!-- Here is defined the visualization mode -->
	{% endblock %}	
	
	{% if 0 %}
		<!-- Not used in the volume visualization -->
		{% if not dataset.getNumberSlices > 1 %}
			<!-- Hidden menu for multiple selection tool -->
			{% include "showj/showj_selection_menu.html" %}
		{% endif %}
	{% endif %}	

{% endblock %}	


