<!DOCTYPE html>
<!--
# **************************************************************************
# *
# * Authors:    Airen Zaldivar (azaldivar@cnb.csic.es)
# *
# * Unidad de  Bioinformatica of Centro Nacional de Biotecnologia , CSIC
# *
# * This program is free software; you can redistribute it and/or modify
# * it under the terms of the GNU General Public License as published by
# * the Free Software Foundation; either version 2 of the License, or
# * (at your option) any later version.
# *
# * This program is distributed in the hope that it will be useful,
# * but WITHOUT ANY WARRANTY; without even the implied warranty of
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# * GNU General Public License for more details.
# *
# * You should have received a copy of the GNU General Public License
# * along with this program; if not, write to the Free Software
# * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
# * 02111-1307  USA
# *
# *  All comments concerning this program package may be sent to the
# *  e-mail address 'azaldivar@cnb.csic.es'
# *
# **************************************************************************
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Scipion Web</title>

    <!-- Bootstrap core CSS -->
    <link href="{{css_root}}/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{css_root}}/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" src="{{config}}"></script>
  </head>

  <body>
 
    <nav class="navbar navbar-fixed-top mynav">
      <div class="container ">              
          <a href="#">
			  <img class="headerImage"  src="{{abs_url}}/resources/scipion_logo_normal.png">
		  </a>          
		  <div  class="logoLine">
					<a href="http://i2pc.cnb.csic.es/LoadHome.htm"> 
						<img class="scipionLogo" src="{{abs_url}}/resources/logo_i2pc_with_title.png" height="40px"/> </a>
					<a href="http://www.structuralbiology.eu/"> 
						<img class="scipionLogo" src="{{abs_url}}/resources/logoInstruct.png"  height="40px"/> </a>
					<a href="http://www.cnb.csic.es/"> 
						<img class="scipionLogo" src="{{abs_url}}/resources/logo_cnb_without_title.gif" height="30px" /> </a>
				</div>
      </div>
      
      <div class="headerLine"></div>
    </nav> 
   
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron backimage">
      <div class="container mainHead">
        <h2>Integration, Reproducibility and Analysis</h2>
        <p>Scipion is an image processing framework to obtain 3D models<br>
           of macromolecular complexes using Electron Microscopy. 
        </p>
        <p><a class="btn btn-danger btn-lg" href="javascript:goWithSubDomainURL('/download_form/')" role="button">
			<span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp;&nbsp;Download&nbsp;&nbsp;</a>
		</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Documentation</h3>
          <p>Find  out more information about Scipion for both users and developers.
          Check how to install Scipion, the list of integrated protocols
          and some introductory tutorials. Learn how to extend Scipion with new
          protocols, its API or description of our development tools.
          </p>
          <p><a class="btn btn-default" href="http://scipion.cnb.csic.es/docs/" role="button">Go to Documentation &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Web Tools</h3>
          <p>Give a try to our online processing workflows, which are a subset
          of the protocols in Scipion to provide a first try without any local installation.
          Current web-tools include initial volume estimation, movie alignment and 
          local resolution (ResMap).
          </p>
          <p><a class="btn btn-default" href="javascript:goWithSubDomainURL('/services/')" role="button">Go to Web Tools &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> News and Events</h3>
          <p>Keep an eye on latest Scipion news. Check out about bugfixes, new features and 
          release plan. Don't miss the next Scipion workshop or any related event. Don't hesitate to contact
          us for any feeback or if you want to organize a workshop at your institution.
          </p>
          <p><a class="btn btn-default" href="http://scipion.cnb.csic.es/bin/view/TWiki/NewsAndEvents" role="button">Go to News and Events&raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
		  <div class="footerLink">
        <a href="http://www.gnu.org/copyleft/gpl.html" > © 2015 · Scipion
				is licensed under the GNU General Public License </a>
		</div>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{jquery}}"></script>
    <script src="{{js_root}}/bootstrap-3.3.5/bootstrap.min.js"></script>
  </body>
</html>
