{% extends "layouts/100.html" %}
{% load staticfiles i18n %}

{% block title %}Scipion Download{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{config}}"></script>
{% endblock %}

{% block main_col %}
	<div>
		<h1 class="primary">Scipion download</h1>
		<P>The download of {{fileToDownload}} will start now. If it doesn't, click on this <a class="lead" href="/{% static 'install/' %}{{fileToDownload}}">link</a></P>
	</div>

	<div>
		<h2 class="primary">How to install</h2>
		<P>For further information about installing Scipion, please go to our <a class="lead" href="https://github.com/I2PC/scipion/wiki/How-to-Install">How to install page</a></P>
	</div>

	<script type="text/javascript">
		 window.location="/{% static 'install/' %}{{fileToDownload}}";
	</script>
{% endblock %}