<script type="text/javascript">
	jQuery(function($) {
		launchHelp();
		var html = '<span id="helpTool">' +
		'<a href="javascript:launchHelp();"><i class="fa fa-question-circle" style="margin-right:5px"></i>Help</a>' +
		'</span>'
		$("span#toolbar").append(html)
	});

	function launchHelp(){
		$("#dialog").dialog({resizable: false,
							 position:['right','50%'],
							 });
	}
</script>

<div id="dialog" title="Let's start!">
  <p>
  	<strong>Step 1:</strong> Upload your Averages clicking in the box named: "Import Averages"</p> 
  <br />
  <p>
  	<strong>Step 2:</strong> Select a protocol, "Ransac" or "Eman Initial Volume" to use your averages. 
  	The parameters can be customized to adjust the results. Press "Execute"!</p>
  <br />
  <p>
  	<strong>Step 3:</strong> You can visualize your results in the bottom of the page, even to be downloaded! 
</div>
