{% extends 'base_flex.html' %}
{% block title %} - {{msg.LABEL_PROJECT}}{{projectName}}{% endblock %}

{% block head %}
<!-- CSS -->
<link href={{project_content_css}} rel="stylesheet" type="text/css">
<style type="text/css">

.ui-state-active {
	background: FireBrick !important;
	font-size: 0.9em !important;
	font-weight: bold !important;
	text-align: center !important;
	padding: 2px !important;
}
.ui-tabs-anchor{
	color: #000 !important;
	padding: .3em 1em !important;
}
.ui-state-active .ui-tabs-anchor{
	color: white !important;
} 
	
{% if mode != 'service' %}
.layout-outer>.west {
/* 	Mode default */
	overflow-y: auto;
	width: 20%;
}
{% endif %}
</style>

<!-- JS Libs -->
<script src={{jquery_treeview}} type="text/javascript"></script>
<script src={{jquery_cookie}} type="text/javascript"></script>
<script src={{project_content_utils}} type="text/javascript"></script>
<script src={{graph_utils}} type="text/javascript"></script>
<script type="text/javascript">
	jQuery(function($) {
		// Initialize tabs.
		$("#tabs").tabs();
		showLog('output_log')
		
		// Just call the inner layout once to initialize it. This
		// must happen before the outer layout is initialized. It
		// will be automatically resized when the outer layout is
		// resized.
		$('.layout-inner').layout();
		var outerContainer = $('.layout-outer');
		function layout() {
			outerContainer.layout({resize: false});
		}
		layout();
		$(window).resize(layout);
		$('.layout-inner > .north').resizable({handles: 's'});
		$('.layout-outer > .west').resizable({handles: 'e',	stop: layout});
		
	});
	
	$(document).ready(function() {
    	refreshRuns(1);
//     	window.location.reload(true)
	});	
	
	/* $(window).bind('keydown', function(event) {
	    if (event.ctrlKey || event.metaKey) {
	        switch (String.fromCharCode(event.which).toLowerCase()) {
	        
	        case 'f':
	            event.preventDefault();
	            openSearchProtocolPopup('');
	            break;
	        }	        
	    }
	}); */
	
</script>

{% endblock %} 

{% block sideLeft %}
<div id="westContainer">
	<div class="viewTree">
		<label>{{msg.LABEL_WORKFLOW}}</label>
		<select id="viewsTree" name="viewsTree" onChange="javascript:changeTreeView();">
			{% for choice in choices %}
			 	<option value="{{forloop.counter0}}" {% if forloop.counter0 == choiceSelected %} selected {% endif %}>{{choice}}</option> 
			{% endfor %}
		</select>
	</div> 
	
	<div class="protFieldsetTree">
	{% include "project_content/tree_prot_view.html" %}
	</div>
</div>
{% endblock %} 

{% block headerNorth %}
<div id="headerToolbar">
	<span id="toolbar" style="float:right;">
		<span id="treeTool">
			<a href="javascript:switchMode(1);"><i class="fa fa-sitemap" style="margin-right:5px"></i>{{msg.LABEL_TREE}}</a>
		</span>
		<span id="treeSmallTool">
			<a href="javascript:switchMode(2);"><i class="fa fa-sitemap" style="margin-right:5px"></i>{{msg.LABEL_SMALLTREE}}</a>
		</span>
		<span id="listTool" style="display:none;">
			<a href="javascript:switchMode(0);"><i class="fa fa-bars" style="margin-right:5px"></i>{{msg.LABEL_LIST}}</a>
		</span>
		<span id="refreshTool" style="display:both;">
			<a href="javascript:window.location.reload(true);"><i class="fa fa-refresh" style="margin-right:5px"></i>{{msg.LABEL_REFRESH}}</a>
		</span>
	</span>
	<div id="toolbar" style="display:none;">
<!-- 		EDIT BUTTON -->
		<span id="editTool" style="display:none;">
			<a id="editTool" href="">
				<i class="fa fa-pencil" style="margin-right:5px"></i>
				{{msg.LABEL_EDIT}}
			</a>
		</span>
<!-- 		COPY BUTTON -->
		<span id="copyTool" style="display:none;">
			<a id="copyTool" href="">
				<i class="fa fa-copy" style="margin-right:5px"></i>
				{{msg.LABEL_COPY}}
			</a>
		</span>
<!-- 		DELETE BUTTON -->
		<span id="deleteTool" style="display:none;">
			<a id="deleteTool" href="">
				<i class="fa fa-trash-o" style="margin-right:5px"></i>
				{{msg.LABEL_DELETE}}
			</a>
		</span>
<!-- 		STOP BUTTON -->
		<span id="stopTool" style="display:none;">
			<a id="stopTool" href="">
				<i class="fa fa-stop" style="margin-right:5px"></i>
				{{msg.LABEL_STOP}}
			</a>
		</span>
	</div>
</div>
{% endblock %}
{% block contentNorth %}
<div id="runsInfo">
	{% include "project_content/run_table_graph.html" %}
</div>
{% endblock %}

{% block contentCenter %}
<div class="tabContaier" id="tabs" style="height:100%;overflow-y:hidden;">
	<div id="listTabsHeader">
		<span id="buttonAnalyzeResult" style="display:None;">
			<a id="downloadTool" class="btn buttonGrey" style="border:1px solid black;color:black;"href="">
				<i class="fa fa-cloud-download" style="margin-right:5px">
				</i>
				Download Results
			</a>
			<a id="analyzeTool" class="btn buttonRed" href="">
				<i class="fa fa-eye" style="margin-right:5px">
				</i>
				{{msg.LABEL_ANALYZE}}
			</a>
		</span>
		
		<ul class="listTabs" id="tabs">
			<li><a href="#tab-data">{{msg.LABEL_SUMMARY}}</a></li>
			<li><a href="#tab-methods">{{msg.LABEL_METHODS}}</a></li>
			<li><a href="#tab-logs">{{msg.LABEL_LOGS}}</a></li>
		</ul>
	</div>
	<div style="height:90%;overflow-y:auto;">
		<div id="listTabsContent">
			<div id="tab-data" class="tabContents"> 
				<div id="listEx">
					<ul>
						<li>
							<strong>{{msg.LABEL_INPUT}}</strong>
							<ul id='protocol_input'></ul>
						</li>
						<li>
							<strong>{{msg.LABEL_OUTPUT}}</strong>
							<ul id='protocol_output'></ul>
						</li>
						<li>
							<strong>{{msg.LABEL_SUMMARY}}</strong>
							<ul id='protocol_summary'></ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="tab-methods" class="referenceLink">
				<p>{{msg.NO_INFO_METHODS}}</p>
			</div>
			<div id="tab-logs">
				
				<div class="header-logs">
					<span id="buttonAnalyzeResult">
						<a id="externalTool" class="fa fa-external-link" href="javascript:errorPopup('Log was not selected','Please select a log before.');"></a>
					</span>
					<a id="output_log" class="elm-header-log" href="javascript:showLog('output_log');">{{msg.LABEL_LOGS_OUTPUT}}</a>
					<a id="error_log" class="elm-header-log" href="javascript:showLog('error_log');">{{msg.LABEL_LOGS_ERROR}}</a>
					<a id="scipion_log" class="elm-header-log" href="javascript:showLog('scipion_log');">{{msg.LABEL_LOGS_SCIPION}}</a>
				</div>
				
				<div id="tab-logs-content" style="height:75%;position:absolute;overflow-y:auto;">
					<div id="tab-logs-output" class="tabContents" style="display:none;"><p>{{msg.NO_INFO_LOGS}}</p></div>
					<div id="tab-logs-error" class="tabContents" style="display:none;"><p>{{msg.NO_INFO_LOGS}}</p></div>
					<div id="tab-logs-scipion" class="tabContents" style="display:none;"><p>{{msg.NO_INFO_LOGS}}</p></div>
				</div>
				
			</div>
		</div>
	</div>
</div>

{% block service %}{% endblock %} 

{% endblock %}
