<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Scipion {% block title %}  {% endblock %}</title>
	<meta charset='utf-8'>
	<link href="/static/css/general_style.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="/resources/scipion_bn.png" />
	{% block head %}  {% endblock %}
</head>
<body>

	<div id="wrapper"> 	

		<div id="framecontentTop">
			<img class="logo" src="/resources/scipion_logo.png" alt="logoScipion" />
		</div><!-- #header-->
		
		<div id="framecontentLeft" >			
			{% block sideLeft %} {% endblock %}
		</div><!-- .sidebar#sideLeft -->
		
		<div id="maincontent">		
			{% block content %}	{% endblock %}				
		</div><!-- #middle-->
	
		<div id="framecontentBottom">			
		</div><!-- #footer -->
	</div>
	
</body>
</html>