<!DOCTYPE html>
<html lang='es'>
<head>
<title>Protocol Run: {{protocol}}</title>
<meta charset='utf-8'>
<link rel="icon" type="image/png" href={{favicon}} />
<!-- CSS -->
<link href={{css}} rel="stylesheet" type="text/css">
<!-- JS -->
<script src={{jquery}} type="text/javascript"></script>
<script src={{form}} type="text/javascript"></script>
</head>
<body>
	<h3>Protocol: {{protocol}}</h3>
	<div class="box">
		<table class="">
			<tr class="title">
				<td colspan="4">General</td>
			</tr>
			<tr class="element">
				<td class="recommended">Run Name</td>
				<td><input type="text" name="runName" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="normal">Show Comment?</td>
				<td><input type="radio" name="comment" value="Yes"
					onChange="javascript:alert('prueba');" />Yes <input type="radio"
					name="comment" value="No" onChange="javascript:alert('prueba');"
					checked />No</td>
			</tr>
			<tr class="element">
				<td class="normal">Comment:</td>
				<td><input type="text" name="comment" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="title">
				<td colspan="4">Input</td>
			</tr>
			<tr class="element">
				<td class="normal">Coordinates</td>
				<td><input type="text" name="coordinates" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
				<td class="ico"><a href=""><img src={{browse}} /></a></td>
			</tr>
			<tr class="element">
				<td class="recommended">Downsampling type</td>
				<td><input type="radio" name="downsampling" value="original"
					onChange="javascript:alert('prueba');" checked /> original<br />
					<input type="radio" name="downsampling" value="sameAsPicking"
					onChange="javascript:alert('prueba');" /> same as picking<br /> <input
					type="radio" name="downsampling" value="other"
					onChange="javascript:alert('prueba');" /> other<br /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="normal">Micrographs</td>
				<td><input type="text" name="micrographs" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
				<td class="ico"><a href=""><img src={{browse}} /></a></td>
			</tr>
			<tr class="element">
				<td class="normal">Family</td>
				<td><input type="text" name="family" value="DefaultFamily" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="normal">Particle box size</td>
				<td><input type="text" name="boxSize" value="0" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="title">
				<td colspan="4">Preprocess</td>
			</tr>
			<tr class="element">
				<td class="recommended">Dust Removal (Recomended)</td>
				<td><input type="radio" name="dustRemoval" value="Yes"
					onChange="javascript:evalCondition($(this));" checked />Yes <input
					type="radio" name="dustRemoval" value="No"
					onChange="javascript:evalCondition($(this));" />No</td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="normal">Threshold for dust removal</td>
				<td><input type="text" name="threshold" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="recommended">Phase flipping (Recomended)</td>
				<td><input type="radio" name="phaseFlipping" value="Yes"
					onChange="javascript:alert('prueba');" checked />Yes <input
					type="radio" name="phaseFlipping" value="No"
					onChange="javascript:alert('prueba');" />No</td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="recommended">Invert contrast</td>
				<td><input type="radio" name="invert" value="Yes"
					onChange="javascript:alert('prueba');" checked />Yes <input
					type="radio" name="invert" value="No"
					onChange="javascript:alert('prueba');" checked />No</td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="recommended">Normalize (Recomended)</td>
				<td><input type="radio" name="normalize" value="Yes"
					onChange="javascript:alert('prueba');" checked />Yes <input
					type="radio" name="normalize" value="No"
					onChange="javascript:alert('prueba');" checked />No</td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="recommended">Downsampling type</td>
				<td><input type="radio" name="normalization" value="original"
					onChange="javascript:alert('prueba');" checked />OldXmipp<br /> <input
					type="radio" name="normalization" value="sameAsPicking"
					onChange="javascript:alert('prueba');" />NewXmipp<br /> <input
					type="radio" name="normalization" value="other"
					onChange="javascript:alert('prueba');" />Ramp<br /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
			<tr class="element">
				<td class="recommended">Background radius</td>
				<td><input type="text" name="backgroundRadius" value="-1" /></td>
				<td class="ico"><a href=""><img src={{help}} /></a></td>
			</tr>
		</table>
	</div>

	<div class="boxBottom">
		<table class="">
			<tr>
				<td>Expert Level: <select class="expertise" name="expLevel"
					size=1 onChange="javascript:alert('prueba');">
						<option value="Normal">Normal</option>
						<option value="Advanced">Advanced</option>
						<option value="Expert">Expert</option>
				</select></td>
			</tr>
			<tr></tr>
			<tr>
				<td><a href=""><button class="buttonClose" type="button">Close</button></a>
					<a href=""><button class="buttonSave" type="button">Save</button></a>
					<a href=""><button class="buttonExec" type="button">Execute</button></a></td>
			</tr>
		</table>
	</div>
</body>
</html>