<!DOCTYPE html>
<html lang='es'>
	<head>
		<title>{{projectName}} hosts config</title>
		<meta charset='utf-8'>
		<link rel="icon" type="image/png" href={{favicon}} />
		<!-- CSS -->
		<link href={{css}} rel="stylesheet" type="text/css">
		<!-- JS -->
		<script src={{jquery}} type="text/javascript"></script>
		<script src={{utils}} type="text/javascript"></script>
		<script>	
			function getHost(hostLabel, projectName) {
				$.ajax({
					type : "GET",
					url : "/getHost/?hostLabel=" + hostLabel + "&projectName=" + projectName,
					dataType : "json",
					success : function(json) {
						// specifying a dataType of json makes jQuery pre-eval the response
						// for us ExecutionHostConfig
						host = json.host;
						document.getElementById("id_label").value = host.label
						document.getElementById("id_hostName").value = host.hostName
						document.getElementById("id_userName").value = host.userName
						document.getElementById("id_hostPath").value = host.hostPath
					}
				});
			}
			function seeHost(){
				
			}
			function newHost(){
			
			}
			function editHost(){
				 
			}
			function removeHost(){
				 if (confirm("Are you sure you want to remove ths host?")) {
				 	alert("Host succesfully removed");
				 } else {
				 	alert("Remove operation cancelled");
				 }
			}
		</script>
	</head>
	<body>
		<h3>{{projectName}} hosts config</h3>
		<br/>
		
		<table class="generalTable">
			<tr>
				<th>Configuration</th> 
				<th>Host name</th>
				<th>User name</th>
				<th>Host path</th>
			</tr>
			{% for host in hosts %}
			<tr id="{{host.label}}" onclick="getHost('{{host.label}}', '{{projectName}}');">
				<td>
					{{host.label}}
				</td>
				<td>
					{{host.hostName}}
				</td>	
				<td>
					{{host.userName}}
				</td>
				<td>
					{{host.hostPath}}
				</td>
			</tr>
			{% endfor %}
		</table>
		<br/>
		<button onclick="removeHost()" class="generalButton" type="button" style="">Remove</button>
		<br/>
		<br/>
		<form action="hosts" method="post">{% csrf_token %}
		{{ form.as_p }}
		<!-- 
		<table>
			<tr>
				<td>
					<label for="label">Scipion hosts: </label>
				</td>
				<td>
					<select name="scipionHostsCombo" SIZE=1 onChange="javascript:alert('prueba');"> 
						<option VALUE="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
						{% for scipionHost in scipionHosts %}
							<option VALUE="{{scipionHost.label}}">{{sciponHost.hostName}}</option>						
						{% endfor %}
					</select> 
				</td>
			</tr>
			<tr>
			
			</tr>
			<tr>
				<td>
					<label for="labelId">Configuration: </label>
				</td>
				<td>
					<input type="text" class="generalInput" id="labelId" name="label" size="30">
				</td>
			</tr>
			<tr>
				<td>
					<label for="hostNameId">Host name: </label>
				</td>
				<td>
					<input type="text" class="generalInput" id="hostNameId" name="hostName" size="30">
				</td>
			</tr>
			<tr>
				<td>
					<label for="userNameId">User name: </label>
				</td>
				<td>
					<input type="text" class="generalInput" id="userNameId" name="userName" size="30">
				</td>
			</tr>
			<tr>
				<td>
					<label for="hostPathId">Host path: </label>
				</td>
				<td>
					<input type="text" class="generalInput" id="hostPathId" name="hostPath" size="40"><br/>
				</td>
			</tr>	
		</table>
		 -->
		<button onclick="removeHost()" class="generalButton" type="button" style="">Clear</button>
		<input id="acceptButton" type='submit' value='Create' class="priorityButton" />
		</form>
	</body>
</html>
