<!DOCTYPE html>
<html lang='es'>
<head>
<title>Project Content</title>
<meta charset='utf-8'>
<!-- CSS -->
<link rel="icon" type="image/png" href={{favicon}} />
<link href={{css}} rel="stylesheet" type="text/css">
<link href={{treeview}} rel="stylesheet" type="text/css">
<!-- JS Libs -->
<script src={{jquery}} type="text/javascript"></script>
<script src={{jquery_cookie}} type="text/javascript"></script>
<script src={{jquery_treeview}} type="text/javascript"></script>
<script src={{launchTreeview}} type="text/javascript"></script>
</head>
<body>
	<div class="box">
		<div class="left">
			<img class="logo" src={{logo}} alt="logoScipion" /> <br />
			<div class="protTree">
				<fieldset>
					<legend>Protocols</legend>
					<fieldset class="protFieldsetTree">

						<ul id="browser" class="filetree">
							{% for project in projects %}
							<li><span class="section">Micrographs</span>
								<ul>
									<li><span class="protocol"><a href="">Import</a></span></li>
									<li><span class="protocol_base">Preprocess</span>
										<ul>
											<li><span class="protocol_class"><a href="">EmanProtPreprocess</a></span></li>
											<li><span class="protocol_class"><a href="">XmippProtPreprocess</a></span></li>
										</ul></li>
									<li><span class="protocol_base">CTF estimation</span>
										<ul>
											<li><span class="protocol_class"><a href="">XmippProtCTF</a></span></li>
											<li><span class="protocol_class"><a href="">ProtCTFFind</a></span></li>
										</ul></li>
								</ul></li>
							{% endfor %}
						</ul>
					</fieldset>
				</fieldset>
			</div>
		</div>

		<div class="right">
			<fieldset class="projFieldset">
				<legend>History</legend>
				<table border="1">
					<tr>
						<th>Run</th>
						<th>State</th>
						<th>Modified</th>
					</tr>
					<tr>
						<td>Table cell 1</td>
						<td>Table cell 2</td>
						<td>Table cell 3</td>
					</tr>
					<tr>
						<td>Table cell 1</td>
						<td>Table cell 2</td>
						<td>Table cell 3</td>
					</tr>
					<tr>
						<td>Table cell 1</td>
						<td>Table cell 2</td>
						<td>Table cell 3</td>
					</tr>
					<tr>
						<td>Table cell 1</td>
						<td>Table cell 2</td>
						<td>Table cell 3</td>
					</tr>
					<tr>
						<td>Table cell 1</td>
						<td>Table cell 2</td>
						<td>Table cell 3</td>
					</tr>
				</table>
			</fieldset>

		</div>
	</div>
</body>
</html>