{% extends 'base.html' %} 
{% block title %} - Projects {% endblock %}
{% block head %}	
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<link href={{messi_css}} rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{projectForm}} type="text/javascript"></script>
{% endblock %}	
{% block sideLeft %}			
	<center>		
		<a href="javascript:createProjectForm();" ><button class="priorityButton" type="button">Create Project</button></a>
	</center>
{% endblock %}		
{% block content %}
	<div class="projectsList">				
		{% for project in projects %}
			<ul>
				<li class="projList"><strong><a href="/project_content/?projectName={{project.projName}}"
						class="projName">{{project.projName}}</a></strong> <br /> Modified
					{{project.pTime}} <a href="javascript:deleteProjectForm('{{project.projName}}');" class="projRemove">Delete project</a>
				</li>
			</ul>
		{% endfor %}
	</div>
{% endblock %}	
