{% extends 'base.html' %} 
{% block title %} - Projects {% endblock %}
{% block head %}
	<link href={{css}} rel="stylesheet" type="text/css">
{% endblock %}	
{% block sideLeft %}			
	<center>		
		<button class="button" type="button">Create Project</button>
	</center>
{% endblock %}		
{% block content %}
	<div class="projectsList">				
		{% for project in projects %}
			<ul>
				<li class="projList"><strong><a href="/project_content/?projectName={{project.projName}}"
						class="projName">{{project.projName}}</a></strong> <br /> Modified
					{{project.pTime}} <a href="" class="projRemove">Delete project</a>
				</li>
			</ul>
		{% endfor %}
	</div>
{% endblock %}	





