<!DOCTYPE html>
<html lang='es'>
<head>
<title>Project {{project_name}}</title>
<meta charset='utf-8'>
<!-- CSS -->
<link rel="icon" type="image/png" href={{favicon}} />
<link href={{css}} rel="stylesheet" type="text/css">
<!-- JS Libs -->
<script src={{jquery}} type="text/javascript"></script>
<script src={{jquery_cookie}} type="text/javascript"></script>
<script src={{jquery_treeview}} type="text/javascript"></script>
<script src={{launchTreeview}} type="text/javascript"></script>
<script src={{popup}} type="text/javascript"></script>
</head>
<body>
	<div class="box">
		<div class="left">
			<img class="logo" src={{logo}} alt="logoScipion" /> <br />
			<div class="protTree">
				<fieldset>
					<legend>Protocols</legend>
					<fieldset class="protFieldsetTree">
						<ul id="browser" class="filetree">
							{% for section in sections %}
							<li><span class="section">{{section.name}}</span>
								<ul>
									{% for prot in section.childs %} {% if prot.tag == 'protocol'%}
									<li><span class="protocol"><a
											href="javascript:popup('/form/?protocol={{prot.name}}')">{{prot.name}}</a></span></li>
									{% elif prot.tag == 'protocol_base' %}
									<li><span class="protocol_base">{{prot.name}}</span>
										<ul>
											{% for prot2 in prot.childs %}
											<li><span class="protocol_class"> <a
													href="javascript:popup('/form/?protocol={{prot2.name}}')">
														{{prot2.name}} </a></span></li> {% endfor %}
										</ul></li> {% else %} No athletes. {% endif %} {% endfor %}
								</ul></li> {% endfor %}
						</ul>
					</fieldset>
				</fieldset>
			</div>
		</div>

		<div class="right">
			<h2 class="project_name">Project {{project_name}}</h2>
			<fieldset class="projFieldset">
				<table cellspacing='0'>
					<tr>
						{% for colName, colWidth in provider.getColumns %}
						<th>{{colName}}</th> {% endfor %}
					</tr>
					{% for obj in provider.getObjects %}
					<tr>
						<td><a href="">{{obj.getName}}</a></td>
						<td>{{obj.status.get}}</td>
						<td>{{obj.endTime.get}}</td>
					</tr>
					{% endfor %}
				</table>
			</fieldset>
		</div>
	</div>
</body>
</html>