{% extends 'showj_base.html' %} 
		
{% block head %}
	<script type="text/javascript">
	$(document).ready(function(){
		colsRowsEvents()
	});
	
	function colsRowsEvents(){
		$("#cols, #rows").click(function(){
			updateGalleryLayout($("#cols").val(),$("#rows").val(), $(this).attr("id"))
		});
		
		$("#cols, #rows").change(function(){
			updateGalleryLayout($("#cols").val(),$("#rows").val(), $(this).attr("id"))
		});
	}
	
	function updateGalleryLayout(cols, rows, setElement){
		recalculateColsRows(cols,rows, setElement)
		updateMainContainerDim(cols)
	}
	
	function recalculateColsRows(cols, rows, setElement){
		
		if (setElement == "cols"){
			$("#rows").val(Math.ceil($(".img_container").length/cols))
		}
		else{
			$("#cols").val(Math.ceil($(".img_container").length/rows))
		}
			
		
	}
	function updateMainContainerDim(colVal){
		imgContainerWidth =$(".img_container").width() + (parseInt($(".img_container").css("margin-right")) * 2)
		sectionWidth = colVal * (imgContainerWidth + 10)
		$("section").width(sectionWidth)
	}
	</script>
{% endblock %}

{% block content_menu %}
<div id="metadataSelectorContainer" class="sectionMenu">
	<span class="textMenu">Select Metadata</span>
	<select id="metadataComboBox">
		{% for label in metadata.labelsToRender %}
        	<option value="{{label}}">{{label}}</option>
        {% endfor %}	
	</select>
</div>
{% endblock %}

{% block content_view %}	
		
		{% for obj in metadata.objects %}
			{% for value in obj.values %}
				{% if value.allowRender and value.label == inputParameters.metadataComboBox %}
					<div class="img_container">
						<div id="column_label">{{forloop.parentloop.counter}}</div> 
						<img class="tableImages" src="/get_image/?image={{value.imgValue}}"/>
					</div> 
				{% endif %}
			{% endfor %}
		{% endfor %}	
			
{% endblock %}
