<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Showj</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href={{favicon}} />
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{jquery_cookie}} type="text/javascript"></script>
	<script src={{jquery_treeview}} type="text/javascript"></script>
	<script src={{launchTreeview}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('#zoom').click(function(){
		   d = new Date();
		   $(".tableImages").attr("src", $(".tableImages").attr("src")+"&dim="+$(this).val()+"&"+d.getTime());
		});
		
		$('#zoom').change(function(){
			$(".tableImages").attr("src", $(".tableImages").attr("src")+"&dim="+$(this).val()+"&"+d.getTime());
		});
			
		$('#zoom').keypress(function(){
			$(".tableImages").attr("src", $(".tableImages").attr("src")+"&dim="+$(this).val()+"&"+d.getTime());
		});	
	});
	</script>
	{% block head %}  {% endblock %}
</head>
<body>
	<header>Aqui iria la cabecera de Scipion</header>
	<nav> <!--  Top Menu -->
		<ul>
			<li>File</li>
			<li>Display</li>
			<li>Help</li>
		</ul>
	</nav>
	<div id="main_section">
		<aside id="side_news"> <!-- Main Menu -->
			{% block content_menu %}	{% endblock %}
			<input type="number" id="zoom" value="150" min="10" ">
			<img src="/resources/showj/menu.png">
		</aside>
		
		<section> <!--  Es donde va la informacion princiapl -->


		
		{% block content_view %}	{% endblock %}	
			

			
		</section>
	</div>
	

</body>
</html>
