	<script>
		{% include '_scipion_context.html' %}
	</script>
 	<nav class="navbar navbar-fixed-top mynav">
	  <div class="container">
		  <a href="{{abs_url}}">
			  <img class="headerImage"  src="{{abs_url}}resources/scipion_logo_normal.png">
		  </a>
		  <div  class="logoLine">
			<a href="http://i2pc.cnb.csic.es/LoadHome.htm">
			  <img class="scipionlogo" src="{{abs_url}}resources/logo_i2pc_with_title.png"/></a>
			<a href="http://www.structuralbiology.eu/">
			  <img class="scipionlogo" src="{{abs_url}}resources/logoInstruct.png"/></a>
			<a href="http://www.cnb.csic.es/">
			  <img class="scipionlogo" src="{{abs_url}}resources/logo_cnb_without_title.gif"/></a>
		  </div>
	  </div>
      <div class="headerLine"></div>

    </nav>
