<!DOCTYPE html>
<html lang='es'>
<head>
<title>Scipion {% block title %} {% endblock %}</title>
<meta charset='utf-8'>
<link rel="icon" type="image/png" href="{{favicon}}" />
<!-- CSS -->
<link href="{{general_css}}" rel="stylesheet"	type="text/css"> 
<link href="{{general_grid}}" rel="stylesheet"	type="text/css"> 
<link href="{{messi_css}}" rel="stylesheet" type="text/css"/>
<link href="{{font_awesome}}" rel="stylesheet" type="text/css">
<!-- JS -->
<script type="text/javascript" src="{{jquery}}"></script>
<script type="text/javascript" src="{{messi_js}}"></script>
<script type="text/javascript" src="{{jquery_sizes}}"></script>
<script type="text/javascript" src="{{jlayout_border}}"></script>
<script type="text/javascript" src="{{jquery_layout}}"></script>
<script type="text/javascript" src="{{utils}}"></script>

{% block content_head %} {% endblock %}
</head>

<body>

	<div data-layout='{"type": "flexGrid", "columns": 1, "hgap": 1, "vgap": 1}' class="layout-outer">
		{% block content_header %}{%endblock %}
		
		<aside>
			{% block menu %} {%endblock %}
		</aside>
	
		<section>
			{% block content %}{%endblock %}
		</section>
			
		{% include "footer.html" %}
	</div>

</body>
</html>
