<!DOCTYPE html>
<html lang='es'>
<head>
<title>Scipion {% block title %} {% endblock %}</title>
<meta charset='utf-8'>
<link rel="icon" type="image/png" href="{{favicon}}" />
<!-- CSS -->
<link href="{{general_css}}" rel="stylesheet"	type="text/css"> 
<link href="{{general_flex}}" rel="stylesheet"	type="text/css"> 
<link href="{{jquery_ui_css}}" rel="stylesheet" type="text/css"/>
<link href="{{messi_css}}" rel="stylesheet" type="text/css"/>
<link href="{{font_awesome}}" rel="stylesheet" type="text/css">

<!-- JS -->
<script type="text/javascript" src="{{jquery}}"></script>
<script type="text/javascript" src="{{jsplumb}}"></script>
<script type="text/javascript" src="{{jquery_ui}}"></script>
<script type="text/javascript" src="{{messi_js}}"></script>
<script type="text/javascript" src="{{jquery_sizes}}"></script>
<script type="text/javascript" src="{{jlayout_border}}"></script>
<script type="text/javascript" src="{{jquery_layout}}"></script>
<script type="text/javascript" src="{{utils}}"></script>

{% block head %} {% endblock %}
</head>

<body>

	<!-- <div id="mainContainer"> -->
		<div data-layout='{"type": "border", "hgap": 1, "vgap": 1}' class="layout-outer">
			{% include "header.html" %}
	
			{% if contentConfig == 'divided' %}
				<section data-layout='{"type": "border", "hgap": 1, "vgap": 1}' class="center layout-inner">
					<div class="north">
				        {% block contentNorth %}{%endblock %}
				    </div>
				    <div class="center">
				        {% block contentCenter %}{%endblock %}
				    </div>
				</section>
				<aside class="west">
					{% block sideLeft %} {%endblock %}
				</aside>
			{% elif contentConfig == 'full' %}
				<aside class="center">
					{% block menu %} {%endblock %}
				</aside>
				<section class="south">
					{% block content %}{%endblock %}
				</section>
			{% endif %}
				
			
		</div>
	<!-- </div> -->
	
	
	{% include "footer.html" %}

</body>
</html>
