<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Scipion {% block title %} {% endblock %}</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href="{{favicon}}" />
	<!-- CSS -->
	<link href="/static/css/general_style.css" rel="stylesheet" type="text/css">
	<link href="/static/css/general_style_base.css" rel="stylesheet" type="text/css">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src="{{jquery}}" type="text/javascript"></script>
	
	{% block content_head %}  {% endblock %}
</head>
<body>

	<div id="mainContainer">
		{% block content_header %}	{% endblock %}
		
		<div id="mainSection">
			<aside id="side_news"> <!-- Main Menu -->
	
			{% block content_aside %}	{% endblock %}	
			
			</aside>
			
			<section> 
			
			{% block content_section %}	{% endblock %}	
				
	
				
			</section>
		</div>
		
		{% block content_end_page %}	{% endblock %}
	</div>
	
	{% include "footer.html" %}

</body>
</html>
