<!DOCTYPE html>
<html lang='es'>
<head>
<title>Error</title>
<meta charset='utf-8'>
<link rel="icon" type="image/png" href="{{favicon}}" />
<link href="{{general_css}}" rel="stylesheet" type="text/css">
<style type="text/css">

body {
	padding: 2.2em;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 80%;
	text-align: center;
	margin-top: 1em ;
}

h1 {
	font-size: 57px;
}

h1, h2, h3 {
	padding: 5px;
	font-weight: 500;
	line-height: 1.1;
}

img.errorlogo, img.logo{
	width:450px;
	height:auto;
}

</style>

<script type="text/javascript" src="{{config}}"></script>
</head>
<body>
	<img class="logo" src="{{logoScipionNormal}}" alt="Scipion logo">
	<br />
	<h1>Oops!</h1>
	<h3>We are really sorry but the page your requested cannot be found.</h3>
	<img class="errorlogo" src="{{logoErrorPage}}" alt="Error logo">
</body>
</html>
