<footer>
	<div id="footerLine"></div>
	<div id="footerMainContainer">
		<div id="footerLeftContainer">
			<a href="/projects" id="footerLogoContainer"><img class="logo" src="/resources/scipion_logo_transparent.png" alt="Scipion logo"></a>
			<span id="footerText">Neque porro quisquam est qui dolorem, adispici velit</span>
		</div>
		<div id="footerRightContainer">
			<a href="/faq" class="footerLink">FAQ</a><span id="tube">|</span>
			<a href="/wiki" class="footerLink">Wiki</a><span id="tube">|</span>
			<a href="/license" class="footerLink">License</a><span id="tube">|</span>
			<a href="/contact" class="footerLink">Contact</a>
		</div>
	</div>
</footer>