<!DOCTYPE html>
<html lang='es'>
	<head>
	<title>{{projectName}}{{messages.TITLE_NAME_RUN}}{{protocol}}</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href={{favicon}} />
	<!-- CSS -->
	<link href="{{general_css}}" rel="stylesheet" type="text/css">
	<link href={{form_css}} rel="stylesheet" type="text/css">
	<link href={{messi_css}} rel="stylesheet" type="text/css">
	<link href="{{jquery_ui_css}}" rel="stylesheet" type="text/css">
	<link href="{{font_awesome}}" rel="stylesheet" type="text/css">
	<style type="text/css">
	.ui-state-active {
		/* background: DarkRed !important; */
		background: Firebrick !important;
		font-size: 0.9em !important;
		font-weight: bold !important;
		text-align: center !important;
		padding: 2px !important;
	}
	.ui-tabs-anchor{
		color: #000 !important;
		padding: .3em 1em !important;
	}
	.ui-state-active .ui-tabs-anchor{
		color: white !important;
	} 
	
	</style>
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{messi_js}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	<script src={{protocol_form_utils}} type="text/javascript"></script>
	<script src="{{jquery_ui}} "type="text/javascript"></script>
	<script>
	function putMode(mode){
		$("#protocolForm").attr('data-mode', mode);
		$('#protocolForm').submit();
	}
	function putModeWiz(functionName){
		$("input#wizName").attr("value", functionName);
		putMode("wiz");
	}
	function putModeViewElm(param, func){
		$("input#viewerParam").attr("value", param);
		putMode("viewerElement");
	}
	</script>
	 <script>
	  $(function() {
	    $("#tabs").tabs();
	  });
  	</script>
	</head>
	<body onload="evalElements();">

		{% if package_logo != ''%}
			<img src='{{package_logo}}' style="float:right;"/>
		{% endif %}
		<h3 id="protName">{{protocol.GETCLASSLABEL}}</h3>&nbsp;
		
		<form id="protocolForm" action="/protocol/" method="POST" data-mode="">{% csrf_token %}
			<input type="hidden" id="windowName" name="windowName" value=""/>
			<input type="hidden" name="protocolClass" value="{{protocol.getClassName}}"/>
			<input type="hidden" name="protocolId" value="{{protocol.getObjId}}"/>
			<input type="hidden" name="protRunIdViewer" value="{{protRunIdViewer}}"/>
			<input type="hidden" id="wizName" name="wizName" value=""/>
			<input type="hidden" id="viewerParam" name="viewerParam" value="None"/>
			<input type="hidden" id="comment" name="comment" value="{{protocol.getObjComment}}"/>
			<input type="hidden" id="paramProt" name="paramProt" value="{{paramProt}}"/>
			{% if visualize == 0 %}
			<div id="main">
				<div id="mainNode1" class="mainNode floatLeft">
					<div class="title">
						{{messages.TITLE_RUN}}
					</div>
					<table>
						<tr>
							<td>
								{{messages.TITLE_RUN_NAME}}
							</td>
							<td>
								<input type="text" id="runName" name="runName" value="{{protocol.getObjLabel}}">
							</td>
							<td class="ico">
								<a id="editTool" href="javascript:showComment('{{messages.LABEL_COMMENT}}');"><i class="fa fa-pencil"></i></a>
							</td>
						</tr>
						<tr>
							<td>
								{{messages.TITLE_RUN_MODE}}
							</td>
							<td>
								<select id="runMode_select" name="runMode" size="1" onchange="javascript:onChangeEnumParamCombo('runMode_select', 'runMode');">
									<option value="0">{{messages.LABEL_RUN_MODE_RESUME}}</option>
									<option value="1" selected="selected">{{messages.LABEL_RUN_MODE_RESTART}}</option>
								</select>		
							</td>
						</tr>
						<tr>
							<td>
								{{messages.title_expert}}
							</td>
							<td>
								<select name="expertLevel" size=1
								onChange="javascript:evalElements();">
									<option value="0" {% if expertLevel == 0 %} selected="selected" {% endif %}>{{messages.LABEL_EXPERT_NORMAL}}</option>
									<option value="1" {% if expertLevel == 1 %} selected="selected" {% endif %}>{{messages.LABEL_EXPERT_ADVANCE}}</option>
									<option value="2" {% if expertLevel == 2 %} selected="selected" {% endif %}>{{messages.LABEL_EXPERT_EXPERT}}</option>
								</select>
							</td>
						</tr>					
					</table>			
				</div>
								
				<div id="mainNode2" class="mainNode floatRight">
					<div class="title">
						{{messages.TITLE_EXEC}}
					</div>
					<table>
						<tr>
							<td>
								{{messages.TITLE_EXEC_HOST}}
							</td>
							<td>
								<select name="hostName" size=1 onChange="">
								{% for h in hosts %}
									<option value="{{h}}" {% if h == hostName %} selected="selected" {% endif %}>{{h}}</option>
								{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>
								{{messages.TITLE_THREADS}}&nbsp;		
								<input type="text" id="numberOfThreads_input" name="numberOfThreads" value="{{numberOfThreads}}" style="width:3em;">
							</td>
							<td >
								{{messages.TITLE_MPI}}&nbsp;		
								<input type="text" id="numberOfMpi_input" name="numberOfMpi" value="{{numberOfMpi}}" style="width:3em;">
							</td>
						</tr>
						<tr>
							<td>
								{{messages.TITLE_QUEUE}}
							</td>
							<td>
							  <input type="radio" id="queue_yes" name="_useQueue" value="yes"/>{{messages.LABEL_QUEUE_YES}}
							  <input type="radio" id="queue_no" name="_useQueue" value="no"/>{{messages.LABEL_QUEUE_NO}}
							</td>
						</tr>
					</table>
				</div>
			</div>
			{% endif %}
 
			<div id="tabs">
				<ul>
				 {% for section in definition.iterSections %}
				 	{% if section.label.get != "General" and section.label.get != "Parallelization" %}	
				 		<li ><a href="#tabs-{{forloop.counter0}}">{{section.label.get}}</a></li>
				 	{% endif %}
				 {% endfor %}
				 </ul>
			
				 {% for section in definition.iterSections %}
					 {% if section.label.get != "General" and section.label.get != "Parallelization" %}
				 	 <div id="tabs-{{forloop.counter0}}">
			 			<div class="box">
							<table class="section">				
								{% for paramName, param in section.iterParams %}
								<tr {% if param.expertLevel.get > 0 %} class="advance" {% else %} class="element" {% endif %} id="{{paramName}}" name="{{paramName}}" data-type="{{param.getClassName}}" data-cond="{{param.condition.get}}" data-params="{{param.htmlCondParams}}" 
								data-depen="{{param.htmlDepend}}" value="{{param.htmlValue}}" data-enum="{{param.display}}" data-expert="{{param.expertLevel.get}}">
									<td id="inputName" {% if param.isImportant.get %} class="recommended" 
									{% else %} class="normal" {% endif %}>{{param.label.get}}</td>
									<td>
										{% if param.getClassName == "BooleanParam" %}
										  <input type="radio" id="{{paramName}}_yes" name={{paramName}} onChange="javascript:onChangeParam('true','{{paramName}}');" value="true" 
										  {% if param.htmlValue == 'true' %} checked {% endif %}/>{{messages.label_param_yes}}
										  <input type="radio" id="{{paramName}}_no" name={{paramName}} onChange="javascript:onChangeParam('false','{{paramName}}');" value="false"  
										  {% if param.htmlValue == 'false' %} checked {% endif %} />{{messages.label_param_no}}
										{% elif param.getClassName == "EnumParam" %}
											{% if param.display == 0 %}
												{% for choice in param.choices %}
												  <input type="radio" id="" name={{paramName}} onChange="javascript:onChangeEnumParamList('{{forloop.counter0}}', '{{paramName}}');" value="{{forloop.counter0}}" 
												  {% if param.htmlValue == forloop.counter0 %} checked {% endif %} />{{choice}}<br />
												{% endfor %}
											{% elif param.display == 1  %}
												<select id="{{paramName}}_select" name="{{paramName}}" size=1 onChange="javascript:onChangeEnumParamCombo('{{paramName}}_select', '{{paramName}}');">
													{% for choice in param.choices %}
													<option value="{{forloop.counter0}}" {% if param.htmlValue == forloop.counter0 %} selected="selected" {% endif %}>{{choice}}</option>
												{% endfor %}
											</select>
										{% endif %}				
									{% else %}
											<input type="text" id="{{paramName}}_input" name={{paramName}} value="{{param.htmlValue}}">
									{% endif %}
									</td>
								{% if param.getClassName == "PointerParam" %}
									<td class="ico">
										<a href="javascript:browseObjects('{{paramName}}','{{projectName}}','objClass','{{param.pointerClass.get}}');">
											<i class="fa fa-search" style="font-size:1.1em;"></i>
										</a> 
									</td>
								{% elif param.getClassName == "ProtocolClassParam" %}
									<td class="ico">
										<a href="javascript:browseObjects('{{paramName}}','{{projectName}}','protClassName' ,'{{param.protocolClassName.get}}');">
											<i class="fa fa-search" style="font-size:1.1em;"></i>
										</a>
									</td>
									<td class="ico">
										<a href="javascript:formProtSimple('{{paramName}}','{{projectName}}');" class="iconEdit">
											<i class="fa fa-pencil" style="font-size:1.1em;"></i>
										</a>										
									</td>
								{% elif param.hasWizard %}
									<td class="ico">
										<a href="javascript:putModeWiz('{{param.wizardName}}');"><i class="fa fa-magic" style="font-size:1.2em;"></i></a>
									</td>
								{% elif param.hasViewer %}
									<td class="ico">
										<a id="analyzeTool" href="javascript:putModeViewElm('{{paramName}}');" class="fa fa-eye"></a>
									</td>
								{% else %}
									<td>
									</td>
								{% endif %}
								{% if param.htmlHelp %}
									<td class="ico"><a href="javascript:infoPopup('{{paramName}}','{{param.htmlHelp|escapejs}}');"><i class="fa fa-question-circle" style="font-size:1.3em;"></i></a></td>
								{% endif %}
								</tr>
								{% endfor %}
								</table>
							</div>
				 		</div>
			 		{% endif %}
				 {% endfor %}
				 </div>		
			<div class="boxBottom">
				<a href="javascript:window.close()" class="btn buttonGrey"><i class="fa fa-times"></i>{{messages.LABEL_BUTTON_CLOSE}}</a>
				{% if visualize == 0 %}
				<a href="javascript:putMode('save');" class="btn buttonGrey"><i class="fa fa-save"></i>{{messages.LABEL_BUTTON_SAVE}}</a>
				<a href="javascript:putMode('execute');" class="btn buttonRed"><i class="fa fa-cogs"></i>{{messages.LABEL_BUTTON_EXEC}}</a>
				{% elif visualize == 1 %}
				<a href="javascript:putMode('viewer');" class="btn buttonRed"><i class="fa fa-cogs"></i>{{messages.LABEL_BUTTON_VIS}}</a>
				{% elif visualize == 2 %}
				<a href="javascript:returnProtocol();" class="btn buttonGrey"><i class="fa fa-save"></i>{{messages.LABEL_BUTTON_RETURN}}</a>
				{% endif %}							
			</div>
		</form>
	</body>
</html>
