<!DOCTYPE html>
<html lang='es'>
	<head>
	<title>{{projectName}} Protocol Run: {{protocol}}</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href={{favicon}} />
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<link href={{messi_css}} rel="stylesheet" type="text/css">
	<link href="{{jquery_ui_css}}" rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{messi}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	<script src={{protocol_form_utils}} type="text/javascript"></script>
	<script src="{{jquery_ui}} "type="text/javascript"></script>
	<script>
	function putMode(mode){
		$("#protocolForm").attr('data-mode', mode);
	}
	function putModeWiz(functionName){
		$("input#wizName").attr("value", functionName);
		putMode("wiz");
	}
	function putModeViewElm(param, func){
		$("input#viewerParam").attr("value", param);
		putMode("viewer");
	}
	</script>
	 <script>
	  $(function() {
	    $("#tabs").tabs();
	  });
  	</script>
	</head>
	<body onload="evalElements();">
		<h3 id="protName">Protocol: {{protocol.getClassName}}</h3>
		<form id="protocolForm" action="/protocol/" method="POST" data-mode="">{% csrf_token %}
			<input type="hidden" id="windowName" name="windowName" value=""/>
			<input type="hidden" name="protocolClass" value="{{protocol.getClassName}}"/>
			<input type="hidden" name="protocolId" value="{{protocol.getObjId}}"/>
			<input type="hidden" name="protRunIdViewer" value="{{protRunIdViewer}}"/>
			<input type="hidden" id="wizName" name="wizName" value=""/>
			<input type="hidden" id="viewerParam" name="viewerParam" value="None"/>
			<input type="hidden" id="comment" name="comment" value="{{protocol.getObjComment}}"/>
			
			{% if visualize == 0 %} <!-- used to analyze results --> 
			<div id="main">
				<div id="mainNode1">
					<div class="titleMain1">
						Run
					</div>
					<table>
						<tr>
							<td>
								Run name
							</td>
							<td>
								<input type="text" id="runName" name="runName"
								value="{{protocol.getObjLabel}}">
							</td>
							<td class="ico">
								<a href="javascript:showComment();"><img src={{comment}}/></a>
							</td>
						</tr>
						<tr>
							<td>
								Run mode
							</td>
							<td>
								<select id="runMode_select" name="runMode" size="1" onchange="javascript:onChangeEnumParamCombo('runMode_select', 'runMode');">
									<option value="0">resume</option>
									<option value="1" selected="selected">restart</option>
								</select>		
							</td>
						</tr>
						<tr>
							<td>
								Expert Level
							</td>
							<td>
								<select name="expertLevel" size=1
								onChange="javascript:evalElements();">
									<option value="0" {% if expertLevel == 0 %} selected="selected" {% endif %}>Normal</option>
									<option value="1" {% if expertLevel == 1 %} selected="selected" {% endif %}>Advanced</option>
									<option value="2" {% if expertLevel == 2 %} selected="selected" {% endif %}>Expert</option>
								</select>
							</td>
						</tr>					
					</table>			
				</div>
								
				<div id="mainNode2">
					<div class="titleMain2">
						Execution
					</div>
					<table>
						<tr>
							<td>
								Execution host
							</td>
							<td>
								<select name="hostName" size=1
								onChange="">
								{% for h in hosts %}
									<option value="{{h}}" {% if h == hostName %} selected="selected" {% endif %}>{{h}}</option>
								{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>
								Threads&nbsp;		
								<input type="text" id="numberOfThreads_input"
								name="numberOfThreads" value="{{numberOfThreads}}" style="width:3em;">
							</td>
							<td >
								MPI&nbsp;		
								<input type="text" id="numberOfMpi_input"
							name="numberOfMpi" value="{{numberOfMpi}}" style="width:3em;">
							</td>
						</tr>
						<tr>
							<td>
								Launch to queue?
							</td>
							<td>
							  <input type="radio" id="queue_yes" name="_useQueue" value="yes"/>Yes
							  <input type="radio" id="queue_no" name="_useQueue" value="no"/>No
							</td>
						</tr>
					</table>
				</div>
			</div>
			{% endif %}
 
			<div id="tabs">
				<ul>
				 {% for section in definition.iterSections %}
				 	{% if section.label.get != "General" and section.label.get != "Parallelization" %}	
				 		<li><a href="#tabs-{{forloop.counter0}}">{{section.label.get}}</a></li>
				 	{% endif %}
				 {% endfor %}
				 </ul>
			
				 {% for section in definition.iterSections %}
					 {% if section.label.get != "General" and section.label.get != "Parallelization" %}
				 	 <div id="tabs-{{forloop.counter0}}">
			 			<div class="box">
			 				<div class="title">
									<td colspan="4">{{section.label.get}}</td>
							</div>
							<table class="section">				
								{% for paramName, param in section.iterParams %}
								<tr {% if param.expertLevel.get > 0 %} class="advance" {% else %} class="element" {% endif %} id="{{paramName}}" name="{{paramName}}" data-type="{{param.getClassName}}" data-cond="{{param.condition.get}}" data-params="{{param.htmlCondParams}}" 
								data-depen="{{param.htmlDepend}}" value="{{param.htmlValue}}" data-enum="{{param.display}}" data-expert="{{param.expertLevel.get}}">
									<td id="inputName" {% if param.isImportant.get %} class="recommended" 
									{% else %} class="normal" {% endif %}>{{param.label.get}}</td>
									<td>
										{% if param.getClassName == "BooleanParam" %}
										  <input type="radio" id="{{paramName}}_yes" name={{paramName}} onChange="javascript:onChangeParam('true','{{paramName}}');" value="true" 
										  {% if param.htmlValue == 'true' %} checked {% endif %}/>Yes 
										  <input type="radio" id="{{paramName}}_no" name={{paramName}} onChange="javascript:onChangeParam('false','{{paramName}}');" value="false"  
										  {% if param.htmlValue == 'false' %} checked {% endif %} />No
										{% elif param.getClassName == "EnumParam" %}
											{% if param.display == 0 %}
												{% for choice in param.choices %}
												  <input type="radio" id="" name={{paramName}} onChange="javascript:onChangeEnumParamList('{{forloop.counter0}}', '{{paramName}}');" value="{{forloop.counter0}}" 
												  {% if param.htmlValue == forloop.counter0 %} checked {% endif %} />{{choice}}<br />
												{% endfor %}
											{% elif param.display == 1  %}
												<select id="{{paramName}}_select" name="{{paramName}}" size=1 onChange="javascript:onChangeEnumParamCombo('{{paramName}}_select', '{{paramName}}');">
													{% for choice in param.choices %}
													<option value="{{forloop.counter0}}" {% if param.htmlValue == forloop.counter0 %} selected="selected" {% endif %}>{{choice}}</option>
												{% endfor %}
											</select>
										{% endif %}				
									{% else %}
											<input type="text" id="{{paramName}}_input" name={{paramName}} value="{{param.htmlValue}}">
									{% endif %}
									</td>
								{% if param.getClassName == "PointerParam" %}
									<td class="ico">
										<a href="javascript:browseObjects('{{paramName}}','{{projectName}}','{{param.pointerClass.get}}');"><img src={{browse}}/></a>
									</td>
								{% elif param.hasWizard %}
									<td class="ico">
										<input type="submit" class="buttonWiz" value="" onclick="javascript:putModeWiz('{{param.wizardName}}');"/>
									</td>
								{% elif param.hasViewer %}
									<td class="ico">
										<input type="submit" class="buttonViewer" value="" onclick="javascript:putModeViewElm('{{paramName}}');"/>
									</td>
								{% else %}
									<td>
									</td>
								{% endif %}
									<td class="ico"><a href="javascript:help('{{paramName}}','{{param.help.get}}');"><img src={{help}} /></a></td>
								</tr>
								{% endfor %}
								</table>
							</div>
				 		</div>
			 		{% endif %}
				 {% endfor %}
				 </div>		
			<div class="boxBottom">
				<table>
					<tr>
						<td>
							<button class="buttonClose" type="button" onclick="window.close()">Close</button>
							{% if visualize == 0 %}
							<input type="submit" class="buttonSave" value="Save" onclick="javascript:putMode('save');">
							<input type="submit" class="buttonExec" value="Execute" onclick="javascript:putMode('execute');">
							{% else %}
							<input type="submit" class="buttonExec" value="Visualize" onclick="javascript:putMode('viewer');">
							{% endif %}							
						</td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>
