<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{tittle}}</title>
<!-- CSS -->
<link href={{css}} rel="stylesheet" type="text/css">
<style>
.queueSystemConfig{
	border-width: 1px;
	border-style:solid;
	border-color:black;
	background-color: white;
}
</style>
<!-- JS -->
<script src={{jquery}} type="text/javascript"></script>
<script src={{utils}} type="text/javascript"></script>
<script>
	{% if message != None and message != '' %}
	window.onload = function() {
		alert("{{message}}")
		closePopup()
	}
	{% endif %}
	
	function changeScpnHostSelection(){
		if (document.getElementById("scpnHosts").value != ""){
			alert ("Not implemented yet");
		}
	}	
	
	/**
	Funtion to add or remove system queue config.
	*/
	function systemQueueConfigAction() {
		if (queueSystemConfigCount > 0 && queueSystemConfigCount !=''){
			if(confirm('You are going to remove all queue system configuration from the form. \n Are you sure?')){
				$("#addQueueSystemConfig").html('Add system config');
				$("#auxQueueSystemConfig").remove();
				queueSystemConfigCount = 0;
				$("[name=queueSystemConfigCount]").val(0);
				queueConfigCount = 0;
				$("[name=queueConfigCount]").val(0);
			}
		} else {
			$("#addQueueSystemConfig").html('Remove system config');
			elementString = '';
			elementString += '<div id="auxQueueSystemConfig">';
			elementString += '<h2>Queue sytem</h2>';				 
			elementString += '<br/>'; 
			elementString += '<div id="subQueueSystemConfig">';
			elementString += '<table>';
			elementString += '<tr><td> <label class="required" for="name">Name</label> </td><td><input type="text" name="name" class="generalInput"/></td></tr>';
			elementString += '<tr><td> <label class="required" for="mandatory"> Mandatory </label> </td><td><input type="checkbox" name="mandatory" value="True" checked/></td></tr>';
			elementString += '<tr><td> <label class="required" for="submitTemplate"> Submit template </label> </td><td><textarea rows="5" cols="35" name="submitTemplate"/></td></tr>';
			elementString += '<tr><td> <label class="required" for="submitCommand"> Submit command </label> </td><td><input type="text" name="submitCommand" class="generalInput"/></td></tr>';
			elementString += '<tr><td> <label class="required" for="checkCommand"> Check command </label> </td><td><input type="text" name="checkCommand" class="generalInput"/></td></tr>';
			elementString += '<tr><td> <label class="required" for="cancelCommand"> Cancel command </label> </td><td><input type="text" name="cancelCommand" class="generalInput"/></td></tr>';	
			elementString += '</table>';
			elementString += '<br/>';
			elementString += '</div>';
			elementString += '<div id="queueConfig">';
			elementString += '</div>';
			elementString += '<button type="button" id="addQueueConfig" onclick="addQueueConfigAction()" class="generalButton">Add config</button>';
			elementString += '<br/>';
			elementString += '</div>';
		    element = $(elementString);
		    $("#queueSystemConfig").append(element);
		    queueSystemConfigCount ++;
		}
	    $("[name=queueSystemConfigCount]").val(queueSystemConfigCount);
	}
	
	/**
	Funtion to add queue config.
	*/
	function addQueueConfigAction() {
		elementString = '';
		elementString += '<div id="queueConfig_' + (queueConfigCount + 1) + '">';
		elementString += '<br/>';
		elementString += '<table>';
		elementString += '<tr><th align="center" colspan="2">Queue config ' + (queueConfigCount + 1) + '</th></tr>'
		elementString += '<tr><td> <label class="required" for="name_' + (queueConfigCount + 1) + '"> Name </label> </td><td><input type="text" name="name_' + (queueConfigCount + 1) + '" class="generalInput"/></td></tr>';
		elementString += '<tr><td> <label class="required" for="maxCores_' + (queueConfigCount + 1) + '"> Max. cores </label> </td><td><input type="number" name="maxCores_' + (queueConfigCount + 1) + '" class="generalInput"/></td></tr>';
		elementString += '<tr><td> <label> Allow MPI </label> </td><td><input type="checkbox" name="allowMPI_' + (queueConfigCount + 1) + '" /></td></tr>';
		elementString += '<tr><td> <label> Allow threads </label> </td><td><input type="checkbox" name="allowThreads_' + (queueConfigCount + 1) + '" /></td></tr>';
		elementString += '<tr><td> <label class="required" for="maxHours_' + (queueConfigCount + 1) + '"> Max. hours </label> </td><td><input type="number" name="maxHours_' + (queueConfigCount + 1) + '" class="generalInput"/></td></tr>';	
		elementString += '</table>';
		elementString += '<br/>';
		elementString += '<button type="button" id="removeQueueConf_' + (queueConfigCount + 1) + '"  onclick="removeQueueConfigAction(' + (queueConfigCount + 1) + ')" class="generalButton">Remove queue config</button>';
		elementString += '<br/>';
		elementString += '<br/>';
		elementString += '</div>';
		element = $(elementString);
	    $("#queueConfig").append(element);
	    queueConfigCount ++;
	    $("[name=queueConfigCount]").val(queueConfigCount);
	}
	
	/**
	Funtion to remove queue config.
	*/
	function removeQueueConfigAction(index){
		divId = 'queueConfig_' + index;
		queueConfigId = 'queueConfigId_' + index;
		if(confirm('You are going to remove queue configuration from the queue system. \n Are you sure?')){
			$("#" + divId).remove();
			$("#" + queueConfigId).remove();
			queueConfigCount --;
		    $("[name=queueConfigCount]").val(queueConfigCount);
		}
	}
	
</script>
</head>
<body>
	<div>
		<h3>{{tittle}}</h3>
		<br/>
		
		<form action="/updateHostsConfig" method="post">		
	        {% csrf_token %}	 
			<table>			 
			 	{% for field in form.getBasicHostFields %}
			 	<tr>
				    <td>
				    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>
				    </td> 
				    <td>{{ field }}</td>
				</tr>    
				{% endfor %}
				{% for field in form.hidden_fields %}
					{{ field }}
				{% endfor %}
			</table>
			<br/>
			<button type="button" id="addQueueSystemConfig" class="generalButton" onclick="systemQueueConfigAction()"> Add system config </button>
			<br/>
			<div id="queueSystemConfig" class="queueSystemConfig">
				{% if form.queueSystemConfigCount.value != None and form.queueSystemConfigCount.value != 0 and form.queueSystemConfigCount.value != '0' %}
					<div id="auxQueueSystemConfig">
						<h2>Queue sytem</h2>				 
					 	<br/>
					 	<div id="subQueueSystemConfig">
						 	<table>	
						 		{% for field in form.getQueueSystemConfigFields %}
							 	<tr>
								    <td>
								    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>
								    </td> 
								    <td>{{ field }}</td>
								</tr>    
								{% endfor %}
							</table>
					 	</div>
					 	<div id="queueConfig">
						 	{% for fieldList in form.getQueueConfigFields %}
					 		<div id="queueConfig_{{forloop.counter}}">
					 		<br/>
							 	<table>	
							 		<tr><th align="center" colspan="2">Queue config {{forloop.counter}}</th></tr>
							 		{% for field in fieldList %}
								 	<tr>
									    <td>
									    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>
									    </td> 
									    <td>{{ field }}</td>
									</tr>    
									{% endfor %}
								</table>
								<br/>
								<button type="button" id="removeQueueConf_{{forloop.counter}}"  onclick="removeQueueConfigAction({{forloop.counter}})" class="generalButton">Remove queue config</button>
								<br/>
								<br/>
							</div>
							{% endfor %}
						</div>
						<button type="button" id="addQueueConfig" class="generalButton" onclick="addQueueConfigAction()">Add config</button>	
						<br/>
					</div>
				{% endif %}			
		 	</div>
			<br/>
			{% for field in form %}
				{{ field.errors }}
			{% endfor %}
			<br/>
			<input type="submit" value="Accept" class="priorityButton"/>
			<button type="button" id="cancelButton"  onclick="closePopup()" class="generalButton">Cancel</button>
		</form>	
	</div>
</body>
<script>
//form_count = $("[name=extra_field_count");
queueSystemConfigCount = document.getElementById("queueSystemConfigCount").value;
queueConfigCount = document.getElementById("queueConfigCount").value;

</script>
</html>