{% extends 'base_flex.html' %} 
{% block title %}
 - Project {{project_name}} hosts configuration
{% endblock %} 
{% block head %}
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	<script src={{host_utils}} type="text/javascript"></script>
{% endblock %}
{% block sideLeft %}
	<center>
	<button id="newHostButton" onclick="newHost()" class="priorityButton" type="button">New host</button>
	<br/>
	<br/>		
	</center>
{% endblock %}

{% block content %}
	<div>
		<div id="toolbarHost" style="display: none">
			<span><a id="newTool" href="" style="text-decoration: none;color: black;"><img src="{{newTool}}" /> New</a></span> 
			<span><a id="editTool" href="" style="text-decoration: none;color: black;"><img src="{{editTool}}" />Edit</a></span> 
			<span><a id="deleteTool" href="" style="text-decoration: none;color: black;"><img src="{{deleteTool}}" /> Delete</a></span> 
			<span><a id="browseTool" href="" style="text-decoration: none;color: black;"><img src="{{browseTool}}" /> Browse</a></span>
		</div>
		<table id="data" cellspacing="0">
			<tr>
				<th>Configuration</th> 
				<th>Host name</th>
				<th>User name</th>
				<th>Host path</th>
			</tr>
			{% for host in hosts %}
			<tr id="{{host.getObjId}}" class="" onclick="selectHost('{{host.getObjId}}');launchHostsToolbar('{{projectName}}','{{host.getObjId}}', ($(this)));"
			style="background-color: #fafafa;">
				<td>
					{% if host.getLabel != None %}
						{{host.getLabel}}
					{% endif %}
				</td>
				<td>
					{% if host.getHostName != None %}
						{{host.getHostName}}
					{% endif %}	
				</td>	
				<td>
					{% if host.getUserName != None %}
						{{host.getUserName}}
					{% endif %}
				</td>
				<td>
					{% if host.getHostPath != None %}
						{{host.getHostPath}}
					{% endif %}					
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang='es'>
	<head>
		<title>{{projectName}} hosts config</title>
		<meta charset='utf-8'>
		<link rel="icon" type="image/png" href={{favicon}} />
		CSS
		<link href={{css}} rel="stylesheet" type="text/css">
		JS
		<script src={{jquery}} type="text/javascript"></script>
		<script src={{utils}} type="text/javascript"></script>
		<script>	
			function getHost(hostLabel, projectName) {
				$.ajax({
					type : "GET",
					url : "/getHost/?hostLabel=" + hostLabel,
					dataType : "json",
					success : function(json) {
						// specifying a dataType of json makes jQuery pre-eval the response
						// for us ExecutionHostConfig
						host = json.host;
						document.getElementById("scpnHosts").disabled = true;
						document.getElementById("label").value = host.label;
						document.getElementById("label").disabled = true;
						document.getElementById("hostName").value = host.hostName;
						document.getElementById("userName").value = host.userName;
						document.getElementById("hostPath").value = host.hostPath;
					}
				});
			}
			function clearForm(){
				document.getElementById("scpnHosts").disabled = false;
				document.getElementById("label").value = ""
				document.getElementById("label").disabled = false;
				document.getElementById("hostName").value = ""
				document.getElementById("userName").value = ""
				document.getElementById("hostPath").value = ""
			}
			function removeHost(){
				 if (confirm("Are you sure you want to remove ths host?")) {
				 	alert("Host succesfully removed");
				 } else {
				 	alert("Remove operation cancelled");
				 }
			}
			function changeScpnHostSelection(){
				if (document.getElementById("scpnHosts").value != ""){
					getHost(document.getElementById("scpnHosts").value, "{{projectName}}");
				}
			}
		</script>
	</head>
	<body>
		<h3>{{projectName}} hosts config</h3>
		<br/>
		
		<table class="generalTable">
			<tr>
				<th>Configuration</th> 
				<th>Host name</th>
				<th>User name</th>
				<th>Host path</th>
			</tr>
			{% for host in hosts %}
			<tr id="{{host.label}}" onclick="getHost('{{host.label}}', '{{projectName}}');">
				<td>
					{{host.label}}
				</td>
				<td>
					{{host.hostName}}
				</td>	
				<td>
					{{host.userName}}
				</td>
				<td>
					{{host.hostPath}}
				</td>
			</tr>
			{% endfor %}
		</table>
		
		<br/>
		<br/>
		<form action="/updateHostsConfig" method="post">		
        {% csrf_token %}
		
		<table>
            {{ form.as_table }}
        </table>
		
		 
		<table>			 
		 	{% for field in form %}
		 	<tr>
			    <td>
			    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>  {{ field.name }}
			    </td> 
			    <td>{{ field }}</td>
			</tr>    
			{% endfor %}
		</table>
		<br/>
		{% for field in form %}
			{{ field.errors }}
		{% endfor %}
		<br/>
		<button onclick="clearForm()" class="generalButton" type="button" style="">Clear</button>
		<input id="acceptButton" type='submit' value='Save' class="priorityButton" />	
		<button id="removeButton" onclick="removeHost()" class="priorityButton" type="button" />Remove</button>	
		</form>
	</body>
</html>
 -->