<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{tittle}}</title>
<!-- CSS -->
<link href={{css}} rel="stylesheet" type="text/css">
<style>
.queueSystemConfig{
	border-width: 1px;
	border-style:solid;
	border-color:black;
	background-color: white;
}
.collapse {
	padding:0 10px 1em;
	padding-bottom:.75em;
	}
.top{font-size:.9em; text-align:right}
#switch, .switch {margin-bottom:5px; text-align:right}


h2{
	font-size:1em;
}

/* --- Links  --- */
a:link, a:visited {
  border:1px dotted #ccc;
  border-width:0 0 1px;
  text-decoration:none;
  color:black
}
a:hover, a:active, a:focus {
  border-style:solid;
  background-color:#f0f0f0;
  outline:0 none
}
a:active, a:focus {
  color:black;
}
.expand a {
  background-color:#f0f0f0;
  display:block;
  padding:3px 10px
}
.expand a:link, .expand a:visited {
  border-width:1px;
  background-image:url(img/arrow-down.gif);
  background-repeat:no-repeat;
  background-position:98% 50%;
}
.expand a:hover, .expand a:active, .expand a:focus {
  text-decoration:underline
}
.expand a.open:link, .expand a.open:visited {
  border-style:solid;
  background:#eee url(img/arrow-up.gif) no-repeat 98% 50%
}
</style>
<!-- JS -->
<script src={{jquery}} type="text/javascript"></script>
<script src={{utils}} type="text/javascript"></script>
<script>
	{% if message != None and message != '' %}
	window.onload = function() {
		alert("{{message}}")
		closePopup()
	}
	{% endif %}
	function changeScpnHostSelection(){
		if (document.getElementById("scpnHosts").value != ""){
			alert ("Not implemented yet");
		}
	}	
	function removeQueueConfig(queueConfigId){
		$("#" + queueConfigId).remove();
	}
	function removeQueueSystemConfig(queueSystemConfigId){
		$("#" + queueSystemConfigId).remove();
	}
</script>
</head>
<body>
	<div>
		<h3>{{tittle}}</h3>
		<br/>
		
		<form action="/updateHostsConfig" method="post">		
	        {% csrf_token %}	 
			<table>			 
			 	{% for field in form.getBasicHostFields %}
			 	<tr>
				    <td>
				    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>
				    </td> 
				    <td>{{ field }}</td>
				</tr>    
				{% endfor %}
				{% for field in form.hidden_fields %}
					{{ field }}
				{% endfor %}
			</table>
			<button type="button" id="addQueueSystemConfig" class="generalButton">Add system config</button>
			{% if form.queueSystemConfigCount.value != None and form.queueSystemConfigCount.value != 0 and form.queueSystemConfigCount.value != '0' %}
			<div id="queueSystemConfig" class="queueSystemConfig">
			{% else %}
			<div id="queueSystemConfig" class="queueSystemConfig" style="display:none">
			{% endif %}
			 	<h2>Queue sytem</h2>				 
			 	<br/>
			 	<div id="subQueueSystemConfig">
			 	<table>	
			 		{% for field in form.getQueueSystemConfigFields %}
				 	<tr>
					    <td>
					    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>
					    </td> 
					    <td>{{ field }}</td>
					</tr>    
					{% endfor %}
				</table>
			 	</div>
			 	<div id="queueConfig">
			 	{% for fieldList in form.getQueueConfigFields %}
				 	<table>	
				 		<tr><th align="center" colspan="2">Queue config </th></tr>
				 		{% for field in fieldList %}
					 	<tr>
						    <td>
						    	<label {% if field.field.required %} class="required" {% endif %} for="{{ field.html_name }}"> {{ field.label }}</label>
						    </td> 
						    <td>{{ field }}</td>
						</tr>    
						{% endfor %}
					</table>
				{% endfor %}
				</div>
				<button type="button" id="addQueueConfig" class="generalButton">Add config</button>				
		 	</div>
			<br/>
			{% for field in form %}
				{{ field.errors }}
			{% endfor %}
			<br/>
			<input type="submit" value="Accept" class="priorityButton"/>
			<button type="button" id="cancelButton"  onclick="closePopup()" class="generalButton">Cancel</button>
		</form>	
	</div>
</body>
<script>
//form_count = $("[name=extra_field_count");
queueSystemConfigCount = document.getElementById("queueSystemConfigCount").value;
$("#addQueueSystemConfig").click(function() {
	$("#queueSystemConfig").toggle();
	elementString = '';
	elementString += '<table>';
	elementString += '<tr><td> <label class="required" for="name">Name</label> </td><td><input type="text" name="name" class="generalInput"/></td></tr>';
	elementString += '<tr><td> <label class="required" for="mandatory"> Mandatory </label> </td><td><input type="checkbox" name="mandatory" value="True" checked/></td></tr>';
	elementString += '<tr><td> <label class="required" for="submitTemplate"> Submit template </label> </td><td><textarea rows="5" cols="35" name="submitTemplate"/></td></tr>';
	elementString += '<tr><td> <label class="required" for="submitCommand"> Submit command </label> </td><td><input type="text" name="submitCommand" class="generalInput"/></td></tr>';
	elementString += '<tr><td> <label class="required" for="checkCommand"> Check command </label> </td><td><input type="text" name="checkCommand" class="generalInput"/></td></tr>';
	elementString += '<tr><td> <label class="required" for="cancelCommand"> Cancel command </label> </td><td><input type="text" name="cancelCommand" class="generalInput"/></td></tr>';	
	elementString += '</table>';
	elementString += '<br/>';
    element = $(elementString);
    $("#subQueueSystemConfig").append(element);
    queueSystemConfigCount ++;
    $("[name=queueSystemConfigCount]").val(queueSystemConfigCount);
})

queueConfigCount = document.getElementById("queueConfigCount").value;
$("#addQueueConfig").click(function() {
	elementString = '';
	elementString += '<table id="queueConfig_' + queueConfigCount + '">';
	elementString += '<tr><th align="center" colspan="2">Queue config ' + queueConfigCount + '</th></tr>'
	elementString += '<tr><td> <label class="required" for="name_' + queueConfigCount + '"> Name </label> </td><td><input type="text" name="name_' + queueConfigCount + '" class="generalInput"/></td></tr>';
	elementString += '<tr><td> <label class="required" for="maxCores_' + queueConfigCount + '"> Max. cores </label> </td><td><input type="number" name="maxCores_' + queueConfigCount + '" class="generalInput"/></td></tr>';
	elementString += '<tr><td> <label> Allow MPI </label> </td><td><input type="checkbox" name="allowMPI_' + queueConfigCount + '" /></td></tr>';
	elementString += '<tr><td> <label> Allow threads </label> </td><td><input type="checkbox" name="allowThreads_' + queueConfigCount + '" /></td></tr>';
	elementString += '<tr><td> <label class="required" for="maxHours_' + queueConfigCount + '"> Max. hours </label> </td><td><input type="number" name="maxHours_' + queueConfigCount + '" class="generalInput"/></td></tr>';
	elementString += '</table>';
	elementString += '<br/>';
	elementString += '<button type="button" id="removeQueueConf_' + queueConfigCount + '"  onclick="removeQueueConfig(\'queueConfig_' + queueConfigCount + '\')" class="generalButton">Remove queue config</button>';
    element = $(elementString);
    $("#queueConfig").append(element);
    queueConfigCount ++;
    $("[name=queueConfigCount]").val(queueConfigCount);
})
</script>
</html>