{% extends 'base.html' %} {% block title %} - Project {{project_name}}
{% endblock %} {% block head %}
<link href={{css}} rel="stylesheet" type="text/css">
<link href={{messi_css}} rel="stylesheet" type="text/css">
<!-- JS Libs -->
<script src={{jquery_cookie}} type="text/javascript"></script>
<script src={{jquery_treeview}} type="text/javascript"></script>
<script src={{launchTreeview}} type="text/javascript"></script>
<script src={{tabs_config}} type="text/javascript"></script>
<script src={{utils}} type="text/javascript"></script>
<script>
	
</script>
{% endblock %} {% block sideLeft %}
<div class="protFieldsetTree">
	<ul id="browser" class="filetree">
		{% for section in sections %}
		<li><span class="section">{{section.name}}</span>
			<ul>
				{% for prot in section.childs %} {% if prot.tag == 'protocol'%}
				<li><span class="protocol"><a
						href="javascript:popup('/form/?protocol={{prot.name}}')">{{prot.name}}</a></span></li>
				{% elif prot.tag == 'protocol_base' %}
				<li class="closed"><span class="protocol_base">{{prot.name}}</span>
					<ul>
						{% for prot2 in prot.childs %}
						<li><span class="protocol_class"> <a
								href="javascript:popup('/form/?protocol={{prot2.name}}')">
									{{prot2.name}} </a>
						</span></li> {% endfor %}
					</ul></li> {% else %} No athletes. {% endif %} {% endfor %}
			</ul></li> {% endfor %}
	</ul>
</div>
{% endblock %} {% block content %}
<span style="float: right;"><a id="treeTool"
	href="javascript:switchGraph();"><img src="{{treeTool}}" /> Tree</a></span>
<div id="runTable">
	<div id="toolbar" style="float: left; display: none;">
		<span><a id="editTool" href=""><img src="{{editTool}}" />Edit</a></span>
		<span><a id="copyTool" href=""><img src="{{copyTool}}" />Copy</a></span>
		<span><a id="deleteTool" href=""><img src="{{deleteTool}}" />Delete</a></span> 
		<span><a id="browseTool" href=""><img src="{{browseTool}}" /> Browse</a></span>
	</div>
	<table id="data" cellspacing="0">
		<tr>
			{% for colName, colWidth in provider.getColumns %}
			<th>{{colName}}</th> {% endfor %}
		</tr>
		{% for obj in provider.getObjects %}
		<tr id="{{obj.getObjId}}" class=""
			onclick='javascript:launchToolbar("{{projectName}}","{{obj.getObjId}}", ($(this)));'
			style="background-color: #fafafa;">
			<td><a
				href="javascript:popup('/form/?protocolId={{obj.getObjId}}')">
					{{obj.getName}} </a></td>
			<td>{{obj.status.get}}</td>
			<td>{{obj.getElapsedTime}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="graphActiv" style="display: none;" data-mode="inactive"
	data-time="first">
	<h3>History</h3>
	<div class="window" style="top:3em;" id="container0">Project</div>
	<div class="window" style="top:5em;" id="container1">ProtImportMicrographs1<br/>finished</div>
	<div class="window" style="top:9em;" id="container2">XmippProtPreprocessMicrographs73<br/>finished</div>
	<div class="window" style="top:13em;" id="container3">XmippProtCTFMicrographs222<br/>finished</div>
	<div class="window" style="top:17em;" id="container4">XmippProtParticlePicking319<br/>finished</div>
	<div class="window" style="top:21em;" id="container5">XmippProtExtractParticles388<br/>finished</div>
	<div class="window" style="top:25em;left: 7em;" id="container6">XmippProtML2D621<br/>finished</div>
	<div class="window" style="top:25em;left: 17em;" id="container7">XmippProtCL2D702<br/>finished</div>
</div>
{% endblock %} {% block contentDown %}
<div id="tabContaier">
	<ul class="listTabs">
		<li><a id="tabTitle" class="active" href="#tab1">Data</a></li>
		<li><a id="tabTitle" href="#tab2">Summary</a></li>
	</ul>
	<!-- //Tab buttons -->
	<div class="tabDetails">
		<!-- //tab1 -->
		<div id="tab1" class="tabContents">
			<div id="listEx">
				<ul>
					<li>
					<li>Input
						<ul id='protocol_input'>

						</ul>
					</li>
					<li>Output
						<ul id='protocol_output'>

						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- //tab2 -->
		<div id="tab2" class="tabContents">
			<p>No summary information.</p>
		</div>
	</div>
</div>
{% endblock %}
