{% extends 'base.html' %} {% block title %} - Project {{project_name}}
{% endblock %} {% block head %}
<link href={{css}} rel="stylesheet" type="text/css">
<link href={{messi_css}} rel="stylesheet" type="text/css">
<link href="{{jquery_ui}}" rel="stylesheet" type="text/css">
<!-- JS Libs -->
<script src={{jquery_cookie}} type="text/javascript"></script>
<script src={{jquery_treeview}} type="text/javascript"></script>
<script src={{utils}} type="text/javascript"></script>
<script src={{project_content_utils}} type="text/javascript"></script>
<script src={{graph_utils}} type="text/javascript"></script>
<script>	
	$(function() {
    	$("#tabs").tabs();
    	$("#browser").treeview();
    	{% if graphView %}
    		switchGraph()
    	{% endif %}
  	});
</script>
{% endblock %} 

{% block sideLeft %}
<div id="westContainer">
	<div class="viewTree">
		<label>Workflow View: </label>
		<select id="viewsTree" name="viewsTree" onChange="javascript:changeTreeView();">
			<!-- <option value=""></option> -->
		</select>
	</div> 
	<div class="protFieldsetTree">
		<ul id="browser" class="filetree">
			{% for section in sections %}
			<li><span class="section">{{section.name}}</span>
				<ul>
					{% for prot in section.childs %} {% if prot.tag == 'protocol'%}
					<li><span class="protocol"><a
							href="javascript:popup('/form/?protocolClass={{prot.protClass}}')">{{prot.name}}</a></span></li>
					{% elif prot.tag == 'protocol_base' %}
					<li class="closed"><span class="protocol_base">{{prot.name}}</span>
						<ul>
							{% for prot2 in prot.childs %}
							<li><span class="protocol_class"> <a
									href="javascript:popup('/form/?protocolClass={{prot2.name}}')">
										{{prot2.name}} </a>
							</span></li> {% endfor %}
						</ul></li> {% else %} No athletes. {% endif %} {% endfor %}
				</ul>
			</li> {% endfor %}
		</ul>
	</div>
</div>
{% endblock %} 

{% block contentNorth %}
<span style="float:right;">
	<div id="treeTool">
		<a href="javascript:switchGraph();">
			<img src="{{treeTool}}" /> Tree</a>	
	</div>
	<div id="listTool" style="display:none;">
		<a  href="javascript:switchGraph();" >
			<img src="{{listTool}}" /> List</a>
	</div>
</span>
<div id="toolbar" style="display: none;">
	<span><a id="editTool" href=""><img src="{{editTool}}" />Edit</a></span>
	<span><a id="copyTool" href=""><img src="{{copyTool}}" />Copy</a></span>
	<span><a id="deleteTool" href=""><img src="{{deleteTool}}" />Delete</a></span>
	<span><a id="browseTool" href=""><img src="{{browseTool}}" />Browse</a></span>
	<span id="stopTool"><a id="stopTool" href=""><img src="{{stopTool}}" />Stop</a></span>
	<span id="analyzeTool"><a id="analyzeTool" href=""><img src="{{analyzeTool}}" />Analyze Results</a></span>
</div>
<div id="runTable">	
	<table id="data" cellspacing="0">
		<tr>
			{% for colName, colWidth in provider.getColumns %}
			<th>{{colName}}</th> {% endfor %}
		</tr>
		{% for obj in provider.getObjects %}
		<tr id="{{obj.getObjId}}" class="runtr" data-name="{{obj.getName}}"
			onclick='javascript:launchToolbarList("{{projectName}}","{{obj.getObjId}}", ($(this)));'
			style="background-color: #fafafa;">
			<td><a
				href="javascript:popup('/form/?protocolId={{obj.getObjId}}')">
					{% if obj.getObjLabel == '' %} 
						{{obj.getName}}
					{% else %} 
						{{obj.getObjLabel}} 
					{% endif %}
						</a></td>
			<td>{{obj.status.get}}</td>
			<td>{{obj.getElapsedTime}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="graphActiv" style="display: none;" data-mode="inactive"
	data-time="first" data-project="{{projectName}}" data-option="">
	<h3>History</h3>
</div>
{% endblock %}

{% block contentCenter %}
<div class="tabContaier" id="tabs">
	<ul class="listTabs">
		<li><a href="#tab-data">Data</a></li>
		<li><a href="#tab-summary">Summary</a></li>
	</ul>
	<div id="tab-data" class="tabContents">
		<div id="listEx">
			<ul>
				<li><strong>Input</strong>
					<ul id='protocol_input'></ul>
				</li><br />
				<li><strong>Output</strong>
					<ul id='protocol_output'></ul>
				
			</ul>
		</div>
	</div>
	<div id="tab-summary" class="tabContents">
			<p>No summary information.</p>
	</div>
</div>
{% endblock %}
