{% extends 'base.html' %} {% block title %} - Project {{project_name}}
{% endblock %} {% block head %}
<link href={{css}} rel="stylesheet" type="text/css">
<link href={{messi_css}} rel="stylesheet" type="text/css">
<!-- JS Libs -->
<script src={{jquery_cookie}} type="text/javascript"></script>
<script src={{jquery_treeview}} type="text/javascript"></script>
<script src={{launchTreeview}} type="text/javascript"></script>
<script src={{tabs_config}} type="text/javascript"></script>
<script src={{utils}} type="text/javascript"></script>
{% endblock %}
{% block sideLeft %}
<div class="protFieldsetTree">
	<ul id="browser" class="filetree">
		{% for section in sections %}
		<li><span class="section">{{section.name}}</span>
			<ul>
				{% for prot in section.childs %} {% if prot.tag == 'protocol'%}
				<li><span class="protocol"><a
						href="javascript:popup('/form/?protocol={{prot.name}}')">{{prot.name}}</a></span></li>
				{% elif prot.tag == 'protocol_base' %}
				<li class="closed"><span class="protocol_base">{{prot.name}}</span>
					<ul>
						{% for prot2 in prot.childs %}
						<li><span class="protocol_class"> <a
								href="javascript:popup('/form/?protocol={{prot2.name}}')">
									{{prot2.name}} </a>
						</span></li> {% endfor %}
					</ul></li> {% else %} No athletes. {% endif %} {% endfor %}
			</ul></li> {% endfor %}
	</ul>
</div>
{% endblock %} 
{% block content %}
<div id="toolbar" style="display: none">
	<span><a id="editTool" href=""><img src="{{editTool}}" />Edit</a></span> 
	<span><a id="copyTool" href=""><img	src="{{copyTool}}" /> Copy</a></span> 
	<span><a id="deleteTool" href=""><img src="{{deleteTool}}" /> Delete</a></span> 
	<span><a id="browseTool" href=""><img src="{{browseTool}}" /> Browse</a></span>
</div>
<div style="overflow:auto;height:65%">
	<table id="data" cellspacing="0">
		<tr>
			{% for colName, colWidth in provider.getColumns %}
			<th>{{colName}}</th> {% endfor %}
		</tr>
		{% for obj in provider.getObjects %}
		<tr id="{{obj.getObjId}}" class=""
			onclick='javascript:launchToolbar("{{projectName}}","{{obj.getObjId}}", ($(this)));'
			style="background-color: #fafafa;">
			<td><a
				href="javascript:popup('/form/?protocolId={{obj.getObjId}}')">
					{{obj.getName}} </a></td>
			<td>{{obj.status.get}}</td>
			<td>{{obj.endTime.get}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div id="tabContaier" style="height:30%;">
	<ul class="listTabs">
		<li><a id="tabTitle" class="active" href="#tab1">Data</a></li>
		<li><a id="tabTitle" href="#tab2">Summary</a></li>
	</ul>
	<!-- //Tab buttons -->
	<div class="tabDetails">
		<!-- //tab1 -->
		<div id="tab1" class="tabContents">
			<h3>Data</h3>
			<p>Sed gravida velit ut lorem dictum vitae venenatis dolor
				faucibus. In vehicula malesuada mi, vel semper sem porta in. Mauris
				suscipit lorem eget justo congue semper.</p>
			<p>Donec et purus eget elit tristique consequat. Integer ut orci
				eu augue tristique viverra nec vitae odio. Nulla sem nibh, posuere
				quis condimentum vitae, posuere sit amet lectus. Morbi euismod
				tincidunt mauris ut scelerisque.</p>
		</div>
		<!-- //tab2 -->
		<div id="tab2" class="tabContents">
			<h3>Summary</h3>
			<p>Sed gravida velit ut lorem dictum vitae venenatis dolor
				faucibus. In vehicula malesuada mi, vel semper sem porta in. Mauris
				suscipit lorem eget justo congue semper.</p>
			<p>Donec et purus eget elit tristique consequat. Integer ut orci
				eu augue tristique viverra nec vitae odio. Nulla sem nibh, posuere
				quis condimentum vitae, posuere sit amet lectus. Morbi euismod
				tincidunt mauris ut scelerisque.</p>
		</div>
	</div>
</div>
{% endblock %}