{% extends 'base_grid.html'%}

{% block title %} - Projects{% endblock %}

{% block content_head %}
<!-- CSS -->
<link href="{{projects_css}}" rel="stylesheet" type="text/css">

<!-- JS -->
<script src="{{project_utils_js}}" type="text/javascript"></script>
<script type="text/javascript">

	jQuery(function($) {
		// Just call the inner layout once to initialize it. This
		// must happen before the outer layout is initialized. It
		// will be automatically resized when the outer layout is
		// resized.
	/* 	var outerContainer = $('.layout-outer');

		function layout() {
			outerContainer.layout({resize: false});
		}
		layout();

		$(window).resize(layout); */
		
		var outerContainer = $('.layout-outer');

		function layout() {
			outerContainer.layout({resize: false});
		}
		layout();

		$(window).resize(layout);

	});
	

	
</script>
{% endblock %}

{% block content_header %}	{% include "header.html"%} {% endblock %}

{% block menu %}
<div id="asideMainContainer">
<a href="javascript:createProjectForm();" ><button class="priorityButton" type="button">Create Project</button></a>
</div>
{% endblock %}

{% block content %}
<div class="projectsList">
	<ul>				
	{% for project in projects %}
		<li class="projList"><strong><a href="/project_content/?projectName={{project.projName}}"
				class="projName">{{project.projName}}</a></strong> <br /> Modified
			{{project.pTime}} <a href="javascript:deleteProjectForm('{{project.projName}}');" class="projRemove">Delete project</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}



