
<script type="text/javascript">
	$(function() {
		{% if graphView %}
			switchGraph()
		{% endif %}
	});
</script>

<!-- Run Table ---------------------->

<div id="runTable" style="display:inline;">
	<table id="data" cellspacing="0">
		<tr>
			{% for colName, colWidth in columns %}
			<th>
				{{colName}}
			</th>
			{% endfor %}
		</tr>
		{% for k, obj in runs %}
		<tr id="{{obj.0}}" class="runtr" data-name="{{obj.1}}"
		data-label="{{obj.1}}"
			onclick='javascript:launchToolbarList("{{obj.0}}", ($(this)));'>
			<td>
				<a class="nameId" href="javascript:customPopup('/form/?protocolId={{obj.0}}', 620,591)">
					{{obj.1}} 
				</a>
			</td>
			<td class="status">{{obj.2}}</td>
			<td class="time">{{obj.3}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<!-- Run Graph ---------------------->
<div id="runGraph">
	<img id="loading" src="../../../../resources/loading.gif" style="width: 20%;height: 20%;margin-top:12.5em;margin-left:15em;display:none;"/>
	<div id="graphActiv" style="display:none;" data-mode="inactive"
		data-time="first" data-project="{{projectName}}" data-option="">
		<!-- <h3>History</h3> -->
	</div>
</div>