
<script type="text/javascript">
	$(function() {
		{% if graphView %}
			switchGraph()
		{% endif %}
	});
</script>

<!-- Run Table ---------------------->

<div id="runTable">	
	<table id="data" cellspacing="0">
		<tr>
			{% for colName, colWidth in provider.getColumns %}
			<th>
				{{colName}}
			</th>
			{% endfor %}
		</tr>
		{% for k, obj in runs %}
		<tr id="{{obj.0}}" class="runtr" data-name="{{obj.1}}"
		data-label="{{obj.1}}"
			onclick='javascript:launchToolbarList("{{obj.0}}", ($(this)));'>
			<td>
				<a href="javascript:popup('/form/?protocolId={{obj.getObjId}}')">
					{% if obj.getObjLabel == '' %} 
						{{obj.getName}}
					{% else %} 
						{{obj.getObjLabel}} 
					{% endif %}
				</a>
			</td>
			<td>{{obj.status.get}}</td>
			<td>{{obj.getElapsedTime}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<!-- Run Graph ---------------------->

<div id="graphActiv" style="display: none;" data-mode="inactive"
	data-time="first" data-project="{{projectName}}" data-option="">
	<!-- <h3>History</h3> -->
</div>