
<script type="text/javascript">
	$(function() {
		{% if graphView %}
			switchGraph()
		{% endif %}
	});
</script>

<!-- Run Table ---------------------->

<div id="runTable">	
	<table id="data" cellspacing="0">
		<tr>
			{% for colName, colWidth in columns %}
			<th>
				{{colName}}
			</th>
			{% endfor %}
		</tr>
		{% for obj in runs.values %}
		<tr id="{{obj.0}}" class="runtr" data-name="{{obj.1}}"
		data-label="{{obj.1}}"
			onclick='javascript:launchToolbarList("{{obj.0}}", ($(this)));'>
			<td>
				<a class="nameId" href="javascript:popup('/form/?protocolId={{obj.0}}')">
					{{obj.1}} 
				</a>
			</td>
			<td class="status">{{obj.2}}</td>
			<td class="time">{{obj.3}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<!-- Run Graph ---------------------->

<div id="graphActiv" style="display: none;" data-mode="inactive"
	data-time="first" data-project="{{projectName}}" data-option="">
	<!-- <h3>History</h3> -->
</div>