<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Scipion</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href="/resources/scipion_bn.png" />
	<!-- CSS -->
	<link href="/static/css/general_style.css" rel="stylesheet" type="text/css">
	<link href="/static/css/general_style_base.css" rel="stylesheet" type="text/css">
	<link href="/static/css/web.css" rel="stylesheet" type="text/css">
	


</head>
<body>

	<div id="mainContainer">
		<header data-layout='{"type": "border", "hgap": 1, "vgap": 1}' class="north">
			<div id="headerMainContainer">
				<a href="/projects" id="headerLogoContainer"><img class="logo" src="/resources/scipion_logo.gif" alt="Scipion logo"></a>
				
				
				<div id="headerRightContainer">

						<a href="#" class="headerLink">Projects</a>
						<span id="tube">|</span><a href="#" class="headerLink">Protocols</a>
						<span id="tube">|</span><a href="#" class="headerLink">Data</a>
						<span id="tube">|</span><a href="#" class="headerLink">Hosts</a>
				</div>
			
			</div>
			<div id="headerLine"></div>
		</header>
		
		<div id="mainSection">
			<!-- <aside id="side_news"></aside> -->
			<section> 
			
				<div id="innerSection">
				
					<div  id="textSection">
						<div id="titleSection">Lorem ipsum dolor amet</div>
						
						<div id="topTextSection">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo lugla eget dolor. Aenean massa.
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
						</div>
						
						<div id="buttonSection">
							<a href="#" class="downloadButton">Download</a>
							<a href="#" class="documentationButton">Documentation</a>
						</div>
						
						<div id="bottomTextSection">
						<span style="color:#830b0b;font-weight:bold;">Lorem ipsum dolor sit amet,</span> consectetuer adipiscing elit. Aenean commodo lugla eget dolor.
						</div>
					</div>
					
				</div>
				
			</section>
		</div>
		
		
	</div>
	
	<footer>
		<div id="footerLine"></div>
		<div id="footerMainContainer">
			<div id="footerLeftContainer">
				<a href="/projects" id="footerLogoContainer"><img class="logo" src="/resources/scipion_logo_transparent.png" alt="Scipion logo"></a>
				<span id="footerText">Neque porro quisquam est qui dolorem, adispici velit</span>
			</div>
			<div id="footerRightContainer">
				<a href="/faq" class="footerLink">FAQ</a><span id="tube">|</span>
				<a href="/wiki" class="footerLink">Wiki</a><span id="tube">|</span>
				<a href="/license" class="footerLink">License</a><span id="tube">|</span>
				<a href="/contact" class="footerLink">Contact</a>
			</div>
		</div>
	</footer>

</body>
</html>
