{% extends 'showj_base.html' %} 
{% block head %}
<script type="text/javascript" src="{{jquery_datatable}}"></script>
<script type="text/javascript" src="{{jquerydataTables_colreorder}}"></script>

<script type="text/javascript">
var oTable;
var giRedraw = false;

$(document).ready(function() {
	initializeSelectionRowEvent()
	initializeGoToEvent()
	initializeTableWidth()
	
	/* Add a click handler for the delete row */
	/* $('#delete').click( function() {
		var anSelected = fnGetSelected( oTable );
		oTable.fnDeleteRow( anSelected[0] );
	} ); */
	
	
	/* Init the table */
	oTable = $('#data_table').dataTable(
				{
			        "bPaginate": true,
			        "bLengthChange": true,
			        "bFilter": true,
			        "bSort": true,
			        "bInfo": true,
			        "bAutoWidth": true,
			        "sDom": 'Rlfrtip',
			        "sScrollX": "100%",
			        "bScrollCollapse": true,
			        "oColReorder": {
		    			"aiOrder": {{metadata.colsOrder}}
		    		},
		    		
		    		"bProcessing": true,
		            "bServerSide": true,
		            "sAjaxSource": "/get_table/"
		    		/* "bRetrieve": true */
					
			    }		
			);
	
	
} );

function initializeTableWidth(){
	var tableWidth = $("section").width()
	if ($("#table_container").width()>tableWidth){
		$("#table_container").width(tableWidth);
	}	
}

function initializeGoToEvent(){
	$('#goto').click(function(){
		updateRowSelection();	
	});
	
	$('#goto').change(function(){
		updateRowSelection();
	});
}
function updateRowSelection(){

	
	var nodes = oTable.fnGetNodes();
    for (var i=0; i<nodes.length; i++){
		if (nodes[i].id == $("#goto").val()){
			/* Falta arreglar. El click se ejecuta sobre el tbody no el tr
			http://datatables.net/extras/tabletools/api#fnSelect */
			$("#"+nodes[i].id).children("td").first().click();
		}    	
        
    }
}


function initializeSelectionRowEvent(){
	/* Add a click handler to the rows - this could be used as a callback */
	$("#data_table tbody").click(function(event) {
		$(oTable.fnSettings().aoData).each(function (){
			$(this.nTr).removeClass('row_selected');
		});
		$(event.target.parentNode).addClass('row_selected');

		/* Refresh value on got field  */
		selectedRows = fnGetSelected(oTable)

		if (selectedRows.length == 1) {
			$("#goto").val(selectedRows[0].id)
		}
		else{
			$("#goto").val(0)
		}
	});
}

/* Get the rows which are currently selected */
function fnGetSelected(oTableLocal)
{
	var aReturn = new Array();
	var aTrs = oTableLocal.fnGetNodes();
	
	for ( var i=0 ; i<aTrs.length ; i++ )
	{
		if ( $(aTrs[i]).hasClass('row_selected') )
		{
			aReturn.push( aTrs[i] );
		}
	}
	return aReturn;
}
</script>
{% endblock %}

{% block content_menu %}{% endblock %}
			
{% block content_view %}
	
<div id="table_container">
	<table cellspacing="0" id="data_table" width="100%">
		<thead>
			<tr>
			{% for label in metadata.labels %}
				<th id="column_label">{{label}}</th> 
			{% endfor %}				
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
			
{% endblock %}
