{% extends 'showj_base.html' %} 
{% block head %}
<!-- CSS -->
<link type="text/css" href="/static/css/jquery-ui_smoothness.css" rel="stylesheet" /> 
<link type="text/css" href="/static/css/demo_table_jui.css" rel="stylesheet" />

<!-- TABLE STYLES 
Overwrite general section property for table view -->
<style type="text/css">
section {
	display:block;
}
#displayTableContainer{
	width:60%;
	text-align:center;
	margin-bottom:10px;
	display:block;
}
</style>

<!-- JS -->

<script type="text/javascript" src="{{jquery_datatable}}"></script>

<!-- Datatable extra api -->
<script type="text/javascript">
$.fn.dataTableExt.oApi.fnVisibleToColumnIndex = function ( oSettings, iMatch )
{
    return oSettings.oApi._fnVisibleToColumnIndex( oSettings, iMatch );
};
$.fn.dataTableExt.oApi.fnColumnIndexToVisible = function ( oSettings, iMatch )
{
  return oSettings.oApi._fnColumnIndexToVisible( oSettings, iMatch );
};
$.fn.dataTableExt.oApi.fnGetColumnIndex = function ( oSettings, sCol )
{
    var cols = oSettings.aoColumns;
    for ( var x=0, xLen=cols.length ; x<xLen ; x++ )
    {
        if ( cols[x].sTitle.toLowerCase() == sCol.toLowerCase() )
        {
            return x;
        };
    }
    return -1;
};

</script>

<script type="text/javascript" src="{{jquerydataTables_colreorder}}"></script>
<script type="text/javascript" src="/static/js/ColReorderWithResize.js"></script>
<script type="text/javascript" src="{{jeditable}}"></script>
<script type="text/javascript" src="/static/js/Transpose.js"></script>

<script type="text/javascript">
/* Initialize datatable table */
var oTable;
/* Initialize Table Layout Configuration from json variable*/
var jsonTableLayoutConfiguration = {{tableLayoutConfiguration|safe }}
console.log("json",jsonTableLayoutConfiguration)
/*  Initialize variable to keep changes*/
var changes={}

$(document).ready(function() {
	
	initializeSelectionRowEvent() 
	initializeGoToEvent()
	initializeTableWidth()
	
	/* Init the table */
	oTable = $('#data_table').dataTable(
				{
			        "bPaginate": true,
			        "bLengthChange": true,
			        "bFilter": true,
			        "bSort": true,
			        "bInfo": true,
			        "bAutoWidth": true,
			        "sDom": '<"#displayTableContainer">ZRrt',
			        /* "sDom": 'Rrt', */
			        /* "sDom": 'T<"clear">lfrtip', */
 			        "oColReorder": {
		    			"aiOrder": jsonTableLayoutConfiguration.colsOrder
		    		},  
		    		
		    		"bProcessing": true,
/* 		            "bServerSide": true, */
/* 		            "sAjaxSource": "/get_table/", */
		            
		            "fnServerParams": function ( aoData ) {
		                aoData.push( {
		                	"path": "{{inputParameters.path}}",
		                	"block": "{{inputParameters.block}}",
		                	"allowRender": "{{inputParameters.allowRender}}",
		                	"imageDim": "{{inputParameters.imageDim}}"
		                		} );
		            },
		            "fnDrawCallback": function( oSettings ) {
		            	if ( typeof oTable != 'undefined' ) {
		            		setElementsEditable(null)
		            	}
		              },
		             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
		            	 renderElements(nRow, aData)
		             },
		            "bDeferRender": true,
		    		/* "bRetrieve": true */
		    		"aaData": generateDataForTable(),	
		    		"aoColumnDefs": getColumnsDefinition(), 
		            "bJQueryUI": true,
		    		"sPaginationType": "full_numbers"
			    }		
			);
	
	$("#displayTableContainer").html("<a href='#' onclick='showTableConfig()'>Display Table Configuration</a>")
	
	initializeMultipleSelectionTool()
	setElementsEditable(null)
	initializeColumnHeader()
	
	/*  Transpose data table after all events have been initialized*/
	oTable.fnTranspose(true)
	
	
} );

/* Render elements on table (Image and checkbox) */
function renderElements(nRow, aData){
	 console.log("row") 
	 columnId = 0
	 invisibleColumns = 0 
	 for (var i in jsonTableLayoutConfiguration.columnsLayout){ 
		 var columnLayoutConfiguration = jsonTableLayoutConfiguration.columnsLayout[i]
		 if (columnLayoutConfiguration.columnLayoutProperties.visible){
	   		 if (typeof oTable!= 'undefined'){
	   			 columnId=oTable.fnGetColumnIndex(i)
	   			 columnIdReal=oTable.fnColumnIndexToVisible(columnId)
	   		 }
	   		 else{
	   			 columnIdReal=columnId-invisibleColumns
	   		 }
	   		 
	   		if (columnIdReal!=null){ 
		   		if (columnLayoutConfiguration.typeOfColumn == 'image'){
			   		 if (columnLayoutConfiguration.columnLayoutProperties.renderable){
			   			 $('td:eq('+columnIdReal+')', nRow).html( '<span style="display:none">'+aData[columnId]+'</span><img class=\"tableImages\" id=\"'+i+'___'+aData[0]+'\" src=\"/get_image/?image='+aData[columnId]+'\"/>' );
			   		 }
			   		 else{
			   			$('td:eq('+columnIdReal+')', nRow).html( '<span>'+aData[columnId]+'</span><img style="display:none" class=\"tableImages\" id=\"'+i+'___'+aData[0]+'\" src=\"/get_image/?image='+aData[columnId]+'\"/>' );
			   		 }
		   		 }
		   		 else if (columnLayoutConfiguration.typeOfColumn == 'checkbox'){
		   			 checkbox_element = '<input type=\"checkbox\" onclick=\"valueChange(this);\" id=\"'+i+'___'+aData[0]+'\" '
		    			 if (aData[columnId] == 1){checkbox_element += 'checked>'}
		    			 else{checkbox_element += '>'}
		   			 $('td:eq('+columnIdReal+')', nRow).html(checkbox_element);
		   		 }
	   		}	
		 }
		 else{
			 invisibleColumns++;
		 }
		 columnId++;
	 }
}

/* Initialize icons in column header (render image, disable column and make column editable) */
function initializeColumnHeader(){
	headerRow=$("#data_table thead tr")
	var cols = oTable.fnSettings().aoColumns;
    for ( var x=0, xLen=cols.length ; x<xLen ; x++ )
    {
        var cellIndex = oTable.fnColumnIndexToVisible(x)
        if (cellIndex !=null){
        	$('th:eq('+cellIndex+')',headerRow).find("div").append(getHeaderWithIcon(cols[x].sTitle,jsonTableLayoutConfiguration.columnsLayout[cols[x].sTitle].columnLayoutProperties))
        	$('th:eq('+cellIndex+')',headerRow).attr("id",cols[x].sTitle+"___column_header")
        } 
    }
	
} 

/* Add renderable, editable and disable icon to each column */
function getHeaderWithIcon(text, columnLayoutProperties){
	
	var iconElements = '' 
	/* NAPA DE LUXE HABRIA QUE PONERLE UN MARGIN AL LABEL DEL HEADER */
	/* var iconElements = '<span style=\"margin:8px\">'+text+'</span>' */
	if (columnLayoutProperties.visible && columnLayoutProperties.allowSetVisible){
		iconElements+="<span class=\"css_right\"><img src=\"/resources/showj/delete.png\" class=\"arrowImage\" onclick=\"enableDisableColumn(event,this)\" ></span>"
	}
	
	if (columnLayoutProperties.allowSetEditable){
		iconElements+="<span class=\"css_right\"><div class=\"iconHeader "
		if (columnLayoutProperties.editable){iconElements+="editTableOn"}else{iconElements+="editTableOff"}
		iconElements+="\" id=\""+text+"_editable_icon\" onclick=\"enableDisableEditableColumn(event,this)\"></div></span>"
	}
	
	if (columnLayoutProperties.allowSetRenderable){
		iconElements+="<span class=\"css_right\"><div class=\"iconHeader "
			if (columnLayoutProperties.renderable){iconElements+="renderTableOn"}else{iconElements+="renderTableOff"}
		iconElements+="\" id=\""+text+"_renderable_icon\" onclick=\"enableDisableRenderColumn(event,this)\"></div></span>"
	}
	
	return iconElements; 
}

/* Create column definition (class, title, visible) from table layout configuration*/
function getColumnsDefinition(){
	jsonColumnsLayout=jsonTableLayoutConfiguration.columnsLayout
	columnId=0;
	var dataForTable = []
	for (var i in jsonColumnsLayout){ 
		
		var dataRowForTable = []
		
 		var columnLayoutConfiguration = jsonColumnsLayout[i]
		/* if (columnLayoutConfiguration.typeOfColumn == "text" && columnLayoutConfiguration.columnLayoutProperties.editable){
			dataRowForTable["sClass"]= "editable" 
		}
		else if(columnLayoutConfiguration.typeOfColumn == "image"){
			sClass_Tmp = "imageColumn"
			if (columnLayoutConfiguration.columnLayoutProperties.renderable){
				dataRowForTable["sClass"]= sClass_Tmp +" editable"
			} 
		} */
		
 		if(!columnLayoutConfiguration.columnLayoutProperties.visible){
			dataRowForTable["bVisible"] = false
		} 
		
		dataRowForTable["sTitle"]= i
		dataRowForTable["aTargets"]=[columnId]
		dataRowForTable["bSortable"]= false
		dataForTable.push(dataRowForTable)
		columnId++;
		
	}
	
	/* TO BE DELETED */
	/* console.log(JSON.stringify(dataForTable)) */
	
	return dataForTable;
}


/* Enable/disable column 
 * Disable datatable column when event triggered from icon disable column header 
 */
function enableDisableColumn(event, element){
	//From the image element we get the column header index
	var thCell= $(element).closest('th')
	var iCol = $('th').index(thCell)
	var iCol2 = oTable.fnVisibleToColumnIndex(iCol)
	
	var bVis = oTable.fnSettings().aoColumns[iCol2].bVisible;
	oTable.fnSetColumnVis( iCol2, bVis ? false : true );

	/*  Update table layout configuration model*/
	var labelColumn = thCell.attr("id").split("___")[0]
	jsonTableLayoutConfiguration.columnsLayout[labelColumn].columnLayoutProperties.visible=!bVis
	
	//This will avoid column sorting
	event.stopPropagation() 
}

/* Enable/disable render to column
 * When column cell is image, it will change from img element to path text and viceversa 
 */
function enableDisableRenderColumn(event, element){
	/*  Switch button from on to off or viceversa*/
	$(element).toggleClass("renderTableOn").toggleClass("renderTableOff")
	
	//From the image element we get the column header index
	var thCell= $(element).closest('th')
	var iCol = $('th').index(thCell)
	
	//We enable/disable render event
	var nTrs = oTable.fnGetNodes();
	$('td:nth-child('+(iCol+1)+')', nTrs).each(function(){
		$(this).find("img").toggle()
		$(this).find("span").toggle()
	})

	/*  Update table layout configuration model*/
	var labelColumn = thCell.attr("id").split("___")[0]
	jsonTableLayoutConfiguration.columnsLayout[labelColumn].columnLayoutProperties.renderable=$(element).hasClass("renderTableOn")
	
	//This will avoid column sorting
	event.stopPropagation() 
}

/* Enable/disable editable to column
 * When column cell is text or a number, it will change from a text element to an input textfield and viceversa 
 */
function enableDisableEditableColumn(event, element){
	$(element).toggleClass("editTableOn").toggleClass("editTableOff")
	
	//From the image element we get the column header index
	var thCell= $(element).closest('th')
	var iCol = $('th').index(thCell)
	
	//We enable/disable render event
	var nTrs = oTable.fnGetNodes();
	if ($(element).hasClass("editTableOn")){
		$('td:nth-child('+(iCol+1)+')', nTrs).addClass('editable')
		setElementsEditable('td:nth-child('+(iCol+1)+')')
	}
	else{
		$('td:nth-child('+(iCol+1)+')', nTrs).removeClass('editable')
		$('td:nth-child('+(iCol+1)+')', nTrs).unbind('click');
	}
	$('td:nth-child('+(iCol+1)+')', nTrs).each(function(){
		$(this).toggleClass("editable")
	})
	
	/*  Update table layout configuration model*/
	var labelColumn = thCell.attr("id").split("___")[0]
	jsonTableLayoutConfiguration.columnsLayout[labelColumn].columnLayoutProperties.editable=$(element).hasClass("editTableOn")
	
	//This will avoid column sorting
	event.stopPropagation()
	
}

/*  Make all the elements editable. Onclick elements will change into textfield (Plugin jeditable)*/
function setElementsEditable(elements){
	/* If no elements are given, all dataset is configured */
	if (elements==null){
		var nTrs = oTable.fnGetNodes();
		for (var label in jsonTableLayoutConfiguration.columnsLayout){ 
			columnId=oTable.fnGetColumnIndex(label)
   			columnIdReal=oTable.fnColumnIndexToVisible(columnId)
   			if (columnIdReal!=null){
				if (jsonTableLayoutConfiguration.columnsLayout[label].columnLayoutProperties.editable){
	   				setElementsEditable('td:nth-child('+(columnIdReal+1)+')')
				}
				else{
	   				$('td:nth-child('+(columnIdReal+1)+')', nTrs).unbind('click');
	   			}
   			}	
		}
	}
	else{
		$(elements, oTable.fnGetNodes()).editable(
			/* '../examples_support/editable_ajax.php', */
			function(value, settings){ 
				/*  Get position and real column*/
				var aPos = oTable.fnGetPosition( this )
				columnIdReal=oTable.fnVisibleToColumnIndex(aPos[1])
				
				/* Get label from column*/
				var label = oTable.fnSettings().aoColumns[columnIdReal].sTitle
				
				/*NAPA DE LUX TENEMOS QUE PONERLE UN ID A LAS FILAS */
				var aoData = oTable.fnSettings().aoData;
				var nTd = aoData[ aPos[0] ]._anHidden[ oTable.fnGetColumnIndex("id") ];
				var rowId =$(nTd).text()
				
				/*Keep changes in global variable */
				changes[label+"___"+rowId]=value
			    return(value);
			  },
			{
			 "callback": function( sValue, y ) {
				/* Update datatable model */
				var aPos = oTable.fnGetPosition( this );
				columnIdReal=oTable.fnVisibleToColumnIndex(aPos[1])
				oTable.fnUpdate( sValue, aPos[0], columnIdReal );
			},
			"height": "14px"
		} );
	}	
}

/* Generate data for datatable from table dataset model */
function generateDataForTable(){
	dataForTable = new Array();
	{% for row in tableDataset.getRows %}
		dataRowForTable = new Array()
		var row_id
		{% for cell in row %}
			dataRowForTable.push("{{cell}}")
			{% if forloop.first	%}
				row_id = "{{cell}}"
			{% endif %}

		{% endfor %}
		/* dataRowForTable.push("DT_RowId\": \""+row_id+"\"") */
		/* dataRowForTable.push("DT_RowId: "+row_id) */
		dataForTable.push(dataRowForTable)
	{% endfor %}
	return dataForTable;
}

function valueChange(element){
	element_value = ""
	if ($(element).is("input:checkbox")){
		element_value = $(element).is(":checked")
	}
	else{
		element_value = $(element).val()
	}
	
	/*Keep changes in global variable */
	changes[$(element).attr("id")]=element_value
}

function initializeTableWidth(){
	var tableWidth = $("section").width()
	if ($("#table_container").width()>tableWidth){
		$("#table_container").width(tableWidth);
	}	
}

function initializeGoToEvent(){
	$('#id_goto').click(function(){
		updateRowSelection();	
	});
	
	$('#id_goto').change(function(){
		updateRowSelection();
	});
}
function updateRowSelection(){
	var nodes = oTable.fnGetNodes();
	nodes[$("#id_goto").val()-1].click();
}

/* Control row event selection allowing shift, ctrol and single click */
var lastChecked;
function initializeSelectionRowEvent(){
	$('#data_table').on("click","tr", function(event) {

		var start = $('#data_table tbody tr').index(this);
		if (start>=0){
		    if(!lastChecked) {
		        lastChecked = this;
		    }
		     
		    if(event.shiftKey) {
		        var end = $('#data_table tbody tr').index(lastChecked);
		 
		        for(i=Math.min(start,end);i<=Math.max(start,end);i++) {
		            if (!$('#data_table tbody tr').eq(i).hasClass('row_selected')){
		                $('#data_table tbody tr').eq(i).addClass("row_selected");
		            }
		        }
		         
		        // Clear browser text selection mask
		        if (window.getSelection) {
		            if (window.getSelection().empty) {  // Chrome
		                window.getSelection().empty();
		            } else if (window.getSelection().removeAllRanges) {  // Firefox
		                window.getSelection().removeAllRanges();
		            }
		        } else if (document.selection) {  // IE?
		            document.selection.empty();
		        }
		    } else {
		    	/* $(lastChecked).removeClass('row_selected'); */
		    	if (!event.metaKey && !event.ctrlKey){
		    		$('tr').each(function (){
						$(this).removeClass('row_selected');
					});
			    }
	
		        $(this).toggleClass('row_selected');  
		    }
		     
		    lastChecked = this;
		    
		    $("#id_goto").val($(this).index()+1)
		}	    
	});
}

function initializeMultipleSelectionTool(){
/* 	alert("porakientra")
	$('#data_table').on("hover","tr", function(event) {
		console.log("toloco");
	})
	
	$('td').hover(function(event) {
		alert("td takarrasWithout filter")
		
	},function(event) {
		alert("td takarrasWithout filter")
		
	});*/
	
	$('tr').hover(function(e) {
		if ($(this).hasClass("row_selected")){
			var x= e.pageX
			var y= e.pageY
			
			$("#multipleSelectionTool").css('left',x)
			$("#multipleSelectionTool").css('top',y)
			
			var iRow = $(this).index()
			$("#multipleSelectionTool").data('row_id', iRow)
			
			$("#multipleSelectionTool").fadeIn('slow')
		}	
		
	},function(event) {
		if ($(this).hasClass("row_selected")){
			$("#multipleSelectionTool").delay(2000).fadeOut('slow')
		}
		
	}); 
}

/*Display and initialize div for configuring table layout*/
function showTableConfig(){
	/* Display Div */
	$("#configurationContainer").slideDown()

	/*  Initialize checkbox in table confirguration container (checked and disable attributes)*/
	for (var label in jsonTableLayoutConfiguration.columnsLayout){ 
		columnLayoutProperties=jsonTableLayoutConfiguration.columnsLayout[label].columnLayoutProperties
		
		/* VISIBLE */
		if (columnLayoutProperties.visible){$("#"+label+"_visible").prop('checked', true)}
		else{$("#"+label+"_visible").prop('checked', false)}
		if (columnLayoutProperties.allowSetVisible){$("#"+label+"_visible").removeProp('disabled')}
		else{$("#"+label+"_visible").prop('disabled', 'disabled')}
		
		/* RENDERABLE */
		if (columnLayoutProperties.renderable){$("#"+label+"_renderable").prop('checked', true)}
		else{$("#"+label+"_renderable").prop('checked', false)}
		if (columnLayoutProperties.allowSetRenderable){$("#"+label+"_renderable").removeProp('disabled')}
		else{$("#"+label+"_renderable").prop('disabled', 'disabled')}
		
		/* EDITABLE */
		if (columnLayoutProperties.editable){$("#"+label+"_editable").prop('checked', true)}
		else{$("#"+label+"_editable").prop('checked', false)}
		if (columnLayoutProperties.allowSetEditable){$("#"+label+"_editable").removeProp('disabled')}
		else{$("#"+label+"_editable").prop('disabled', 'disabled')}
	}	
 
}	

/* Save new table configuration and redraw data table */
function saveTableConfiguration(){
	for (var label in jsonTableLayoutConfiguration.columnsLayout){ 
		columnLayoutProperties=jsonTableLayoutConfiguration.columnsLayout[label].columnLayoutProperties
		columnLayoutProperties.visible=$("#"+label+"_visible").prop('checked')
		//From the image element we get the column header index
		columnId=oTable.fnGetColumnIndex(label)
		oTable.fnSetColumnVis(columnId, columnLayoutProperties.visible);
		newValue=$("#"+label+"_renderable").prop('checked')
		if (newValue != columnLayoutProperties.renderable){
			columnLayoutProperties.renderable=newValue
			$("#"+label+"_renderable_icon").toggleClass("renderTableOn").toggleClass("renderTableOff")
		}
		newValue=$("#"+label+"_editable").prop('checked')
		if (newValue != columnLayoutProperties.editable){
			columnLayoutProperties.editable=newValue
			$("#"+label+"_editable_icon").toggleClass("editTableOn").toggleClass("editTableOff")
		}
		
	}
	
	oTable.fnDraw();
	$("#configurationContainer").hide()
}
</script>
{% endblock %}

{% block content_menu %}{% endblock %}
			
{% block content_view %}
<div id="configurationContainer">
	<div id="tableConfigurationContainer">
		<table id="firstTableConfiguration">
			<tr>
				<td>Label</td><td>Visible</td><td>Render</td><td>Edit</td>
			</tr>
			{% for column in tableDataset.getColumns %}
				{% if tableDataset.getNumberOfColumns < 6 or forloop.counter0|divisibleby:2 %}
			 		 <tr>
			 		 	<td>{{column.getName}}</td>
			 		 	<td><input type="checkbox" id="{{column.getName}}_visible"></td>
			 		 	<td><input type="checkbox" id="{{column.getName}}_renderable"></td>
			 		 	<td><input type="checkbox" id="{{column.getName}}_editable"></td>
			 		 </tr>
	 			{% endif %} 
			{% endfor %}
		</table>
		
		{% if tableDataset.getNumberOfColumns > 5 %}
		<table id="secondTableConfiguration">
			<tr>
				<td>Label</td><td>Visible</td><td>Render</td><td>Edit</td>
			</tr>
			{% for column in tableDataset.getColumns %}
				 {% if forloop.counter0|divisibleby:2 == False %}
			 		 <tr>
			 		 	<td>{{column.getName}}</td>
			 		 	<td><input type="checkbox" id="{{column.getName}}_visible"></td>
			 		 	<td><input type="checkbox" id="{{column.getName}}_renderable"></td>
			 		 	<td><input type="checkbox" id="{{column.getName}}_editable"></td>
			 		 </tr>
	 			{% endif %} 
			{% endfor %}
		</table>
		{% endif %} 
	</div>
	<div id="tableConfigurationButtonBar">
		<button id="acceptTableConfigurationButton" onclick="saveTableConfiguration()">
			Ok
		</button>
		<button id="cancelTableConfigurationButton" onclick="$('#configurationContainer').hide()">
			Cancel
		</button>
	</div>
</div>

	
<div id="table_container" style="overflow-x:auto">
		<table cellspacing="0" id="data_table" width="60%">
		</table>
</div>
			
{% endblock %}
