<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Showj</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href={{favicon}} />
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{jquery_cookie}} type="text/javascript"></script>
	<script src={{jquery_treeview}} type="text/javascript"></script>
	<script src={{launchTreeview}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){
		initializeZoomEvents();
		initializeColRowModeEvents()
		initializeSaveButtonEvents()
		initializeComboBoxEvents()
		$('.menuInputNumber').keypress(function(e) {
		  var code = e.keyCode || e.which; 
		  if (code  == 13) {               
		    e.preventDefault();
		    return false;
		  }
		});
		
	});
	</script>
	<script type="text/javascript">
	function initializeComboBoxEvents(){
		$("#id_blockComboBox , #id_metadataComboBox").change(function(){
			alert('submiting form')
			$('form#showjForm').submit();
		})
	}
	</script>
	<script type="text/javascript">
	//Initialize save buttons events. Ajax call for saving metadata to file
	function initializeSaveButtonEvents(){
		$("#saveButton").click(function(){
			$.ajax({
				type : "GET",
				url : "/save_showj_metadata/?path=\"/home/adrian/taka.xmd\"",
				dataType : "json",
				success : function(json) {
					message = json.message;
					alert(message)
				}
			});
		});
	}
	</script>
	<script type="text/javascript">
	//Initialize events for columns and row mode. 
	//Automatic mode => disable cols & rows textfields
	//Manual mode => enable cols & rows textfields and initialize value
	function initializeColRowModeEvents(){
		$("#colRowMode").click(function(){
			if ($("#colRowModeImage").attr("src").indexOf("On") != -1){
				$("#colRowModeImage").attr("src", $("#colRowModeImage").attr("src").replace("On","Off"))
				$("#id_cols").attr('disabled', 'disabled');
				$("#id_rows").attr('disabled', 'disabled');
				
				$("section").css("width", "");
				
			}
			else{
				$("#colRowModeImage").attr("src", $("#colRowModeImage").attr("src").replace("Off","On"))
				$("#id_cols").removeAttr('disabled');
				$("#id_rows").removeAttr('disabled');
				
				if ($("#id_cols").val()==""){
					initializeColsRows()
				}
			}
		});
	}
	
	//Initialize Columns and Rows textfields. Execute when changing to manual mode
	function initializeColsRows(){
		imgContainerWidth =$(".img_container").width() + (parseInt($(".img_container").css("margin-right")) * 2)
		colVal = Math.floor($("section").width() / (imgContainerWidth + 5))
		updateGalleryLayout(colVal,0,"id_cols")
		$("#id_cols").val(colVal)
		
	}
	</script>
	<script type="text/javascript">
		//Initialize events for zoom change
		function initializeZoomEvents(){
			$('#id_zoom').click(function(){
				updateImageDimByUrl();	
			});
			
			$('#id_zoom').change(function(){
				updateImageDimByUrl();
			});
				
	 		$('#id_zoom').keypress(function(e){
	 			var code = e.keyCode || e.which; 
 			  	if (code  == 13) {               
 					 updateImageDimByUrl();
 			  	}
			});	 
		}
		
		//Update image dimensions by url due to zoom change
		function updateImageDimByUrl(){
			d = new Date();
		   	$(".tableImages").each(function(){
			   var newSrc = "";
			   if ($(this).attr("src").indexOf("&dim") != -1){
			   	newSrc = $(this).attr("src").substring(0,$(this).attr("src").indexOf("&dim"));
			   }
			   else{
				  newSrc = $(this).attr("src");   
			   }
			   $(this).attr("src", newSrc + "&dim="+$('#id_zoom').val()+"&"+d.getTime());
		   })
		}
	
	</script>
	<script type="text/javascript">
		//Save table change in metadata
		function saveShowjTable(elementId, value){
			$.ajax({
				type : "GET",
				url : "/save_showj_table/?element_id=" + elementId + "&element_value=" + value,
				dataType : "json",
				success : function(json) {
					message = json.message;
					alert(message)
				}
			});
		}
	</script>
	
	{% block head %}  {% endblock %}
</head>
<body>
	<header>Aqui iria la cabecera de Scipion</header>
	<nav> <!--  Top Menu -->
		<ul>
			<li>File</li>
			<li>Display</li>
			<li>Help</li>
		</ul>
	</nav>
	<div id="main_section">
		<aside id="side_news"> <!-- Main Menu -->

			<form id="showjForm" action="/showj/" method="post"> {% csrf_token %}
				<div id="modeContainer" class="sectionMenu">
					<input type="submit" value="table" name="select_mode" onclick="document.forms['showjForm'].id_mode.value='table';" class="submitButton
					 {% if form.mode.value == 'gallery' %}
					  tableOn
					 {% endif %}
					 {% if form.mode.value == 'table' %}
					 tableOff
					 {% endif %}	
					  "/>
					<input type="submit" value="gallery" name="select_mode" onclick="document.forms['showjForm'].id_mode.value='gallery';" class="submitButton
					{% if form.mode.value == 'gallery' %}
					  galleryOff
					 {% endif %}
					 {% if form.mode.value == 'table' %}
					 galleryOn
					 {% endif %}
					 " />
					<!-- <button onclick="{{menuLayoutConfig.tableViewLink}}">
						<img src="{{menuLayoutConfig.tableViewSrc}}">
					
					<button onclick="{{menuLayoutConfig.galleryViewLink}}">
						<img src="{{menuLayoutConfig.galleryViewSrc}}"> -->
					
				</div>
				
				<div id="zoomContainer" class="sectionMenu">
					<img src="/resources/showj/zoom.gif" class="menuIcon">
					{{ form.zoom }}
					<!-- <input type="number" class="menuInputNumber" id="zoom" value="150" min="10"> -->
				</div>
				
				<div id="gotoContainer" class="sectionMenu">
					<img src="/resources/showj/goto.gif" class="menuIcon">
					{{ form.gotoContainer }}
					<!-- <input type="number" class="menuInputNumber" id="goto" value="1" max="{{metadata.objects|length}}" min="1"> -->
				</div>
				
				<div class="sectionMenu">
					<img src="/resources/showj/separator.gif" class="menuIcon">
				</div>	
				
				<div id="colRowContainer" class="sectionMenu">
					<button id="colRowMode" 
					{{menuLayoutConfig.disabledColRowMode}}
					>
						<img src="/resources/showj/colRowModeOff.gif" id="colRowModeImage" />
					</button>
					
					<div class="subSectionMenu">
						<span class="textMenu">Cols</span>
						{{ form.cols }}
						<!-- <input type="number" class="menuInputNumber" id="cols" value="" min="1" max="{{metadata.objects|length}}" disabled> -->
					</div>
					<div class="subSectionMenu">
						<span class="textMenu">Rows</span>
						{{ form.rows }}
						<!-- <input type="number" class="menuInputNumber" id="rows" value="" min="1" max="{{metadata.objects|length}}" disabled> -->
					</div>
				</div>
				
				<div class="sectionMenu">
					<img src="/resources/showj/separator.gif" class="menuIcon">
				</div>
		
				<div id="blockSelectorContainer" class="sectionMenu">
					<span class="textMenu">Select Block</span>
					{{ form.blockComboBox }} 
					<!-- <select id="blockComboBox">
						{% for block in menuLayoutConfig.blocks %}
							
							
								<option value="{{block}}"
								{% if inputParameters.block == block %}
								selected
								{% endif %}	
								>{{block}}</option>
							
						{% endfor %}
					</select> -->
				</div>
				
				<div id="metadataSelectorContainer" class="sectionMenu">
					<span class="textMenu">Select Metadata</span>
					{{ form.metadataComboBox }}
				</div>
				
			
		
				<div class="sectionMenu">
					<img src="/resources/showj/separator.gif" class="menuIcon">
				</div>
				
				<div id="saveContainer" class="sectionMenu">
					<button id="saveButton">
						<img src="/resources/showj/saveOff.png" id="saveButtonImage" />
					</button>
				</div> 
				 
				{% block content_menu %}	{% endblock %}
				 
				{% for hidden in form.hidden_fields %}
			    {{ hidden }}
			    {% endfor %} 
				 
				 
				<!--CAMbiamus  --> 
				 
				 <!-- 			
				<div id="modeContainer" class="sectionMenu">
					<button onclick="{{menuLayoutConfig.tableViewLink}}">
						<img src="{{menuLayoutConfig.tableViewSrc}}">
					
					<button onclick="{{menuLayoutConfig.galleryViewLink}}">
						<img src="{{menuLayoutConfig.galleryViewSrc}}">
					
				</div>
				
				<div id="zoomContainer" class="sectionMenu">
					<img src="/resources/showj/zoom.gif" class="menuIcon">
					<input type="number" class="menuInputNumber" id="zoom" value="150" min="10">
				</div>
				
				<div id="gotoContainer" class="sectionMenu">
					<img src="/resources/showj/goto.gif" class="menuIcon">
					<input type="number" class="menuInputNumber" id="goto" value="1" max="{{metadata.objects|length}}" min="1">
				</div>
				
				<div class="sectionMenu">
					<img src="/resources/showj/separator.gif" class="menuIcon">
				</div>	
				
				<div id="colRowContainer" class="sectionMenu">
					<button id="colRowMode" 
					{{menuLayoutConfig.disabledColRowMode}}
					>
						<img src="/resources/showj/colRowModeOff.gif" id="colRowModeImage" />
					</button>
					
					<div class="subSectionMenu">
						<span class="textMenu">Cols</span>
						<input type="number" class="menuInputNumber" id="cols" value="" min="1" max="{{metadata.objects|length}}" disabled>
					</div>
					<div class="subSectionMenu">
						<span class="textMenu">Rows</span>
						<input type="number" class="menuInputNumber" id="rows" value="" min="1" max="{{metadata.objects|length}}" disabled>
					</div>
				</div>
				
				<div class="sectionMenu">
					<img src="/resources/showj/separator.gif" class="menuIcon">
				</div>
		
				<div id="blockSelectorContainer" class="sectionMenu">
					<span class="textMenu">Select Block</span>
					<select id="blockComboBox">
						{% for block in menuLayoutConfig.blocks %}
							
							
								<option value="{{block}}"
								{% if inputParameters.block == block %}
								selected
								{% endif %}	
								>{{block}}</option>
							
						{% endfor %}
					</select>
				</div>
				
				
	
		
				<div class="sectionMenu">
					<img src="/resources/showj/separator.gif" class="menuIcon">
				</div>
				
				<div id="saveContainer" class="sectionMenu">
					<button id="saveButton">
						<img src="/resources/showj/saveOff.png" id="saveButtonImage" />
					</button>
				</div> -->
			
			</form>
		</aside>
		
		<section> <!--  Es donde va la informacion princiapl -->
		

		
		{% block content_view %}	{% endblock %}	
			

			
		</section>
	</div>
	

</body>
</html>
