{% extends 'showj_base.html' %} 
		
{% block head %}
	<script type="text/javascript">
	$(document).ready(function(){
		
		initializeImageEvents()
		initializeWindowLoadEvents()
	});

	//Show enabled/disabled image and title on hover
	function initializeImageEvents(){
		$(".img_container").hover(
			function(){
				if (!$(this).find(".enabledGallery").hasClass("selected")){
					$(this).find(".enabledGallery").fadeIn('slow')
				}
				/* $(this).find(".imageTitle").slideToggle('slow') */
			},
			function(){
				if (!$(this).find(".enabledGallery").hasClass("selected")){
					$(this).find(".enabledGallery").fadeOut('slow')
				}
				/* $(this).find(".imageTitle").slideToggle('slow') */
			})
	}
	
	function initializeWindowLoadEvents(){
		$(window).load(
		function(){
			if ($("#id_colRowMode").val() == 'On' && $("#id_mode").val() == 'gallery'){
				updateMainContainerDim($("#id_cols").val())
			}
		})
	}
	</script>
	<script type="text/javascript">
	function enableDisableImage(element){
		$(element).toggleClass("selected")
		element_value="false"
		if ($(element).hasClass("selected")){
			element_value="true"
		}
		
		saveShowjTable($(element).attr("id"), element_value)
	}
	</script>
{% endblock %}

{% block content_menu %}
{% endblock %}

{% block content_view %}	
		{% for obj in metadata.objects %}
			{% for value in obj.values %}
				{% if value.typeOfColumn == "image" and value.label == form.metadataComboBox.value %}
					<div class="img_container">
						<div class="img_inner_container">
							<img class="tableImages" title="{{value.strValue}}" src="/get_image/?image={{value.imgValue}}"/>
							<img class="enabledGallery" src="/resources/showj/enabled_gallery.png" id="{{value.label}}___{{forloop.parentloop.counter0}}" onclick="enableDisableImage(this);"/>
						</div>
						<div class="imageTitle">{{value.strValue}}</div>
						<div id="column_label">{{forloop.parentloop.counter}}</div> 
					</div> 
				{% endif %}
			{% endfor %}
		{% endfor %}	
			
{% endblock %}
