<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Showj</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href={{favicon}} />
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{jquery_cookie}} type="text/javascript"></script>
	<script src={{jquery_treeview}} type="text/javascript"></script>
	<script src={{launchTreeview}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){
		initializeZoomEvents();
		initializeColRowModeEvents()
		initializeSaveButtonEvents()
		
	});
	</script>
	<script type="text/javascript">
	function initializeSaveButtonEvents(){
		$("#saveButton").click(function(){
			$.ajax({
				type : "GET",
				url : "/save_showj_metadata/?path=\"/home/adrian/taka.xmd\"",
				dataType : "json",
				success : function(json) {
					message = json.message;
					alert(message)
				}
			});
		});
	}
	</script>
	<script type="text/javascript">
	function initializeColRowModeEvents(){
		$("#colRowMode").click(function(){
			if ($("#colRowModeImage").attr("src").indexOf("On") != -1){
				$("#colRowModeImage").attr("src", $("#colRowModeImage").attr("src").replace("On","Off"))
				$("#cols").attr('disabled', 'disabled');
				$("#rows").attr('disabled', 'disabled');
				
				$("section").css("width", "");
				
			}
			else{
				$("#colRowModeImage").attr("src", $("#colRowModeImage").attr("src").replace("Off","On"))
				$("#cols").removeAttr('disabled');
				$("#rows").removeAttr('disabled');
				
				if ($("#cols").val()==""){
					initializeColsRows()
				}
			}
		});
	}
	function initializeColsRows(){
		imgContainerWidth =$(".img_container").width() + (parseInt($(".img_container").css("margin-right")) * 2)
		colVal = Math.floor($("section").width() / (imgContainerWidth + 5))
		updateGalleryLayout(colVal,0,"cols")
		$("#cols").val(colVal)
		
	}
	</script>
	<script type="text/javascript">
		function initializeZoomEvents(){
			$('#zoom').click(function(){
				updateImageDimByUrl();	
			});
			
			$('#zoom').change(function(){
				updateImageDimByUrl();
			});
				
	/* 		$('#zoom').keypress(function(){
				alert("keypress")
				updateImageDimByUrl();
			});	 */	
		}
		function updateImageDimByUrl(){
			d = new Date();
		   	$(".tableImages").each(function(){
			   var newSrc = "";
			   if ($(this).attr("src").indexOf("&dim") != -1){
			   	newSrc = $(this).attr("src").substring(0,$(this).attr("src").indexOf("&dim"));
			   }
			   else{
				  newSrc = $(this).attr("src");   
			   }
			   $(this).attr("src", newSrc + "&dim="+$('#zoom').val()+"&"+d.getTime());
		   })
		}
	
	</script>
	
	{% block head %}  {% endblock %}
</head>
<body>
	<header>Aqui iria la cabecera de Scipion</header>
	<nav> <!--  Top Menu -->
		<ul>
			<li>File</li>
			<li>Display</li>
			<li>Help</li>
		</ul>
	</nav>
	<div id="main_section">
		<aside id="side_news"> <!-- Main Menu -->
			
			<div id="modeContainer" class="sectionMenu">
				<button onclick="{{menuLayoutConfig.tableViewLink}}">
					<img src="{{menuLayoutConfig.tableViewSrc}}">
				
				<button onclick="{{menuLayoutConfig.galleryViewLink}}">
					<img src="{{menuLayoutConfig.galleryViewSrc}}">
				
			</div>
			
			<div id="zoomContainer" class="sectionMenu">
				<img src="/resources/showj/zoom.gif" class="menuIcon">
				<input type="number" class="menuInputNumber" id="zoom" value="150" min="10">
			</div>
			
			<div id="gotoContainer" class="sectionMenu">
				<img src="/resources/showj/goto.gif" class="menuIcon">
				<input type="number" class="menuInputNumber" id="goto" value="1" max="{{metadata.objects|length}}" min="1">
			</div>
			
			<div class="sectionMenu">
				<img src="/resources/showj/separator.gif" class="menuIcon">
			</div>	
			
			<div id="colRowContainer" class="sectionMenu">
				<button id="colRowMode" 
				{{menuLayoutConfig.disabledColRowMode}}
				>
					<img src="/resources/showj/colRowModeOff.gif" id="colRowModeImage" />
				</button>
				
				<div class="subSectionMenu">
					<span class="textMenu">Cols</span>
					<input type="number" class="menuInputNumber" id="cols" value="" min="1" max="{{metadata.objects|length}}" disabled>
				</div>
				<div class="subSectionMenu">
					<span class="textMenu">Rows</span>
					<input type="number" class="menuInputNumber" id="rows" value="" min="1" max="{{metadata.objects|length}}" disabled>
				</div>
			</div>
			
			<div class="sectionMenu">
				<img src="/resources/showj/separator.gif" class="menuIcon">
			</div>	
			
			{% block content_menu %}	{% endblock %}

		</aside>
		
		<section> <!--  Es donde va la informacion princiapl -->
		<button id="saveButton">
			<img src="/resources/showj/colRowModeOff.gif" id="saveButtonImage" />
		</button>

		
		{% block content_view %}	{% endblock %}	
			

			
		</section>
	</div>
	

</body>
</html>
