{% extends 'showj_base.html' %} 
		
{% block head %}
	<script type="text/javascript">
	$(document).ready(function(){
		colsRowsEvents()
		imageEvents()
	});
	
	function imageEvents(){
		$(".img_container").hover(
				function(){
						if (!$(this).find(".enabledGallery").hasClass("selected")){
							$(this).find(".enabledGallery").fadeIn('slow')
						}
					},
				function(){
						if (!$(this).find(".enabledGallery").hasClass("selected")){
							$(this).find(".enabledGallery").fadeOut('slow')
						}	
					})
	}
	
	function colsRowsEvents(){
		$("#cols, #rows").click(function(){
			updateGalleryLayout($("#cols").val(),$("#rows").val(), $(this).attr("id"))
		});
		
		$("#cols, #rows").change(function(){
			updateGalleryLayout($("#cols").val(),$("#rows").val(), $(this).attr("id"))
		});
	}
	
	function updateGalleryLayout(cols, rows, setElement){
		recalculateColsRows(cols,rows, setElement)
		updateMainContainerDim(cols)
	}
	
	function recalculateColsRows(cols, rows, setElement){
		
		if (setElement == "cols"){
			$("#rows").val(Math.ceil($(".img_container").length/cols))
		}
		else{
			$("#cols").val(Math.ceil($(".img_container").length/rows))
		}
			
		
	}
	function updateMainContainerDim(colVal){
		imgContainerWidth =$(".img_container").width() + (parseInt($(".img_container").css("margin-right")) * 2)
		sectionWidth = colVal * (imgContainerWidth + 10)
		$("section").width(sectionWidth)
	}
	function valueChange(element){
		$(element).toggleClass("selected")
		element_value="false"
		if ($(element).hasClass("selected")){
			element_value="true"
		}
		
		saveShowjTable($(element).attr("id"), element_value)
	}
	</script>
{% endblock %}

{% block content_menu %}
<div id="metadataSelectorContainer" class="sectionMenu">
	<span class="textMenu">Select Metadata</span>
	<select id="metadataComboBox">
		{% for label, typeOfColumn in metadata.tableLayoutConfiguration.labels_typeOfColumns %}
			{% if typeOfColumn == "image" %}
				<option value="{{label}}">{{label}}</option>
			{% endif %}
		{% endfor %}
	</select>
</div>
{% endblock %}

{% block content_view %}	
		
		{% for obj in metadata.objects %}
			{% for value in obj.values %}
				{% if value.typeOfColumn == "image" and value.label == inputParameters.metadataComboBox %}
					<div class="img_container">
						<div id="column_label">{{forloop.parentloop.counter}}</div> 
						<div class="img_inner_container">
							<img class="tableImages" src="/get_image/?image={{value.imgValue}}"/>
							<img class="enabledGallery" src="/resources/showj/enabled_gallery.png" id="{{value.label}}___{{forloop.parentloop.counter0}}" onclick="valueChange(this);"/>
						</div>
						
						
					</div> 
				{% endif %}
			{% endfor %}
		{% endfor %}	
			
{% endblock %}
