{% extends 'showj_base.html' %} 
{% block head %}
<!-- CSS -->
<link type="text/css" href="/static/css/jquery-ui_smoothness.css" rel="stylesheet" /> 
<link type="text/css" href="/static/css/demo_table_jui.css" rel="stylesheet" />
<!-- JS -->

<script type="text/javascript" src="{{jquery_datatable}}"></script>
<script type="text/javascript">
$.fn.dataTableExt.oApi.fnVisibleToColumnIndex = function ( oSettings, iMatch )
{
    return oSettings.oApi._fnVisibleToColumnIndex( oSettings, iMatch );
};
$.fn.dataTableExt.oApi.fnGetColumnIndex = function ( oSettings, sCol )
{
    var cols = oSettings.aoColumns;
    for ( var x=0, xLen=cols.length ; x<xLen ; x++ )
    {
        if ( cols[x].sTitle.toLowerCase() == sCol.toLowerCase() )
        {
            return x;
        };
    }
    return -1;
};

</script>
<script type="text/javascript" src="{{jquerydataTables_colreorder}}"></script>
<script type="text/javascript" src="/static/js/ColReorderWithResize.js"></script>
<script type="text/javascript" src="{{jeditable}}"></script>
<!-- <script type="text/javascript" src="{{jquery_ui}}"></script> -->
<!-- <script type="text/javascript" src="{{jquery_tabletools}}"></script> -->

<script type="text/javascript">
var oTable;
var giRedraw = false;

$(document).ready(function() {
	initializeSelectionRowEvent() 
	initializeGoToEvent()
	initializeTableWidth()
	
	
	
	/* $("#form").submit(function() {
		var sData = $('input', oTable.fnGetNodes()).serialize();
		alert( "The following data would have been submitted to the server: \n\n"+sData );
		return false;
	} ) */
	
	/* Add a click handler for the delete row */
	/* $('#delete').click( function() {
		var anSelected = fnGetSelected( oTable );
		oTable.fnDeleteRow( anSelected[0] );
	} ); */
	
	
	/* Init the table */
	oTable = $('#data_table').dataTable(
				{
			        "bPaginate": true,
			        "bLengthChange": true,
			        "bFilter": true,
			        "bSort": true,
			        "bInfo": true,
			        "bAutoWidth": true,
			        "sDom": 'Rlfrtip', 
			        /* "sDom": 'T<"clear">lfrtip', */
			        /*"sScrollX": "100%",
			        "sScrollXInner": "110%",
			        "bScrollCollapse": true,*/ 
			        "oColReorder": {
		    			"aiOrder": {{metadata.tableLayoutConfiguration.colsOrder}}
		    		}, 
		    		
		    		"bProcessing": true,
/* 		            "bServerSide": true, */
/* 		            "sAjaxSource": "/get_table/", */
		            
		            "fnServerParams": function ( aoData ) {
		                aoData.push( {
		                	"path": "{{inputParameters.path}}",
		                	"block": "{{inputParameters.block}}",
		                	"allowRender": "{{inputParameters.allowRender}}",
		                	"imageDim": "{{inputParameters.imageDim}}"
		                		} );
		            },
		            "fnDrawCallback": function( oSettings ) {
		            	if ( typeof oTable != 'undefined' ) {
		            		setElementsEditable('.editable')
		            	}
		              },
		            "bDeferRender": true,
		    		/* "bRetrieve": true */
/* 		    		"aaData":{% autoescape off %}
		             {{ metadata.objects }}
		            		{% endautoescape %}
		    			, */
		    		"aaData": generateDataForTable(),	
			        "aoColumns": [
			        		{% for label, typeOfColumn in metadata.tableLayoutConfiguration.labels_typeOfColumns %}
				        		{ 
				        			{% if typeOfColumn == "text" %}
				        			"sClass": "editable",
				        			{% endif %}
				        			{% if typeOfColumn == "image" %}
				        			"sClass": "imageColumn renderable",
				        			{% endif %}
				        			
				        			"sTitle": '{{label}}'
				        		},
			    			{% endfor %}				
			        ] ,
		            "bJQueryUI": true,
		    		"sPaginationType": "full_numbers"
/*  		    		"oTableTools": {
		    			"sRowSelect": "single",
		    			"aButtons": [ "select_all", "select_none" ]
		    		}  */
					
			    }		
			);
	
	initializeMultipleSelectionTool()
	addIconsToHeader()
	setElementsEditable('.editable')
	
	
} );

/* Add renderable, editable and disable icon to each column */
function addIconsToHeader(){
	$("#table_container thead th div").append("<span class=\"css_left\"><img src=\"/resources/showj/delete_table.png\" class=\"arrowImage\" onclick=\"enableDisableColumn(event,this)\"></span>")
	$("#table_container thead th").each(function(){
		if ($(this).hasClass("imageColumn")){
			$(this).find("div").append("<span class=\"css_left\"><img src=\"/resources/showj/render_table.png\" class=\"arrowImage pressedButton\"  onclick=\"enableDisableRenderColumn(event,this)\"></span>")
		}
		if ($(this).hasClass("editable")){
			$(this).find("div").append("<span class=\"css_left\"><img src=\"/resources/showj/edit_table.png\" class=\"arrowImage pressedButton\" onclick=\"enableDisableEditableColumn(event,this)\"></span>")
		}
	})
}

/* Enable/disable column 
 * Disable datatable column when event triggered from icon disable column header 
 */
function enableDisableColumn(event, element){
	$(element).toggleClass("pressedButton")
	
	//From the image element we get the column header index
	var iCol = $('th').index($(element).closest('th'))
	var iCol2 = oTable.fnVisibleToColumnIndex(iCol)
	
	var bVis = oTable.fnSettings().aoColumns[iCol2].bVisible;
	oTable.fnSetColumnVis( iCol2, bVis ? false : true );
	
	event.stopPropagation() 
}

/* Enable/disable render to column
 * When column cell is image, it will change from img element to path text and viceversa 
 */
function enableDisableRenderColumn(event, element){
	$(element).toggleClass("pressedButton")
	
	//From the image element we get the column header index
	var iCol = $('th').index($(element).closest('th'))
	
	//We disabled editable event
	var nTrs = oTable.fnGetNodes();
	if ($('td:nth-child('+(iCol+1)+')', nTrs).hasClass("renderable")){
		$('td:nth-child('+(iCol+1)+')', nTrs).each(function(){
			$(this).find("img").hide()
			$(this).find("span").show()
		})
	}
	else{
		$('td:nth-child('+(iCol+1)+')', nTrs).each(function(){
			$(this).find("img").show()
			$(this).find("span").hide()
		})
	}
	
	$('td:nth-child('+(iCol+1)+')', nTrs).toggleClass("renderable")
	//This will avoid column sorting
	event.stopPropagation() 
}

/* Enable/disable editable to column
 * When column cell is text or a number, it will change from a text element to an input textfield and viceversa 
 */
function enableDisableEditableColumn(event, element){
	$(element).toggleClass("pressedButton")
	
	//From the image element we get the column header index
	var iCol = $('th').index($(element).closest('th'))
	
	enableDisableEditableColumnByColId(iCol)
	
	//This will avoid column sorting
	event.stopPropagation()
	
}

/*
 * Enable/disable editable to column by column id
 */
function enableDisableEditableColumnByColId(iCol){
	
/* 	alert(columns[0].nTh)
	alert(columns[0].nTr) */
	/*taka=oTable.fnGetData(0,0)
	
	alert($(taka))*/

	for(var rowIndex=0;rowIndex<oTable.fnSettings().fnRecordsTotal();rowIndex++){
		console.log("viendo celdas ra fila"+rowIndex+" columna "+iCol+":")
		console.log(oTable.fnSettings().aoData[rowIndex].nTr.childNodes[iCol]);
	}


   /* for (var columnIndex=0; columnIndex<columns.length; columnIndex++){
		
    	nTd = nTr.childNodes[columnIndex];
  */  	
	alert(oTable.fnSettings().fnRecordsTotal())
	alert(oTable.fnSettings().aoData.length)
	/*
	for (var i=0; i<oTable.fnSettings().fnRecordsTotal(); i++){
	}
	*/
	var nTrs = oTable.fnGetNodes();
	if ($('td:nth-child('+(iCol+1)+')', nTrs).hasClass("editable")){
		$('td:nth-child('+(iCol+1)+')', nTrs).unbind('click');
	}
	else{
		setElementsEditable('td:nth-child('+(iCol+1)+')')
	}
	$('td:nth-child('+(iCol+1)+')', nTrs).toggleClass("editable")
}

function setElementsEditable(elements){
	alert("settingelementseditable")
	console.log(oTable.fnGetNodes())
	$(elements, oTable.fnGetNodes()).editable(
			/* '../examples_support/editable_ajax.php', */
			function(value, settings) {
			     console.log(this);
			     console.log(value);
			     console.log(settings);
			     return(value);
			  },
			{
			"callback": function( sValue, y ) {
				var aPos = oTable.fnGetPosition( this );
				oTable.fnUpdate( sValue, aPos[0], aPos[1] );
			},
			"submitdata": function ( value, settings ) {
				return {
					"row_id": this.parentNode.getAttribute('id'),
					"column": oTable.fnGetPosition( this )[2]
				};
			},
			"height": "14px"
		} );
}

function generateDataForTable(){
	dataForTable = new Array();
	{% for obj in metadata.objects %}
		dataRowForTable = new Array()
		{% for value in obj.values %}
			{% if value.typeOfColumn == "image" %} 
				dataRowForTable.push("<img class=\"tableImages\" id=\"{{value.label}}___{{forloop.parentloop.counter0}}\" src=\"/get_image/?image={{value.imgValue}}\"/><span style=\"display:none\">{{value.strValue}}</span> ")
		   	{% elif value.typeOfColumn == "checkbox" and value.strValue == '1' %}
				dataRowForTable.push("<input type=\"checkbox\" onclick=\"valueChange(this);\" id=\"{{value.label}}___{{forloop.parentloop.counter0}}\" checked>")
			{% elif value.typeOfColumn == "checkbox" and value.strValue != '1' %}
				dataRowForTable.push("<input type=\"checkbox\" onclick=\"valueChange(this);\" id=\"{{value.label}}___{{forloop.parentloop.counter0}}\">")
		   	{% else %}
				dataRowForTable.push("{{value.strValue}}")
		   	{% endif %}	
		{% endfor %}
		/* dataRowForTable.push("DT_RowId: \"{{forloop.counter0}}\"") */
		dataForTable.push(dataRowForTable)
	{% endfor %}
	return dataForTable;
}

function valueChange(element){
	element_value = ""
	if ($(element).is("input:checkbox")){
		element_value = $(element).is(":checked")
	}
	else{
		element_value = $(element).val()
	}
	
	saveShowjTable($(element).attr("id"), element_value)
	
	
}

function initializeTableWidth(){
	var tableWidth = $("section").width()
	if ($("#table_container").width()>tableWidth){
		$("#table_container").width(tableWidth);
	}	
}

function initializeGoToEvent(){
	$('#id_goto').click(function(){
		updateRowSelection();	
	});
	
	$('#id_goto').change(function(){
		updateRowSelection();
	});
}
function updateRowSelection(){
	var nodes = oTable.fnGetNodes();
	nodes[$("#id_goto").val()-1].click();
}

var lastChecked;
function initializeSelectionRowEvent(){
	$('#data_table').on("click","tr", function(event) {

	    if(!lastChecked) {
	        lastChecked = this;
	    }
	     
	    if(event.shiftKey) {
	        var start = $('#data_table tbody tr').index(this);
	        var end = $('#data_table tbody tr').index(lastChecked);
	 
	        for(i=Math.min(start,end);i<=Math.max(start,end);i++) {
	            if (!$('#data_table tbody tr').eq(i).hasClass('row_selected')){
	                $('#data_table tbody tr').eq(i).addClass("row_selected");
	            }
	        }
	         
	        // Clear browser text selection mask
	        if (window.getSelection) {
	            if (window.getSelection().empty) {  // Chrome
	                window.getSelection().empty();
	            } else if (window.getSelection().removeAllRanges) {  // Firefox
	                window.getSelection().removeAllRanges();
	            }
	        } else if (document.selection) {  // IE?
	            document.selection.empty();
	        }
	    } else {
	    	/* $(lastChecked).removeClass('row_selected'); */
	    	if (!event.metaKey && !event.ctrlKey){
	    		$('tr').each(function (){
					$(this).removeClass('row_selected');
				});
		    }
	    	
	        $(this).addClass('row_selected');  
	    }
	    
	     
	    lastChecked = this;
	    
	    $("#id_goto").val($(this).index()+1)
	});
}

function initializeMultipleSelectionTool(){
/* 	alert("porakientra")
	$('#data_table').on("hover","tr", function(event) {
		console.log("toloco");
	})
	
	$('td').hover(function(event) {
		alert("td takarrasWithout filter")
		
	},function(event) {
		alert("td takarrasWithout filter")
		
	});*/
	
	$('tr').hover(function(e) {
		if ($(this).hasClass("row_selected")){
			var x= e.pageX
			var y= e.pageY
			
			$("#multipleSelectionTool").css('left',x)
			$("#multipleSelectionTool").css('top',y)
			
			var iRow = $(this).index()
			$("#multipleSelectionTool").data('row_id', iRow)
			
			$("#multipleSelectionTool").fadeIn('slow')
		}	
		
	},function(event) {
		if ($(this).hasClass("row_selected")){
			$("#multipleSelectionTool").delay(2000).fadeOut('slow')
		}
		
	}); 
}
</script>
<script type="text/javascript">
function enableDisableTableConfig(){
	/* Display/Hide Div */
	$("#tableConfigurationContainer").show()

	/* Read Datatable Columns */
	var columns = oTable.fnSettings().aoColumns;
	

	
	/* Read First Row. This has to be change when there was a proper model */
    var nTr = oTable.fnSettings().aoData[0].nTr;

	/*Iterate through all columns */
    for (var columnIndex=0; columnIndex<columns.length; columnIndex++){
		
    	nTd = nTr.childNodes[columnIndex];
    	
    	checkboxLabel="#"+$(columns[columnIndex].nTh).text()+"_"
		
		/* EDITABLE */
		if ($(nTd).hasClass("editable")){
			$(checkboxLabel+"editable").prop('checked', true);
		}
		else{
			$(checkboxLabel+"editable").prop('checked', false);
		}
    	
    	/*Habia que ver como se pueden cambiar las propiedades de las columnas ocultas */
    	enableDisableEditableColumnByColId(columnIndex);
    	
		/* RENDERABLE */
		if ($(nTd).hasClass("renderable")){
			$(checkboxLabel+"renderable").prop('checked', true);
		}
		else{
			$(checkboxLabel+"renderable").prop('checked', false);
		}
        
		/* VISIBLE */
 		if (columns[columnIndex].bVisible){
 			$(checkboxLabel+"visible").prop('checked', true);
 		}
 		else{
 			$(checkboxLabel+"visible").prop('checked', false);
 		}
	}
}	
</script>
{% endblock %}

{% block content_menu %}{% endblock %}
			
{% block content_view %}
<a href="#" onclick="enableDisableTableConfig()">Display Table Configuration</a>
<div id="tableConfigurationContainer" style="display:none">
	<table>
		<tr>
			<td>Label</td>
			<td>Visible</td>
			<td>Render</td>
			<td>Edit</td>
		</tr>
	{% for label, typeOfColumn in metadata.tableLayoutConfiguration.labels_typeOfColumns %}
 		 <tr>
 		 	<td>{{label}}</td>
 		 	<td><input type="checkbox" id="{{label}}_visible"></td>
 		 	<td><input type="checkbox" id="{{label}}_renderable"></td>
 		 	<td><input type="checkbox" id="{{label}}_editable"></td>
 		 </tr>
 		 
	{% endfor %}
	</table>
</div>

	
<div id="table_container" style="overflow-x:scroll">
		<table cellspacing="0" id="data_table" width="100%">
		</table>
</div>
			
{% endblock %}
