{% extends 'showj_base.html' %} 
{% block head %}
<script type="text/javascript" src="{{jquery_datatable}}"></script>
<script type="text/javascript" src="{{jquerydataTables_colreorder}}"></script>
<script type="text/javascript" src="{{jeditable}}"></script>


<script type="text/javascript">
var oTable;
var giRedraw = false;

$(document).ready(function() {
	initializeSelectionRowEvent()
	initializeGoToEvent()
	initializeTableWidth()
	
	
	
	/* $("#form").submit(function() {
		var sData = $('input', oTable.fnGetNodes()).serialize();
		alert( "The following data would have been submitted to the server: \n\n"+sData );
		return false;
	} ) */
	
	/* Add a click handler for the delete row */
	/* $('#delete').click( function() {
		var anSelected = fnGetSelected( oTable );
		oTable.fnDeleteRow( anSelected[0] );
	} ); */
	
	
	/* Init the table */
	oTable = $('#data_table').dataTable(
				{
			        "bPaginate": true,
			        "bLengthChange": true,
			        "bFilter": true,
			        "bSort": true,
			        "bInfo": true,
			        "bAutoWidth": true,
			        "sDom": 'Rlfrtip',
			        "sScrollX": "100%",
			        "bScrollCollapse": true,
			        "oColReorder": {
		    			"aiOrder": {{metadata.tableLayoutConfiguration.colsOrder}}
		    		}, 
		    		
		    		"bProcessing": true,
/* 		            "bServerSide": true, */
/* 		            "sAjaxSource": "/get_table/", */
		            
		            "fnServerParams": function ( aoData ) {
		                aoData.push( {
		                	"path": "{{inputParameters.path}}",
		                	"block": "{{inputParameters.block}}",
		                	"allowRender": "{{inputParameters.allowRender}}",
		                	"imageDim": "{{inputParameters.imageDim}}"
		                		} );
		            },
		            "bDeferRender": true,
		    		/* "bRetrieve": true */
/* 		    		"aaData":{% autoescape off %}
		             {{ metadata.objects }}
		            		{% endautoescape %}
		    			, */
		    		"aaData": generateDataForTable(),	
			        "aoColumns": [
			        		{% for label, typeOfColumn in metadata.tableLayoutConfiguration.labels_typeOfColumns %}
				        		{ 
				        			{% if typeOfColumn == "text" %}
				        			"sClass": "editable",
				        			{% endif %}
				        			"sTitle": '{{label}}'
				        		},
			    			{% endfor %}				
			        ] 
					
			    }		
			);
	
	$('.editable', oTable.fnGetNodes()).editable(
			/* '../examples_support/editable_ajax.php', */
			function(value, settings) { 
			     console.log(this);
			     console.log(value);
			     console.log(settings);
			     return(value);
			  },
			{
			"callback": function( sValue, y ) {
				var aPos = oTable.fnGetPosition( this );
				oTable.fnUpdate( sValue, aPos[0], aPos[1] );
			},
			"submitdata": function ( value, settings ) {
				return {
					"row_id": this.parentNode.getAttribute('id'),
					"column": oTable.fnGetPosition( this )[2]
				};
			},
			"height": "14px"
		} );
	
	
} );


function generateDataForTable(){
	dataForTable = new Array();
	{% for obj in metadata.objects %}
		dataRowForTable = new Array()
		{% for value in obj.values %}
			{% if value.typeOfColumn == "image" %} 
				dataRowForTable.push("<img class=\"tableImages\" id=\"{{value.label}}_{{forloop.parentloop.counter0}}\" src=\"/get_image/?image={{value.imgValue}}\"/>")
		   	{% elif value.typeOfColumn == "checkbox" and value.strValue == '1' %}
				dataRowForTable.push("<input type=\"checkbox\" onclick=\"valueChange(this);\" id=\"{{value.label}}_{{forloop.parentloop.counter0}}\" checked>")
			{% elif value.typeOfColumn == "checkbox" and value.strValue != '1' %}
				dataRowForTable.push("<input type=\"checkbox\" onclick=\"valueChange(this);\" id=\"{{value.label}}_{{forloop.parentloop.counter0}}\">")
		   	{% else %}
				dataRowForTable.push("{{value.strValue}}")
		   	{% endif %}	
		{% endfor %}
		/* dataRowForTable.push("DT_RowId: \"{{forloop.counter0}}\"") */
		dataForTable.push(dataRowForTable)
	{% endfor %}
	console.log(dataForTable)
	return dataForTable;
}

function valueChange(element){
	
	$.ajax({
		type : "GET",
		url : "/save_showj_table/?element_id=" + $(element).attr("id") + "&element_value=" + $(element).val(),
		dataType : "json",
		success : function(json) {
			// specifying a dataType of json makes jQuery pre-eval the response
			// for us ExecutionHostConfig
			host = json.host;
			alert(host)
			/* document.getElementById("scpnHosts").disabled = true;
			document.getElementById("label").value = host.label;
			document.getElementById("label").disabled = true;
			document.getElementById("hostName").value = host.hostName;
			document.getElementById("userName").value = host.userName;
			document.getElementById("hostPath").value = host.hostPath; */
		}
	});
}

function initializeTableWidth(){
	var tableWidth = $("section").width()
	if ($("#table_container").width()>tableWidth){
		$("#table_container").width(tableWidth);
	}	
}

function initializeGoToEvent(){
	$('#goto').click(function(){
		updateRowSelection();	
	});
	
	$('#goto').change(function(){
		updateRowSelection();
	});
}
function updateRowSelection(){
	var nodes = oTable.fnGetNodes();
    for (var i=0; i<nodes.length; i++){
		if (nodes[i].id == $("#goto").val()){
			/* Falta arreglar. El click se ejecuta sobre el tbody no el tr
			http://datatables.net/extras/tabletools/api#fnSelect */
			$("#"+nodes[i].id).children("td").first().click();
		}    	
        
    }
}


function initializeSelectionRowEvent(){
	/* Add a click handler to the rows - this could be used as a callback */
	$("#data_table tbody").click(function(event) {
		$(oTable.fnSettings().aoData).each(function (){
			$(this.nTr).removeClass('row_selected');
		});
		$(event.target.parentNode).addClass('row_selected');

		/* Refresh value on got field  */
		selectedRows = fnGetSelected(oTable)

		if (selectedRows.length == 1) {
			$("#goto").val(selectedRows[0].id)
		}
		else{
			$("#goto").val(0)
		}
	});
}

/* Get the rows which are currently selected */
function fnGetSelected(oTableLocal)
{
	var aReturn = new Array();
	var aTrs = oTableLocal.fnGetNodes();
	
	for ( var i=0 ; i<aTrs.length ; i++ )
	{
		if ( $(aTrs[i]).hasClass('row_selected') )
		{
			aReturn.push( aTrs[i] );
		}
	}
	return aReturn;
}
</script>
{% endblock %}

{% block content_menu %}{% endblock %}
			
{% block content_view %}
	
<div id="table_container">
	<form id="showjTableSave" action="/showjTableSubmit/" method="POST">
		<button type="submit">Submit</button>
		<table cellspacing="0" id="data_table" width="100%">
		</table>
	</form>
</div>
			
{% endblock %}
