<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Showj</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href={{favicon}} />
	<!-- CSS -->
	<link href={{css}} rel="stylesheet" type="text/css">
	<!-- JS -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{jquery_cookie}} type="text/javascript"></script>
	<script src={{jquery_treeview}} type="text/javascript"></script>
	<script src={{jquery_waypoints}} type="text/javascript"></script>
	<script src={{launchTreeview}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
	
	
	
	<script type="text/javascript">
	$(document).ready(function(){
		initializeZoomEvents();
		initializeColRowModeEvents()
		initializeSaveButtonEvents()
		initializeComboBoxEvents()
		initializeArrowEvents()
		initializeColsRowsEvents()
		
		/* Avoid enter key submit form */
		$('.menuInputNumber').keypress(function(e) {
		  var code = e.keyCode || e.which; 
		  if (code  == 13) {               
		    e.preventDefault();
		    return false;
		  }
		});
		
	});
	</script>

	
	<script type="text/javascript">
	function initializeArrowEvents(){
		$(".arrowImage").click(function(){
			if ($(this).closest(".sectionMenu, .subSectionMenu").find(".menuInputNumber").is("[readonly]")==false){
				if ($(this).attr("src").indexOf("up") != -1){
					$(this).closest(".sectionMenu, .subSectionMenu").find(".menuInputNumber").val(+$(this).closest(".sectionMenu, .subSectionMenu").find(".menuInputNumber").val()+1)
				}
				else{
					$(this).closest(".sectionMenu, .subSectionMenu").find(".menuInputNumber").val(+$(this).closest(".sectionMenu, .subSectionMenu").find(".menuInputNumber").val()-1)
				}
				$(this).closest(".sectionMenu, .subSectionMenu").find(".menuInputNumber").change();
			}	
		});	
	}
	
	</script>
	<script type="text/javascript">
	//Initialize block and metadata combobox to reload the web when changing
	function initializeComboBoxEvents(){
		$("#id_blockComboBox , #id_labelsToRenderComboBox").change(function(){
			$('form#showjForm').submit();
		})
	}
	</script>
	<script type="text/javascript">
	//Initialize save buttons events. Ajax call for saving metadata to file
	function initializeSaveButtonEvents(){
		$("#saveButton").click(function(){
			$.ajax({
				type : "GET",
				url : "/save_showj_metadata/?path=\"/home/adrian/taka.xmd\"",
				dataType : "json",
				success : function(json) {
					message = json.message;
					alert(message)
				}
			});
		});
	}
	</script>
	<script type="text/javascript">
	//Initialize events for columns and row mode. 
	//Automatic mode => disable cols & rows textfields
	//Manual mode => enable cols & rows textfields and initialize value
	function initializeColRowModeEvents(){
		$("#colRowMode").click(function(e){
			if ($("#colRowModeImage").attr("src").indexOf("On") != -1){
				/* Change image */
				$("#colRowModeImage").attr("src", $("#colRowModeImage").attr("src").replace("On","Off"))
				
				/* Update hidden variable  */
				$("#id_colRowMode").val("Off");
				
				/* Set textfield to readonly */
				$("#id_cols").attr('readonly', 'True');
				$("#id_rows").attr('readonly', 'True');
				
				/* Allow section div to adjust automatically*/
				$("section").css("width", "");

				e.preventDefault();
			}
			else{
				/* Change image */
				$("#colRowModeImage").attr("src", $("#colRowModeImage").attr("src").replace("Off","On"))
				
				/* Set textfield to editable */
				$("#id_cols").removeAttr('readonly');
				$("#id_rows").removeAttr('readonly');
				
				/* Update hidden variable  */
				$("#id_colRowMode").val("On");
				
				if ($("#id_cols").val()==""){
					initializeColsRows()
				}
				else{
					/* Set section div width automatically */
					updateMainContainerDim($("#id_cols").val())
				}
				e.preventDefault();
			}
		});
	}
	
	//Initialize Columns and Rows textfields. Execute when changing to manual mode
	function initializeColsRows(){
		imgContainerWidth =$(".img_container").width() + (parseInt($(".img_container").css("margin-right")) * 2)
		colVal = Math.floor($("section").width() / (imgContainerWidth + 5))
		$("#id_cols").val(colVal)
		updateGalleryLayout(colVal,0,"id_cols")
	}
	</script>
	<script type="text/javascript">
	//Change gallery layout when cols and rows textfield change
	function initializeColsRowsEvents(){
		$("#id_cols, #id_rows").click(function(){
			updateGalleryLayout($("#id_cols").val(),$("#id_rows").val(), $(this).attr("id"))
		});
		
		$("#id_cols, #id_rows").change(function(){
			alert("por change")
			updateGalleryLayout($("#id_cols").val(),$("#id_rows").val(), $(this).attr("id"))
		});
		$("#id_cols, #id_rows").keyup(function(){
			alert("por keypress")
			updateGalleryLayout($("#id_cols").val(),$("#id_rows").val(), $(this).attr("id"))
		});
	}
	
	function updateGalleryLayout(cols, rows, setElement){
		alert("cols"+cols)
		alert("rows"+rows)
		recalculateColsRows(cols,rows, setElement)
		alert("cols"+cols)
		alert("rows"+rows)
		alert("$(#id_cols).val()"+$("#id_cols").val())
		updateMainContainerDim($("#id_cols").val())
	}
	
	function recalculateColsRows(cols, rows, setElement){
		if (setElement == "id_cols"){
			$("#id_rows").val(Math.ceil($(".img_container").length/cols))
		}
		else{
			$("#id_cols").val(Math.ceil($(".img_container").length/rows))
		}
	}
	function updateMainContainerDim(colVal){
		imgContainerWidth =$(".img_container").width() + (parseInt($(".img_container").css("padding-right")) * 2)
		alert("imgContainerWidth"+imgContainerWidth)
		sectionWidth = colVal * imgContainerWidth
		$("section").width(sectionWidth)
	}
	</script>
	<script type="text/javascript">
		//Initialize events for zoom change
		function initializeZoomEvents(){
			$('#id_zoom').click(function(){
				/* updateImageDimByUrl(); */
				setImageSize(false)
			});
			
			$('#id_zoom').change(function(){
				/* updateImageDimByUrl(); */
				setImageSize(false)
			});
				
	 		$('#id_zoom').keyup(function(e){
	 			var code = e.keyCode || e.which; 
 			  	if (code  == 13) {               
 					 /* updateImageDimByUrl(); */
 					 setImageSize(false)
 			  	}
			});	 
		}
		
		
		function setImageSize(refreshElement){
			/* Gets zoom and image width and height */
			zoom_element=$('#id_zoom')
			imageHeight_val = parseInt($('#id_imageHeight').val())
			imageWidth_val = parseInt($('#id_imageWidth').val())
			
			console.log(zoom_element.val())
			console.log(imageHeight_val)
			console.log(imageWidth_val)
			
			/* Check if zoom in pixel */
			if (zoom_element.val().indexOf('px')!=-1){
				/*  Get zoom value*/			
				zoom_val=parseInt(zoom_element.val().split('px')[0])
				
				/* Check is image bigger than zoom */
				/* if (zoom_val <  imageWidth_val && zoom_val < imageHeight_val){ */
					/* Calculate zoom in percentage */
					if (imageHeight_val<imageWidth_val){
						tableImages_width=zoom_val
						zoom_val_perc=Math.round((zoom_val/imageWidth_val)*100)
					} 
					else{
						tableImages_width=Math.round(zoom_val*(imageWidth_val/imageHeight_val))
						zoom_val_perc=Math.round((zoom_val/imageHeight_val)*100)
					}
					
				/* } */
				
			}
			else{
				zoom_val_perc=zoom_element.val()
				if (imageHeight_val<imageWidth_val){
					zoom_val_pixel=Math.round((zoom_val_perc*imageWidth_val)/100)
					tableImages_width=zoom_val_pixel
				} 
				else{
					zoom_val_pixel=Math.round((zoom_val_perc*imageHeight_val)/100)
					tableImages_width=zoom_val_pixel
				}
				
				
			}
			
			if (refreshElement==true){
				zoom_element.val(zoom_val_perc)
			}
			
			d = new Date();
			$(".tableImages").each(function(){
			   var newSrc = "";
			   if ($(this).attr("src").indexOf("&dim") != -1){
			   	newSrc = $(this).attr("src").substring(0,$(this).attr("src").indexOf("&dim"));
			   }
			   else{
				  newSrc = $(this).attr("src");   
			   }
			   $(this).attr("width",tableImages_width)
			   $(this).attr("src", newSrc + "&dim="+tableImages_width+"&"+d.getTime());
		   })
		}
		
		//Update image dimensions by url due to zoom change
/* 		function updateImageDimByUrl(){
			console.log("actualizando tamano")
			
			d = new Date();
		   	$(".tableImages").each(function(){
			   var newSrc = "";
			   if ($(this).attr("src").indexOf("&dim") != -1){
			   	newSrc = $(this).attr("src").substring(0,$(this).attr("src").indexOf("&dim"));
			   }
			   else{
				  newSrc = $(this).attr("src");   
			   }
			   $(this).attr("src", newSrc + "&dim="+$('#id_zoom').val()+"&"+d.getTime());
		   })
		} */
	
	</script>
	<script type="text/javascript">
		//Save table change in metadata
		function saveShowjTable(elementId, value){
			$.ajax({
				type : "GET",
				url : "/save_showj_table/?element_id=" + elementId + "&element_value=" + value,
				dataType : "json",
				success : function(json) {
					message = json.message;
					alert(message)
				}
			});
		}
	</script>
	<script type="text/javascript">
	function multipleEnableDisableImage(mode){
		if ($('#multipleSelectionTool').attr('img_container_id') !== undefined) {
			//If we are in gallery view
			if (mode=='enable'){
				$(".image_selected").each(function(){
					$(this).find(".enabledGallery").addClass("selected")
					$(this).find(".enabledGallery").fadeIn('fast')
				})
			}
			else{
				$(".image_selected").each(function(){
					$(this).find(".enabledGallery").removeClass("selected")
					$(this).find(".enabledGallery").fadeOut('fast')
				})
			}
		} else {
			//If we are in table view
			if (mode=='enable'){
				$(".row_selected").each(function(){
					$(this).find(":checkbox").prop('checked', true);
				})
			}
			else{
				$(".row_selected").each(function(){
					$(this).find(":checkbox").prop('checked', false);
				})
			}
		}
	}
	</script>
	<script type="text/javascript">
	function multipleSelect(mode){
		if ($('#multipleSelectionTool').attr('img_container_id') !== undefined) {
			//If we are in gallery view
			element_id=parseInt($("#multipleSelectionTool").data('img_container_id').split("___")[1]);
			
			$(".img_container").each(function(){
				if (mode=='all' || (mode=='from' && $(this).attr('id').split("___")[1]>element_id) || (mode=='to' && $(this).attr('id').split("___")[1]<element_id) ){
					$(this).addClass("image_selected")
				}	
			})
		} else {
			//If we are in table view
			row_id=parseInt($("#multipleSelectionTool").data('row_id'));
			
			$("tr").each(function(){
				if (mode=='all' || (mode=='from' && $(this).index()>row_id) || (mode=='to' && $(this).index()<row_id) ){
					$(this).addClass("row_selected")
				}	
			})
		}
		
	}
	</script>
	
	{% block head %}  {% endblock %}
</head>
<body>
	<header>
	<!-- <div style="float:left;" id="logoDiv"> -->
	<a href="#" style="box-flex:1;"><img class="logo" src="/resources/scipion_logo.png" alt="Scipion logo" style="max-height:80px; "></a>
	<!-- </div> -->
	
	<div style="box-flex:1;padding:40px;text-align:center;">
	<span class="project_name" style="font-size:1.8em; ">Xmipp Showj Web</span>
	</div>
	
	</header>
<!-- 	<nav>  Top Menu
		<ul>
			<li>File</li>
			<li>Display</li>
			<li>Help</li>
		</ul>
	</nav> -->
	<div id="main_section">
		<aside id="side_news"> <!-- Main Menu -->

			<form id="showjForm" action="/showj/" method="post"> {% csrf_token %}
				<div id="modeContainer" class="sectionMenu">
					<input type="submit" value="table" name="select_mode" onclick="document.forms['showjForm'].id_mode.value='table';" class="submitButton
					 {% if form.mode.value == 'gallery' %}
					  tableOn
					 {% endif %}
					 {% if form.mode.value == 'table' %}
					 tableOff
					 {% endif %}	
					  "/>
					<input type="submit" value="gallery" name="select_mode" onclick="document.forms['showjForm'].id_mode.value='gallery';" class="submitButton
					{% if form.mode.value == 'gallery' %}
					  galleryOff
					 {% endif %}
					 {% if form.mode.value == 'table' %}
					 galleryOn
					 {% endif %}
					 " />
				</div>
				
				<div id="zoomContainer" class="sectionMenu">
					<img src="/resources/showj/zoom.png" class="menuIcon">
					{{ form.zoom }}
					
					<div id="arrowContainer" class="arrowSectionMenu">
						<img src="/resources/showj/arrowUp.png" class="arrowImage">
						<img src="/resources/showj/arrowDown.png" class="arrowImage">
					</div>
					<!-- <input type="number" class="menuInputNumber" id="zoom" value="150" min="10"> -->
				</div>
				
				<div id="gotoContainer" class="sectionMenu">
					<img src="/resources/showj/goto.png" class="menuIcon">
					{{ form.goto }}
					
					<div id="arrowContainer" class="arrowSectionMenu">
						<img src="/resources/showj/arrowUp.png" class="arrowImage">
						<img src="/resources/showj/arrowDown.png" class="arrowImage">
					</div>
					<!-- <input type="number" class="menuInputNumber" id="goto" value="1" max="{{metadata.objects|length}}" min="1"> -->
				</div>
				
				<div class="sectionMenu">
					<img src="/resources/showj/separator.png" class="menuIcon">
				</div>	
				
				{% if form.mode.value == 'gallery' %}
				<div id="colRowContainer" class="sectionMenu">
					<button id="colRowMode"> 
						<img src="/resources/showj/colRowMode{{form.colRowMode.value}}.png" id="colRowModeImage" />
					</button>
					
					<div class="subSectionMenu">
						<span class="textMenu">{{ form.cols.label_tag }}</span>
						{{ form.cols }}
						
						<div id="arrowContainer" class="arrowSectionMenu">
							<img src="/resources/showj/arrowUp.png" class="arrowImage">
							<img src="/resources/showj/arrowDown.png" class="arrowImage">
						</div>
						<!-- <input type="number" class="menuInputNumber" id="cols" value="" min="1" max="{{metadata.objects|length}}" disabled> -->
					</div>
					<div class="subSectionMenu">
						<span class="textMenu">{{ form.rows.label_tag }}</span>
						{{ form.rows }}
						
						<div id="arrowContainer" class="arrowSectionMenu">
							<img src="/resources/showj/arrowUp.png" class="arrowImage">
							<img src="/resources/showj/arrowDown.png" class="arrowImage">
						</div>
						<!-- <input type="number" class="menuInputNumber" id="rows" value="" min="1" max="{{metadata.objects|length}}" disabled> -->
					</div>
				</div>
				{% endif %}
				
				<div class="sectionMenu">
					<img src="/resources/showj/separator.png" class="menuIcon">
				</div>
		
				<div id="blockSelectorContainer" class="sectionMenu">
					<span class="textMenu"> {{ form.blockComboBox.label_tag }} </span>
					{{ form.blockComboBox }} 
				</div>
				
				<div id="metadataSelectorContainer" class="sectionMenu">
					<span class="textMenu">
					{% if not form.labelsToRenderComboBox.is_hidden %}
					{{ form.labelsToRenderComboBox.label_tag }}
					{% endif %}
					</span>
					{{ form.labelsToRenderComboBox }}
				</div>
				
			
		
				<div class="sectionMenu">
					<img src="/resources/showj/separator.png" class="menuIcon">
				</div>
				
				<div id="saveContainer" class="sectionMenu">
					<button id="saveButton">
						<img src="/resources/showj/saveOff.png" id="saveButtonImage" />
					</button>
				</div> 
				 
				{% block content_menu %}	{% endblock %}
				 
				{% for hidden in form.hidden_fields %}
			    {{ hidden }}
			    {% endfor %} 
				 
			</form>
		</aside>
		
		<section> <!--  Es donde va la informacion princiapl -->
		

		
		{% block content_view %}	{% endblock %}	
		<!-- Hidden menu for multiple selection tool -->
		<div class="multipleSelectionToolContainer" id="multipleSelectionTool">
			<div class="multipleSelectionToolItem" onclick="multipleEnableDisableImage('enable')">Enable</div>
			<div class="multipleSelectionToolItem" onclick="multipleEnableDisableImage('disable')">Disable</div>
			<div class="multipleSelectionToolItem" onclick="multipleSelect('all')">Select All</div>
			<div class="multipleSelectionToolItem" onclick="multipleSelect('from')">Select From Here</div>
			<div class="multipleSelectionToolItem" onclick="multipleSelect('to')">Select To Here</div>
		</div>	

			
		</section>
	</div>
	

</body>
</html>
