{% extends 'showj_base.html' %} 
{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!-- TABLE STYLES 
Overwrite general section property for table view -->
<style type="text/css">
section {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
</style>

<!-- JS -->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	/* webGLStart(); */
})
$(function() {
	$( "#slider" ).slider({
		range: "min",
		value: {{threshold}},
		min: 0,
		max: 20000,
		change: function( event, ui ) {
			value = ui.value/100
			$( "#amount" ).val(+ (value) );
			av_map_level(value)
		}
	});
	$( "#amount" ).val($( "#slider" ).slider( "value" ) );
});

function av_execute(command){
	  document.av.debugOn();
	  document.av.execute(command);
	  
}

function av_map_level(l){
  av_execute("map volMap -level " + l + ";map volMap -reread true;");
}
</script>

{% endblock %}

{% block content_menu %}{% endblock %}
			
{% block content_view %}

<div id="astexContainer">

	<!-- ASTEX VIEWER -->
	<applet
		width="600px" height="600px" name="av"
		archive="{{ STATIC_URL }}astex/OpenAstexViewer.jar"
		codebase=".."
		code="MoleculeViewerApplet.class">
		<!-- <param name="scriptFile" value=""> -->
	<!-- 			<param name="script" value="map load volMap /static/astex/tmp/emd_1042.map.gz 1 0.285;
				map volMap contour 0 solid on;
				radius 50;
				center map volMap;
				view -background lightgrey;
				map volMap -reread true;"> -->
				
				
		<param name="script" value="map load volMap {{volLink}} {{volType}} {{threshold}};
		map volMap contour 0 solid on;
		radius 50;
		center map volMap;
		view -background lightgrey;
		map volMap -reread true;">  
	</applet>

 	<div>
		<p>
			<label for="amount">Threshold:</label>
			<input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
		</p>
		<div id="slider"></div>
	</div>
	
</div>
			
{% endblock %}
