
{% block title %} - Project {{project_name}} {% endblock %}
{% block head %}
	<link href={{css}} rel="stylesheet" type="text/css">
	<!-- JS Libs -->
	<script src={{jquery}} type="text/javascript"></script>
	<script src={{jquery_cookie}} type="text/javascript"></script>
	<script src={{jquery_treeview}} type="text/javascript"></script>
	<script src={{launchTreeview}} type="text/javascript"></script>
	<script src={{utils}} type="text/javascript"></script>
{% endblock %}		


{% block content %}
	<div style="overflow:auto">
		<table cellspacing="0">
			<tr>
				{% for label in metadata.labels %}
					<th>{{label}}</th> 
				{% endfor %}				
			</tr>
			{% for obj in metadata.objects %}
				<tr id="{{obj.id}}" style="background-color:#fafafa;">
				    {% for value in obj.values %}
			         <td> 
			           {% if value.allowRender %} 
			            <img src="/get_image/?image={{value.imgValue}}"/>
			           {% else %}
			           {{value.strValue}}
			           {% endif %}
			         </td>
			        {% endfor %}			        
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
