<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Testing SSH</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href="{{favicon}}" />

</head>
<body>
	<div style="padding:16px 0px 0px 15px;text-align:center;display:inline;">
		<a href="http://localhost:8081/openInteractiveProtocolMenu?machine=pitagoras.cnb.csic.es&user=aquintana&commands=ls&commands=pwd" style="margin:2px 0px 0px 8px" target="_blank">Testing SSH</a>
	</div> 

<!-- 	<div style="padding:16px 0px 0px 15px;text-align:center;display:inline;">
		<a href="/visualize_object?path=Runs/XmippProtCTFMicrographs178/extra/BPV_1386/xmipp_ctf.ctfparam&mode=column" style="margin:2px 0px 0px 8px" target="_blank">Testing ShowJ con Path</a>
	</div> 

	<div style="padding:16px 0px 0px 15px;text-align:center;display:inline;">
		<a href="/visualize_object?path=Tmp/333.outputParticles_images.xmd" style="margin:2px 0px 0px 8px" target="_blank">Testing ShowJ con Path</a>
	</div> -->

</body>
</html>

