<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Testing SSH</title>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href="{{favicon}}" />

</head>
<body>
	<div style="padding:16px 0px 0px 15px;text-align:center;display:inline;">
		<a href="http://localhost:8081/openScipionLocalMenu?machine=pitagoras.cnb.csic.es&user=aquintana&commands=ls&commands=pwd&action=openInteractiveProtocolMenu" style="margin:2px 0px 0px 8px" target="_blank">Testing SSH</a>
	</div> 

	<div style="padding:16px 0px 0px 15px;text-align:center;display:inline;">
		<a href="http://localhost:8081/openScipionLocalMenu?machine=pitagoras.cnb.csic.es&user=aquintana&commands=ls&commands=pwd&action=openTransferFilesMenu" style="margin:2px 0px 0px 8px" target="_blank">Testing Tx Files</a>
	</div> 


</body>
</html>

