<script>	
	$(function() {
    	$("#browser").treeview();
  	});
</script>
<ul id="browser" class="filetree">
	{% for section in sections %}
	<li><span class="section">{{section.name}}</span>
		<ul>
			{% for prot in section.childs %} {% if prot.tag == 'protocol'%}
			<li><span class="protocol"><a
					href="javascript:popup('/form/?protocolClass={{prot.protClass}}')">{{prot.name}}</a></span></li>
			{% elif prot.tag == 'protocol_base' %}
			<li class="closed"><span class="protocol_base">{{prot.name}}</span>
				<ul>
					{% for prot2 in prot.childs %}
					<li><span class="protocol_class"> <a
							href="javascript:popup('/form/?protocolClass={{prot2.name}}')">
									{{prot2.name}} </a>
					</span></li> {% endfor %}
				</ul></li> {% else %} No athletes. {% endif %} {% endfor %}
		</ul>
	</li> {% endfor %}
</ul>
	