<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:pages="http://dummy1">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="http://www.cgl.ucsf.edu/chimera/webgl/PhiloGL-1.3.0.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script>
		function visualizeVolume(setOfVolumesId, volumeId, threshold){
			$("#htmlDisplayer").append("Wait a moment...");
			visualizeURL = "";
			if (threshold == null){
				visualizeURL = "/visualize_volume/?setOfVolumesId=" + setOfVolumesId + "&volumeId=" + volumeId + "&threshold=" + document.getElementById("threshold").value;
			} else {
				visualizeURL = "/visualize_volume/?setOfVolumesId=" + setOfVolumesId + "&volumeId=" + volumeId + "&threshold=" + threshold;
			} 
			$.ajax({
				type : "GET",
				url : visualizeURL,
				dataType : "json",
				success : function(json) {
					$("#htmlDisplayer").empty();
					$("#htmlDisplayer").append(json['volumeHtml']);
					$("#htmlDisplayer").append("<br/>");
					$("#htmlDisplayer").append("<label>Threshold: </label><input id='threshold' name='threshold' type='text' size='10' /><button type='button' onclick='visualizeVolume(" + setOfVolumesId + "," + volumeId + ", null);'> Go </button>");
					webGLStart();
				}
			});
		}
		
		function askInitialThreshold(setOfVolumesId, volumeId){
			var threshold=prompt("Please enter initial threshold","1");
			if (threshold==null || threshold=="") {
			  threshold = 1;
		  	}
			visualizeVolume(setOfVolumesId, volumeId, threshold)
		}
	</script>
	</head>
	<body>
		</br>
		<table id="data" cellspacing="0" border="1">
			<tr> 
				<th>Volume</th>
			</tr>
			{% for volume in setOfVolumes %}
			<tr id="{{volume.getId}}" class="" onclick="askInitialThreshold({{setOfVolumesId}},{{volume.getId}});" style="background-color: #fafafa;">
				<td>
					{{volume.getFileName}}
				</td>
			</tr>
			{% endfor %}	
		</table>
		</br>
		</br>
		</br>
		<div id="fallback" class="fallback"></div>
	    <canvas id="molview" width="700" height="400"></canvas>
	
		<div id="htmlDisplayer">
		
		</div>
		
		</br>
		
	
	    <script>
		if (!PhiloGL.hasWebGL()) {
			document.body.className = 'no-webgl';
			document.getElementById('fallback').innerHTML = ''
			+ '<div style="margin:10px;">'
			+ 'Your web browser does not support or is not configured for WebGL.'
			+ '  See <a href="http://get.webgl.org/">WebGL Support</a>'
			+ ' for more information.'
			+ '</div>';
		}
	    </script>
		{% autoescape off %}
			{{chimeraHtml}}
		{% endautoescape %}	
	</body>
</html>