{% extends "layouts/100.html" %}

{% block title %}Scipion Web Tools{% endblock %}

{% block css %}
    {{ block.super }}
	<link href="{{messi_css}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{messi_js}}"></script>
	<script type="text/javascript" src="{{utils}}"></script>
	<script type="text/javascript" src="{{config}}"></script>
{% endblock %}

{% block main_col %}

	<div id="box">
		<h1>Scipion Web Tools - <a href="http://www.west-life.eu/" target="_blank">
			<img style="height: 45px" src="http://about.west-life.eu/images/west-lifewhite.png"/></a>
		</h1>
		<br />
		<div id="minibox">
			<div id="steps">
				<h2>Single particle analysis tools</h2>
			</div>
			<br/>

			<div id="lineOpt">
				<P>
					Create your initial volume
				</P>
				<span id="buttons">
					<a href="{{abs_url}}myfirstmap"><button type="button" class="btn btn_wide button2 primary_inv">My first map</button></a>
				</span>
			</div>
			<br/>

			<div id="lineOpt">
				<P>
					Align your movies
				</P>
				<span id="buttons">
					<a href="{{abs_url}}mymovies"><button type="button" class="btn btn_wide button2 primary_inv">My movie alignment</button></a>
				</span>
			</div>
			<br/>

			<div id="lineOpt">
				<P>
					Analyze your maps
				</P>
				<span id="buttons">
					<a href="{{abs_url}}myresmap"><button type="button" class="btn btn_wide button2 primary_inv">My resolution map</button></a>
				</span>
			</div>
			<br/>


			<!-- Quality section commented until further development -->
			<!--<h2>Quality check and validation tools</h2>-->
			<!--<br />-->
			<!--<div id="lineOpt">-->
				<!--<h3 id="textbtn">-->
					<!--Explore protein interactions-->
				<!--</h3>-->
				<!--<span id="buttons">-->
					<!--&lt;!&ndash; EXAMPLE PROJECT &ndash;&gt;-->
					<!--<a href="http://3diana.cnb.csic.es/3DIANA/home.html">-->
						<!--<img src="http://3diana.cnb.csic.es/DIMERO/IMG/3diana_logo.png" style="height:35px;margin-bottom:15px"/>-->
					<!--</a>-->
				<!--</span>-->
			<!--</div>-->
			<!--<div id="lineOpt">-->
				<!--<h3 id="textbtn">-->
					<!--Validate your particles-->
				<!--</h3>-->
				<!--<span id="buttons">-->
					<!--&lt;!&ndash; EXAMPLE PROJECT &ndash;&gt;-->
					<!--<a href="{{abs_url}}mypval">-->
						<!--<button class="btn button2 validation_inv" type="button">-->
							<!--My particle validation-->
						<!--</button>-->
					<!--</a>-->
				<!--</span>-->
			<!--</div>-->
			<!--<br />-->
			<!--<div id="lineOpt">-->
				<!--<h3 id="textbtn">-->
					<!--Calculate you quality map score-->
				<!--</h3>-->
				<!--<span id="buttons">-->
					<!--&lt;!&ndash; EXAMPLE PROJECT &ndash;&gt;-->
					<!--<a href="{{abs_url}}myscoring">-->
						<!--<button class="btn button2 validation_inv" type="button">-->
							<!--My map scoring-->
						<!--</button>-->
					<!--</a>-->
				<!--</span>-->
			<!--</div>-->
			<!--<br />-->
		</div>
	</div>

{% endblock %}
