{% extends 'wiz_base.html' %} 
{% block title %} Volume Mask Radius {% endblock %} 
{% block name %} Volume Mask Radius {% endblock %} 
{% block head %}
	<script type="text/javascript" src="{{raphael}}"></script>
{% endblock %} 
{% block list %}
<tr>
	<th>Object</th>
</tr>
{% for obj in objects %}
	{% if forloop.counter0 == 0 %} 
	<script>
		firstElm  = {{obj.getObjId}};
	</script>
	{% endif %}
<tr id="{{obj.getObjId}}" class="no-selected"
	style="background-color: #fafafa;"
	onclick="compositeVol(($(this)));" value="{{obj.getFileName}}">
	<td>{{obj.basename}}</td>
</tr>
{% endfor %} {% endblock %} {% block images %}
<tr>
	<td>Central Slice
		<div id="wrapper" class="image">
			<div id="mic"></div>
			<div id="canvas"></div>
		</div>
	</td>
</tr>
{% endblock %} 
{% block options %}
<fieldset id="sliderOptionsLite">
	<div id="sliderUni">
		<span id="title">Outer radius<span>
		<div id="slider" class="slider_radius"></div>
		<div id="slider_radius_result">{{maskRadius}}</div>
		<input id="radius_val" type="hidden" value="{{maskRadius}"/>
	</div>
</fieldset>

<script>
$(".slider_radius").slider({
	animate : true,
	range : "min",
	value : "{{maskRadius}}",
	min : 0,
	max : {{xdim}},
	step : 1,
	//this gets a live reading of the value and prints it on the page
	slide : function(event, ui) {
		$("#slider_radius_result").html(ui.value);
		
		//update the circle
 		putCircle((ui.value*125)/{{xdim}}, "canvas", "blue");
	},
	//this updates the hidden form field so we can submit the data using a form
	change : function(event, ui) {
		$('#radius_val').attr('value', ui.value);
	}
});
//Load the First Element of the list
window.onload = compositeVol($("tr#"+firstElm));
</script>
{% endblock %}
{% block function %}
	onclick="putSelection('input#radius_val', 'maskRadius_input')"
{% endblock %}
