{% extends 'wiz_base.html' %} 
{% block title %} Downsampling {% endblock %}
{% block name %} Downsampling {% endblock %}
{% block head %}{% endblock %}	

{% block list %}			
	<tr><th>Object</th></tr>
	{% for obj in objects %}
	<tr id="{{obj.getObjId}}" class="no-selected" style="background-color: #fafafa;" onclick="selectList(($(this)));" value="{{obj.getFileName}}">
		<td>{{obj.getFileName}}</td>
	</tr>	
	{% endfor %}
{% endblock %}		
{% block images %}
	<tr>
		<td><div class="image"><img id="mic" src=""/></div>Micrograph</td>
		<td><div class="image"><img id="psd" src=""/></div>PSD</td> 	
	</tr>
{% endblock %}
{% block options %}
Downsample
	<input type="text"/>	
	<input type="button" id="buttonGen" value="preview"/>	
{% endblock %}