{% extends 'baseWizard.html' %} {% block title %} - Downsampling {%endblock %} 
{% block head %}
<!-- CSS -->
{% endblock %} {% block list %}
	<tr id="id1" class="no-selected" style="background-color: #fafafa;" onclick="selectList(($(this)));">
		<td>Id1</td>
	</tr>
	<tr id="id2" class="no-selected" style="background-color: #fafafa;" onclick="selectList(($(this)));">
		<td>Id2</td>
	</tr>
	<tr id="id3" class="no-selected" style="background-color: #fafafa;" onclick="selectList(($(this)));">
		<td>Id3</td>
	</tr>
{% endblock %} {% block images %}
		<div class="image">Image 1</div>
		<div class="image">Image 2</div>
{% endblock %} {% block options %}
<span class="element">Downsample<input type="text" /> <input
	type="button" value="preview" /> {% endblock %} 