/* CSS Document */
html, body{
	width: 95%;
	height: 95%;
	margin: 10px auto;
	padding: 5px 0;
	text-align: left;
	background: White;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

#framecontentLeft{
position: absolute; 
top: 110px;
bottom: 120px; /*Set bottom value to HeightOfBottomFrameDiv*/
left: 0; 
width: 390px; /*Width of left frame div*/
/*height: 100%;*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: white;
}

#framecontentTop{
position: absolute; 
top: 0; 
left: 0px; /*Set left value to WidthOfLeftFrameDiv*/
right: 0;
height: 110px; /*Height of top frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: white;
}

#framecontentBottom{
position: absolute; 
top: auto; 
left: 0px; /*Set left value to WidthOfLeftFrameDiv*/
bottom: 0;
right: 0;
height: 120px; /*Height of bottom frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: white;
}

#maincontent{
position: absolute; 
top: 110px; /*Set top value to HeightOfTopFrameDiv*/
left: 390px; /*Set left value to WidthOfLeftFrameDiv*/
right: 0;
bottom: 120px; /*Set bottom value to HeightOfBottomFrameDiv*/
overflow: auto; 
background: #fff;
padding-right:20px;
}

.innertube{
margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}



.logo {
	width: 14.5em;
	height: 3.6em;
	text-align: center;
}

.tittle {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}