/**
* These styles are to create custom resize handles.
*/
.ui-resizable-handle {
	background-color: rgb(220, 220, 220);
	text-align: center;
}

.ui-resizable-w,.ui-resizable-e {
	width: 6px;
	border-left: 1px solid rgb(210, 210, 210);
	border-right: 1px solid rgb(210, 210, 210);
}

.ui-resizable-w {
	left: -8px;
}

.ui-resizable-e {
	right: -8px;
}

.ui-resizable-n,.ui-resizable-s {
	height: 6px;
	border-top: 1px solid rgb(210, 210, 210);
	border-bottom: 1px solid rgb(210, 210, 210);
}

.ui-resizable-n {
	top: -8px;
	background:
}

.ui-resizable-s {
	bottom: -8px;
}

.ui-resizable-helper-west {
	border-right: 6px solid rgb(220, 220, 220);
}

.ui-resizable-helper-east {
	border-left: 6px solid rgb(220, 220, 220);
}

.ui-resizable-helper-north {
	border-bottom: 6px solid rgb(220, 220, 220);
}

.ui-resizable-helper-south {
	border-top: 6px solid rgb(220, 220, 220);
}

.ui-icon {
	
}