/* CSS Document */
html,body {
	width: 60em;
	height: 35em;
	margin: 10px auto;
	padding: 5px 0;
	text-align: left;
	background: white;
	/* 	background-color: FireBrick; */
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	width: 14.5em;
	height: 3.6em;
	text-align: center;
}

.box {
	border: 2px solid black;
	width: 60em;
	height: 35em;
	background: white;
}

.left {
	text-align: right;
	width: 14em;
	float: left;
	background: white;
}

.protTree {
	height: 30em;
	width: 16.5em;
	text-align: left;
	margin-left: 1em;
}

.protFieldsetTree {
	height: 27.8em;
	width: 17em;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: -0.5em -1em -0.6em -1em;
	border: none;
}

.right {
	margin: 1em;
	width: 38em;
	float: right;
	height: 32.8em;
}

.projFieldset {
	height: 31.8em;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.projList {
	list-style: none;
}

.projName {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-left: -0.5em;
}

.projRemove {
	margin-left: 1em;
	font-size: 0.9em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}
/* CSS for the treeview */
.treeview,.treeview ul {
	padding: 0;
	list-style: none;
	background-color: white;
	margin: -3px 0 0 -5px;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../../../resources/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol {
	margin: 1em 0;
	display: none;
}

.treeview .hover {
	color: red;
	cursor: pointer;
}

.treeview li {
/* 	background: url(../images/treeview-default-line.gif) 0 0 no-repeat; */
	background: 0 0 no-repeat;
}

.treeview li.collapsable,.treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image: url(../images/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.treeview .placeholder {
	background: url(../images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li {
	padding: 3px 0 2px 16px;
}

.filetree span.folder,.filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.section {
	font-size: 1.2em;
	font-weight: bold;
}

.filetree li.expandable span.section {
	font-size: 1.2em;
	font-weight: bold;
}

.filetree span.protocol_base {
	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat;
	padding-left: 1em;
}

.filetree li.expandable span.protocol_base {
	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat;
	padding-left: 1em;
}

.filetree span.protocol {
	background: url(../../../../resources/bookmark.gif) 0 0 no-repeat;
	padding-left: 1em;
}

.filetree span.protocol_class {
	background: url(../../../../resources/python_file.gif) 0 0 no-repeat;
	padding-left: 1em;
}

/* CSS for the runtime table */
table a:link {
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	font-weight: bold;
	text-decoration: none;
}

table a:active,table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

table {
	margin: -0.2em -1.5em 0em -1em;
	width: 41em;
	font-size: 0.9em;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	box-shadow: 0 1px 2px #d1d1d1;
}

table th {
	height: 0.2em;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table tr {
	text-align: center;
}

table tr td:first-child {
	text-align: left;
	border-left: 0;
}

table tr td {
	padding: 0.5em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
		to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}