<div class="box">
	<form id="uploadForm" action="{{abs_url}}/doUpload/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<input type="hidden" id="project_folder" name="project_folder" value="{{project_folder}}"/>
		<p>
<!-- 			<strong>{{relative_path}}</strong> -->
		</p>
		<table class="section">
			<tr>
				<td id="inputName" class="normal">
					<img src="{{abs_url}}/resources/{{icon.ACTION_BROWSE}}">&nbsp;
					<strong>{{form.docfile.label_tag}}</strong>
				</td>
				<td colspan="3">
					<p>{{form.non_field_errors}}</p>
					<p>{{form.docfile.help_text}}</p>
					<p>
						{{form.docfile.errors}}
						{{form.docfile}}
					</p>
				</td>
				<td class="ico">
					<a class="fa fa-question-circle" href="javascript:infoPopup('Documentation','{{msg.TEXT_HELP}}');"></a>
				</td>
			</tr>
		</table>
		{% if mode != "service" %}
		<div style="float:right;">
			<a href="javascript:launchUpload();" class="btn buttonGrey">
				<i class="fa fa-cogs"></i>
				Upload
			</a>
		</div>
		{% endif %}
	</form>
</div>