{% extends "__base.html" %}

	{% block title %}Scipion File Upload{% endblock %}

		{% block css %}
			{{ block.super }}
			<link rel="stylesheet" href="{{jquery_ui_css}}" type="text/css">
			<link rel="stylesheet" href="{{font_awesome}}" type="text/css">
		{% endblock %}

		{% block js %}
			{{ block.super }}


			<script src={{utils}} type="text/javascript"></script>
			<script src={{config}} type="text/javascript"></script>
			<script src="{{jquery_ui}} "type="text/javascript"></script>
			<script src="{{upload_utils}} "type="text/javascript"></script>

		{% endblock %}

		{% block content %}

		<style type="text/css">
			.ui-state-active {
				{% if visualize == 1 %}
				background: #6E6E6E !important;
				{% else %}
				background: Firebrick !important;
				{% endif %}
				font-size: 0.9em !important;
				font-weight: bold !important;
				text-align: center !important;
				padding: 2px !important;
			}
			.ui-tabs-anchor{
				color: #000 !important;
				padding: .3em 1em !important;
			}
			.ui-state-active .ui-tabs-anchor{
				color: white !important;
			}

			.ui-progressbar {
				position: relative;
			}
			.progress-label {
				position: absolute;
		/* 			    left: 50%; */
				left: 0.5em;
				top: 0.35em;
				font-weight: bold;
				text-shadow: 1px 1px 0 #fff;
			 }
		</style>



			<script>

				{% include '_scipion_context.html' %}
				{% include '_project_context.html' %}

				// To fill the list of files tab
				$(document).ready(function() {

					//tabs
					$("#tabs").tabs(
						{"activate":function(event,ui){
							if (ui.newTab.index() == 1) {
								updateListFiles()
								}
							}
						}
					);
				});
			</script>

			<div>
				<img src='{{logo_scipion_small}}' style="margin:5px;width:auto;height:2.5em;float:left;"/>
				<h3 id="protName" style="">
						Scipion File Upload
				</h3>
			</div>

			<div id="tabs">
				<ul>
					<li>
						<a href="#tabs-1">File Upload</a>
					</li>
					<li>
						<a href="#tabs-2">List Files</a>
					</li>
				</ul>

				<!-- FILE UPLOAD> -->
				<div id="tabs-1">
					{% include "upload/do_file_upload.html" %}
				</div>
				<!-- LIST FILES -->
				<div id="tabs-2">
					{% include "upload/list_files_upload.html" %}
				</div>
			</div>
			<br />
			<div class="boxBottom">
				<a href="javascript:window.close()" class="btn button2 secondary_inv"><i class="fa fa-times"></i>{{msg.LABEL_BUTTON_CLOSE}}</a>
			</div>
		{% endblock %}
