/* CSS Document */
html,body {
	background-color: #F0F0F0;
}

body {
	/* border: 1px solid black;*/
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 0.84em;
}

#protName {
	margin: 0 0 0.3em 0;
}

#tabs {
	/* 	font-size: 80%; */
	font-size: 0.84em;
}

#main {
	width:35em;
}

#mainNode1 {
	width: 18.5em;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #aaaaaa;
	font-size: 0.88em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	display: inline-block;
	text-align: left;
}

#mainNode2 {
	width: 18.5em;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #aaaaaa;
	font-size: 0.88em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	display: inline-block;
	text-align: left;
}

#mainNode1 input {
	width: 8em;
}

table.section {
	border-collapse: collapse;
	border-right: 15px;
	margin-left: 1em;
	margin-top: 0.5em;
}

table.section td {
	margin-right: 5em;
}

input {
	background: LightGray;
}

input.hide2 {
	position: relative;
	filter: alpha(opacity :   0);
	width: 9.7em;
	cursor: pointer;
}

input.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity :   0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
	list-style:
}

textarea {
	resize: vertical;
	background: LightGray;
	max-height: 9em;
}

.box {
	background: white;
	/* 	margin: 0.3em; */
	width: auto;
	height: 20em;
	overflow-y: scroll;
	overflow-x: hidden;
	/* 	padding-right: 0.5em; */
	/* 	margin-top: -1em */
}

.title {
	background: DarkRed;
	color: white;
	border-left: 2.5px solid FireBrick;
	border-top: 2.5px solid FireBrick;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0.5em;
}

.titleMain {
	background: DarkRed;
	color: white;
	border-left: 2.5px solid FireBrick;
	border-top: 2.5px solid FireBrick;
	font-size: 0.9em;
	font-weight: bold;
	margin: -1em -0.6em 0.3em -0.6em;
	text-align: center;
}

.elementHide {
	display: none;
}

.advance {
	background-color: #eaebec;
}

#inputName {
	width: auto;
}

.recommended {
	font-weight: bold;
	text-align: right;
}

.normal {
	font-weight: normal;
	text-align: right;
}

.option {
	display: list-item;
	margin-left: 12em;
	margin-top: -1em;
	text-decoration: none;
	list-style: none;
	/* 		background: LightGray; */
	width: 9em;
}

.ico {
	
}

.ico:hover {
	background-color: FireBrick;
}

.boxBottom {
	/* 	background-color: rgb(235, 235, 235); */
}

.buttonClose {
	background: url(../../../resources/dialog_close.png) 0.5em no-repeat;
	background-size: 20%;
	/* 	margin: 1em 0.5em 0 0; */
	/* 	font-size: 0.8em; */
	color: black;
	width: 6.3em;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
	padding: 1px;
	padding-left: 1.7em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.buttonClose:hover {
	background-color: white;
}

.buttonSave {
	background: url(../../../resources/document_save24.png) 0.5em no-repeat;
	background-size: 20%;
	/* 	margin: 1em 0.5em 0 0; */
	/* 	font-size: 0.8em; */
	color: black;
	width: 6.3em;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
	padding: 1px;
	padding-left: 2em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
}

.buttonSave:hover {
	background-color: white;
}

.buttonExec {
	/* 	font-size: 0.8em; */
	color: white;
	width: 8em;
	height: 2em;
	background-color: DarkRed;
	/* 	border: 1px solid #000066; */
	/* 	padding: 1px; */
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
}

.buttonExec:hover {
	background-color: FireBrick;
}

/* CSS for messi selection table */
table.content {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	/* 	text-shadow: 1px 1px 0px #fff; */
	/* 	background: #eaebec; */
	/* 	box-shadow: 0 1px 2px #d1d1d1; */
}

table.content tr {
	text-align: center;
}

table.content tr td {
	padding: 0.4em;
	padding-left: 0.5em;
	/* 	border-top: 1px solid #ffffff; */
	/* 	border-bottom: 1px solid #e0e0e0; */
	/* 	border-left: 1px solid #e0e0e0; */
}

table.content tr:hover td {
	background-color: #f2f2f2;
	/* 	color: white; */
}