/* CSS Document */

/* GENERAL */
html,body {
	background-color: #eaebec;
}

body {
	padding: 10px 15px;
}
input {
	background: #F2F2F2;
}
input.hide2 {
	position: relative;
	filter: alpha(opacity :     0);
	width: 9.7em;
	cursor: pointer;
}
input.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity :     0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
	list-style:
}
textarea {
	padding: 4px;
	resize: vertical;
	background: #F2F2F2;
	max-height: 30em;
	width: 26em;
	height: 20em;
	font-size: 0.9em;
}

/* TITLE */
#protName {
	margin: 0.5em 0 0.3em 0;
}

/* MAIN SECTION */
#main {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.mainNode {
	width: 45%;
	background-color: white;
	border-radius: 4px;
	border: 0px;
	margin-bottom: 0.5em;
	padding: 0.5em;
	display: inline-block;
	text-align: left;
	
}

/* TABS */
#tabs {
	clear:both;
	border: 0px;
}

#mainNode1 input {
	width: 8em;
}

.box {
	background: white;
	width: auto;
	max-height: 20em;
	overflow-y: auto;
	overflow-x: hidden;
	padding:0.5em 0.5em 1.5em 0.5em;
}

.title{
	/* background: DarkRed; */
	background: Firebrick;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	margin-bottom: 7px;
}


.elementHide {
	display: none;
}

.advance {
	background-color: #eaebff;
}

#inputName {
	width: auto;
}

.recommended {
	font-weight: bold;
	text-align: right;
}

.normal {
	font-weight: normal;
	text-align: right;
}

.option {
	display: list-item;
	margin-left: 12em;
	margin-top: -1em;
	text-decoration: none;
	list-style: none;
	width: 9em;
}

.iconEdit:before{
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.boxBottom {
	margin: 1.5em 0px;
	float: right;
	
}
/* 
.buttonClose {
	background: url(../../../resources/dialog_close.png) 0.5em no-repeat;
	background-size: 20%;
	color: black;
	width: 6.3em;
	height: 2em;
	background-color: LightGray;
	padding: 1px;
	padding-left: 1.7em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.buttonClose:hover {
	background-color: white;
}

.buttonSave {
	background: url(../../../resources/document_save24.png) 0.5em no-repeat;
	background-size: 20%;
	color: black;
	width: 6.3em;
	height: 2em;
	background-color: LightGray;
	padding: 1px;
	padding-left: 2em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
}

.buttonSave:hover {
	background-color: white;
}

.buttonExec {
	color: white;
	width: 8em;
	height: 2em;
	background-color: Firebrick;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
}

.buttonExec:hover {
	background-color: FireBrick;
}

.buttonWiz {
	background: url(../../../resources/tools_wizard.png) 1px no-repeat;
	color: white;
	width: 2em;
	height: 2em;
	border: 0px;
	text-align: center;
}

.buttonWiz:hover {
}

.buttonViewer {
	background: url(../../../resources/visualize.gif) 1px no-repeat;
	color: white;
	width: 2em;
	height: 2em;
	border: 0px;
	text-align: center;
}

.buttonViewer:hover {
	background-color: FireBrick;
} */

/* TABLE */
table.content {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
}

table.content tr {
	text-align: center;
}

table.content tr td {
	padding: 0.4em;
	padding-left: 0.5em;
}

table.content tr:hover td {
	background-color: #f2f2f2;
}
table.section {
	border-collapse: collapse;
	border-right: 15px;
	margin-left: 1em;
	margin-top: 0.5em;
}

table.section td {
	padding-right:10px;
	font-size: 0.9em;
}
table td{
	padding: 4px 4px 6px 2px;
}
table td:nth-child(odd) {
	padding: 4px 6px 6px 2px;
}
table td:nth-child(even){
	padding: 4px 2px 6px 6px;
}
