/* CSS Document */
html  {	
	width: 97%;
	height: 97%;
	margin: 10px auto;
	overflow: hidden;
	background-color: #F0F0F0;
}

body {	
	width: 97%;
	height: 97%;
	margin: 10px auto;
	overflow: hidden;
	text-align: left;
	background: white;
	border:2px solid black;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 0.75em;
}

img{
	border: none;
}

a{
	border: none;
}

a:hover {
	color: Firebrick;
}

#wrapper {
/* 	position: absolute; */	
	width:99.7%;
	height:98%;
}

#wrapperContent {
/* 	position: relative; */
	width: 100%;
	height:50em;;
/* 	margin: 0 1em 1em 1em; */
/* 	border: 1px solid blue; */
}

#frameTitle {
	height: 51px;
	text-align: center;
}

#frameLeft {
	position: absolute;
	top: 50px;
	width: 15%;
	overflow: hidden; 
	background-color: white;
	padding: 10px;
	min-width: 15%;
}

#frameTop{
	width:100%;
	height: 70%;
	overflow-y: hidden;
	margin:1em;
	min-height: 15%;
}

#frameCenter{
	width:100%;
	height: 30%;
	margin: 0 1em 0 1em;
}

/* #maincontent { */
/*  	position: absolute; */
/* 	overflow: auto; */
/* 	background: #fff; */
/* 	margin-right: 10px; */
/* 	padding-left: 10px; */
/* 	background: white; */
/* } */

.innertube {
	margin: 1em;
	/*Margins for inner DIV inside each DIV (to provide padding)*/
}

.logo {
	max-height: 50px;
	height: 50px;
	width: 200px;
	text-align: center;
	float: left;
}

.view {
/* 	position:static; */
/* 	right:1em; */
	float: right;
/* 	padding-top: 10px; */
	margin: 10px;
}

.project_name {
	/* 	font-size: 1.5em; */
	font-weight: bold;
	margin-left: 12%;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

.generalButton {
	/* 	margin: 1em 0.5em 0 0; */
	font-size: 0.8em;
	color: black;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
	padding: 2px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.generalButton:hover {
	background-color: white;
}

.priorityButton {
	/* 	font-size: 0.8em; */
	color: white;
	width: auto;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.priorityButton:hover {
	background-color: FireBrick;
}

.required {
	font-weight: bold;
}

/**************** Table CSS *******************/
table#data a:link {
	font-weight: bold;
}

table#data a:active,table a:hover {
	color: Firebrick;
}

table#data {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	background-color: #eaebec;
	border-spacing: 0;
	overflow-x: auto;
	clear:both;
}

table#data th {
	height: 0.2em;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
}

table#data th:first-child {
	text-align: left;
	padding-left: 20px;
}

table#data tr {
	text-align: center;
}

table#data tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#data tr td {
	padding: 0.3em;
	padding-left: 1.5em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}

table#data tr:last-child td {
	border-bottom: 0;
}

table#data tr:hover td {
	background-color: #f2f2f2;
}

table#data tr.selected:hover td {
	background-color: LightSteelBlue;
}
/***************************************************/
.generalInput {
	background: LightGray;
}

.generalInput.hide2 {
	position: relative;
	filter: alpha(opacity : 0);
	width: 9.7em;
	cursor: pointer;
}

.generalInput.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
}

/*
 * Layout configurations
 */

.layout-outer {
/* 	height: 100%; */
}

.west, .east {
/* 	width: 8%; */
}

.north, .south {
/* 	height: 10%; */
}

/**
 * To get correct percentages widths and heights in the inner layout
 * you have to set the container to take up all space that's left after
 * the outer columns east, west, north and south components. In this case:
 *  width = 100% - 8% - 8% = 84%
 *  height = 100% - 10% - 10% = 80%
 */
 
.layout-inner {
/* 	width: 84%; */
/* 	height: 80%; */
	background-color: white;
	border: 0px;
}

.layout-inner .west, .layout-inner .east {
	width: 25%;
}

.layout-inner .south, .layout-inner .north {
	height: 20%;
}

/*
 * These styles are to create custom resize handles.
 */
.ui-resizable-handle {
	/* 	background-color: rgb(220, 220, 220); */
	text-align: center;
}

.ui-resizable-w,.ui-resizable-e {
/* 	width: 8px; */
	border-left: 2.5px solid black;
}

.ui-resizable-w {
/* 	left: -6px; */
}

.ui-resizable-e {
/* 	right: -6px; */
}

.ui-resizable-n,.ui-resizable-s {
	height: 0px;
	border-top: 2.5px solid black;
}

.ui-resizable-n {
/* 	top: -6px; */
}

.ui-resizable-s {
/* 	bottom: -6px; */
}

.ui-resizable-helper-west {
	border-right: 2px solid black;
}

.ui-resizable-helper-east {
	border-left: 2px solid black;
}

.ui-resizable-helper-north {
	border-bottom: 2px solid black;
}

.ui-resizable-helper-south {
	border-top: 2px solid black;
}