/* CSS Document */
html {
	width: 97%;
	height: 95%;
	margin: 10px auto;
	padding: 0;
	text-align: left;
	background-color: #F0F0F0;
}

body {
	width: 97%;
	height: 95%;
	margin: 10px auto;
	padding: 0;
	text-align: left;
	background: White;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 0.75em;
}

img{
	border: none;
}

a{
	border: none;
}

a:hover {
	color: Firebrick;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

#framecontentLeft {
	position: absolute;
	top: 50px;
	bottom: 0; /*Set bottom value to HeightOfBottomFrameDiv*/
	left: 0;
	width: 25%; /*Width of left frame div*/
	/*height: 100%;*/
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: white;
	padding: 10px;
}

#framecontentTop {
	position: absolute;
	top: 0;
	left: 0; /*Set left value to WidthOfLeftFrameDiv*/
	/* 	right: 0; */
	margin-right: 10px;
	height: 50px; /*Height of top frame div*/
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: white;
}

#framecontentBottom {
	position: absolute;
	top: auto;
	left: 0; /*Set left value to WidthOfLeftFrameDiv*/
	bottom: 0;
	right: 0;
	height: 0; /*Height of bottom frame div*/
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: white;
}

#maincontent {
	position: absolute;
	top: 50px; /*Set top value to HeightOfTopFrameDiv*/
	left: 25%; /*Set left value to WidthOfLeftFrameDiv*/
	right: 0;
	bottom: 0; /*Set bottom value to HeightOfBottomFrameDiv*/
	overflow: auto;
	background: #fff;
	margin-right: 10px;
	padding-left: 10px;
	background: white;
}

.innertube {
	margin: 1em;
	/*Margins for inner DIV inside each DIV (to provide padding)*/
}

.logo {
	max-height: 50px;
	height: 50px;
	width: 200px;
	text-align: center;
	float: left;
}

.view {
	float: right;
	padding-top: 10px;
	padding-right: -10px;
}

.project_name {
	/* 	font-size: 1.5em; */
	font-weight: bold;
	margin-left: 12%;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

.generalButton {
	/* 	margin: 1em 0.5em 0 0; */
	font-size: 0.8em;
	color: black;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
	padding: 2px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.generalButton:hover {
	background-color: white;
}

.priorityButton {
	/* 	font-size: 0.8em; */
	color: white;
	width: auto;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.priorityButton:hover {
	background-color: FireBrick;
}

.required {
	font-weight: bold;
}

/**************** Table CSS *******************/
table#data a:link {
	font-weight: bold;
}

table#data a:active,table a:hover {
	color: Firebrick;
}

table#data {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	background-color: #eaebec;
	border-spacing: 0;
	overflow-x: auto;
}

table#data th {
	height: 0.2em;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
}

table#data th:first-child {
	text-align: left;
	padding-left: 20px;
}

table#data tr {
	text-align: center;
}

table#data tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#data tr td {
	padding: 0.3em;
	padding-left: 1.5em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}

table#data tr:last-child td {
	border-bottom: 0;
}

table#data tr:hover td {
	background-color: #f2f2f2;
}

table#data tr.selected:hover td {
	background-color: LightSteelBlue;
}
/***************************************************/
.generalInput {
	background: LightGray;
}

.generalInput.hide2 {
	position: relative;
	filter: alpha(opacity :       0);
	width: 9.7em;
	cursor: pointer;
}

.generalInput.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity :       0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
}

/*
* Layout configurations
* These styles are to create custom resize handles.
*/
.ui-resizable-handle {
	/* 	background-color: rgb(220, 220, 220); */
	text-align: center;
}

.ui-resizable-w,.ui-resizable-e {
	width: 8px;
	border-left: 3px solid black;
	/* 	border-right: 3px solid black; */
}

.ui-resizable-w {
	left: -6px;
}

.ui-resizable-e {
	right: -6px;
}

.ui-resizable-n,.ui-resizable-s {
	height: 8px;
	border-top: 3px solid black;
	/* 	border-bottom: 3px solid black; */
}

.ui-resizable-n {
	top: -6px;
	/* 	background: */
}

.ui-resizable-s {
	bottom: -6px;
}

.ui-resizable-helper-west {
	border-right: 3px solid black;
}

.ui-resizable-helper-east {
	border-left: 3px solid black;
}

.ui-resizable-helper-north {
	border-bottom: 3px solid black;
}

.ui-resizable-helper-south {
	border-top: 3px solid black;
}