/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
} /* Reset default margin and padding for all element */
header,section,footer,aside,nav,article,hgroup {
	display: block;
} /* For html5 unsupported browsers */

html, body, #mainContainer { height: 100%; }
#mainContainer{height: auto; min-height: 100%; }
/* .layout-outer {padding-bottom: 110px;} */
	
/* body > #mainContainer { height: auto; min-height: 100%; } */
/* section, aside { height: auto; min-height: 100%;} */
a{
	color:#000000;
	text-decoration:none;
	border:none;
}
img{
	border: none;
}
a:hover {
	/* color: Firebrick; */
}

.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}

textarea {
	padding: 4px;
	resize: vertical;
	background: #F2F2F2;
	max-height: 30em;
	width: 26em;
	height: 20em;
	font-size: 0.9em;
}

/* HEADER */
header {
	/* height: 100px; */
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	
	margin-bottom: 2px;
}

header #headerMainContainer{
	width:100%;
	height:50px;
	padding: 10px 0px 10px 0px;
}
header #headerLogoContainer{
	float:left;
}

header #projectName{
	font-size:1.6em;
	float:left;
	padding-top:10px;
	color:#6e6e6e;
}
header #backToProject{
	/* float:right; */
	color:#6e6e6e;
	/* padding:25px 30px 0px 0px; */
}
header #headerLine{
	width:100%;
	height:10px;
	background: #d2a7a7; /* Old browsers */
	background: -moz-linear-gradient(left, #d2a7a7 0%, #820808 50%, #d2a7a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d2a7a7), color-stop(50%,#820808), color-stop(100%,#d2a7a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* IE10+ */
	background: linear-gradient(to right, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2a7a7', endColorstr='#d2a7a7',GradientType=1 ); /* IE6-9 */
}
header .logo{
	max-height:40px;
	margin: 2px 10px 0px 20px;
}

header #headerRightContainer{
	float: right;
	padding: 25px 20px 0px 0px;
	color:#6e6e6e;
}
header .headerLink{
	text-decoration: none;
	/* color: #6F3232; */
	color: firebrick;
}
header .headerLinkSelected{
	color: #000000;
	font-weight: bold;
}
header #tube{
	margin: 0px 15px;
}

/* ASIDE (BOTTOM MENU) */
aside {
	height: 68px;
/*  	background: #e3e3e3; Old browsers
	background: -moz-linear-gradient(top, #e3e3e3 0%, #cccccc 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#cccccc)); Chrome,Safari4+
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); Opera 11.10+
	background: -ms-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); IE10+
	background: linear-gradient(to bottom, #e3e3e3 0%,#cccccc 100%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#cccccc',GradientType=0 ); IE6-9
	
	padding-left: 20px; */
	
	/* display: -webkit-box;      OLD - iOS 6-, Safari 3.1-6
  	display: -moz-box;         OLD - Firefox 19- (buggy but mostly works)
  	display: -ms-flexbox;      TWEENER - IE 10
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;*/ 
} 

/* FOOTER */
footer{
 	clear: both;
 	position: relative;
 	z-index: 10;
 	height: 110px;
 	
 	/* This shoulb be uncommented if we want the footer to be displayed initially*/ 
 	/* margin-top: -110px;  */
}
footer #footerLine{
	height:6px;
	background-color: #cccccc;
}
footer #footerMainContainer{
	width: 100%;
	height: 100px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
footer #footerLeftContainer{
	width: 50%;
	float:left;
	padding: 20px 0px 0px 20px;	
}
footer #footerLogoContainer{
	
	
}
footer #footerRightContainer{
	float: right;
	padding: 50px 20px 0px 0px;
}
footer #footerText{
	display: block;
	color: #6e6e6e;
}
footer #tube{
	color: #6e6e6e;
}
footer .footerLink{
	text-decoration: none;
	margin: 0px 15px;
	/* color: #6F3232; */
	color: firebrick;
}
footer .logo{
	max-height:40px;
}



.project_name {
	/* 	font-size: 1.5em; */
	font-weight: bold;
	margin-left: 12%;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

/* .generalButton {
		margin: 1em 0.5em 0 0;
	font-size: 0.8em;
	color: black;
	height: 2em;
	background-color: LightGray;
		border: 1px solid #000066;
	padding: 2px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.generalButton:hover {
	background-color: white;
}

.priorityButton {
	color: white;
	width: auto;
	height: 25px;
	background-color: DarkRed;
	background-color: FireBrick;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.priorityButton:hover {
	background-color: FireBrick;
} */

.required {
	font-weight: bold;
}
.generalInput {
	background: #f2f2f2;
}

.generalInput.hide2 {
	position: relative;
	filter: alpha(opacity : 0);
	width: 9.7em;
	cursor: pointer;
}

.generalInput.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
}
/**************** Table CSS *******************/
table#data a:link {
	font-size: 0.85em;
}

table#data a:active,table a:hover {
	color: Firebrick;
}

table#data {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	/* background-color: #eaebec; */
	border-spacing: 0;
	overflow-x: auto;
	clear:both;
}

table#data th {
	font-size: 1em;
	background-color: #eaebec;
	padding: 3px 0px
}

table#data th:first-child {
	text-align: left;
	padding-left: 20px;
}

table#data tr {
	text-align: center;
}

table#data tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#data tr td {
	padding: 0.3em 0.3em 0.3em 1.5em;
}

table#data tr:last-child td {
	border-bottom: 0;
}

table#data tr:hover td {
	background-color: #f2f2f2;
}
table#data tr.selected td{
	background-color: #F3CBCB;
	font-weight: bold;
}

table#data tr.selected:hover td {
	/* background-color: LightSteelBlue; */
}
table#data tr:nth-child(odd) {
	background-color: #EAEBFF;
}	
table#data tr:nth-child(even) {
	background-color: #FFF;
}
/* ICONS */


/* BUTTONS */
.buttonGrey {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 19px;
    border: 0px solid #727272;
    border-radius: 0px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#c2c2c2));
    background: -moz-linear-gradient(top, #f0f0f0, #c2c2c2);
    background: linear-gradient(to bottom, #f0f0f0, #c2c2c2);
    -webkit-box-shadow: #c4c4c4 0px 0px 0px 0px;
    -moz-box-shadow: #c4c4c4 0px 0px 0px 0px;
    box-shadow: #c4c4c4 0px 0px 0px 0px;
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal normal 16px arial;
    color: #383838;
    text-decoration: none;
}
.buttonGrey:hover,
.buttonGrey:focus, .buttonGreyHovered {
    border: 0px solid #a3a3a3;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
    background: -moz-linear-gradient(top, #ffffff, #e9e9e9);
    background: linear-gradient(to bottom, #ffffff, #e9e9e9);
    color: #383838;
    text-decoration: none;
}
.buttonGrey:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#c2c2c2));
    background: -moz-linear-gradient(top, #909090, #c2c2c2);
    background: linear-gradient(to bottom, #909090, #c2c2c2);
}

.buttonRed {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 19px;
    border: 0px solid #802a2a;
    border-radius: 0px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#f04e4e), to(#802a2a));
    background: -moz-linear-gradient(top, #f04e4e, #802a2a);
    background: linear-gradient(to bottom, #f04e4e, #802a2a);
    -webkit-box-shadow: #ff5e5e 0px 0px 0px 0px;
    -moz-box-shadow: #ff5e5e 0px 0px 0px 0px;
    box-shadow: #ff5e5e 0px 0px 0px 0px;
    text-shadow: #4b1919 1px 1px 1px;
    font: normal normal normal 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.buttonRed:hover,
.buttonRed:focus {
    border: 0px solid #963131;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5e5e), to(#9a3232));
    background: -moz-linear-gradient(top, #ff5e5e, #9a3232);
    background: linear-gradient(to bottom, #ff5e5e, #9a3232);
    color: #ffffff;
    text-decoration: none;
}
.buttonRed:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#802a2a), to(#802a2a));
    background: -moz-linear-gradient(top, #802a2a, #802a2a);
    background: linear-gradient(to bottom, #802a2a, #802a2a);
}

/* TOOLBAR*/
#toolbar{
	font-size: 0.9em;
	margin: 3px 0px 7px 5px ;
}
#toolbar a {
	margin-right: 7px;
}

#toolbar a:hover {
	color: FireBrick;
}



span #analyzeTool{
	float: right;
	margin: 0.5em 0.5em 0em 0em;
/* 	background-color: #f2f2f2; */
	width: 10em;
	height:1.4em;
	font-weight:bold;
	text-align: center;
	color:white;
    border-radius: 5px;
	border: 1px solid #727272;
	background: Firebrick;
/*     background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#c2c2c2)); */
/*     background: -moz-linear-gradient(top, #f0f0f0, #c2c2c2); */
/*     background: linear-gradient(to bottom, #f0f0f0, #c2c2c2); */
/*     -webkit-box-shadow: #c4c4c4 0px 0px 0px 0px; */
/*     -moz-box-shadow: #c4c4c4 0px 0px 0px 0px; */
/*     box-shadow: #c4c4c4 0px 0px 0px 0px; */
/*     text-shadow: #ffffff 1px 1px 1px; */
}

span #analyzeTool:hover{
	background: white;
}






