/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
} /* Reset default margin and padding for all element */
header,section,footer,aside,nav,article,hgroup {
	display: block;
} /* For html5 unsupported browsers */

html, body, #mainContainer { height: 100%; }
/* body > #mainContainer { height: auto; min-height: 100%; } */

html  {	
	
}

body {	

}
a{
	color:#000000;
	text-decoration:none;
	border:none;
}
img{
	border: none;
}
a:hover {
	/* color: Firebrick; */
}

/* HEADER */
header {
	/* height: 100px; */
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	
	margin-bottom: 2px;
}

header #headerMainContainer{
	width:100%;
	height:50px;
	padding: 10px 0px 10px 0px;
}
header #headerLogoContainer{
	float:left;
}

header #projectName{
	font-size:1.7em;
	float:left;
	padding-top:10px;
	color:#707070
}
header #backToProject{
	float:right;
	color:#6e6e6e;Copy of general_style.css
	padding:25px 30px 0px 0px;
}
header #headerLine{
	width:100%;
	height:10px;
	background: #d2a7a7; /* Old browsers */
	background: -moz-linear-gradient(left, #d2a7a7 0%, #820808 50%, #d2a7a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d2a7a7), color-stop(50%,#820808), color-stop(100%,#d2a7a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* IE10+ */
	background: linear-gradient(to right, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2a7a7', endColorstr='#d2a7a7',GradientType=1 ); /* IE6-9 */
}
header .logo{
	max-height:40px;
	margin: 2px 10px 0px 20px;
}

header #headerRightContainer{
	float: right;
	padding: 25px 30px 0px 0px;
	color:#6e6e6e;
}
header .headerLink{
	text-decoration: none;
	margin: 0px 15px;
	color: #6F3232;
}
header .headerLinkSelected{
	color: #000000;
}

/* FOOTER */
footer{
	clear: both;
 	position: relative;
 	z-index: 10;
 	height: 110px;
 	
 	/* This shoulb be uncommented if we want the footer to be displayed initially*/ 
 	/* margin-top: -110px; */
}
footer #footerLine{
	height:6px;
	background-color: #cccccc;
}
footer #footerMainContainer{
	width: 100%;
	height: 100px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
footer #footerLeftContainer{
	width: 50%;
	float:left;
	padding: 20px 0px 0px 20px;	
}
footer #footerLogoContainer{
	
	
}
footer #footerRightContainer{
	float: right;
	padding: 50px 20px 0px 0px;
}
footer #footerText{
	display: block;
	color: #4c4c4c;
}
footer #tube{
	color: #9c9c9c
}
footer .footerLink{
	text-decoration: none;
	margin: 0px 15px;
	color: #6F3232;
}
footer .logo{
	max-height:40px;
}

/* MAIN SECTION */
/* #mainSection {
	padding-bottom: 110px;
} */

.project_name {
	/* 	font-size: 1.5em; */
	font-weight: bold;
	margin-left: 12%;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

.generalButton {
	/* 	margin: 1em 0.5em 0 0; */
	font-size: 0.8em;
	color: black;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
	padding: 2px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.generalButton:hover {
	background-color: white;
}

.priorityButton {
	/* 	font-size: 0.8em; */
	color: white;
	width: auto;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.priorityButton:hover {
	background-color: FireBrick;
}

.required {
	font-weight: bold;
}

/**************** Table CSS *******************/
table#data a:link {
	font-weight: bold;
}

table#data a:active,table a:hover {
	color: Firebrick;
}

table#data {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	background-color: #eaebec;
	border-spacing: 0;
	overflow-x: auto;
	clear:both;
}

table#data th {
	height: 0.2em;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
}

table#data th:first-child {
	text-align: left;
	padding-left: 20px;
}

table#data tr {
	text-align: center;
}

table#data tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#data tr td {
	padding: 0.3em;
	padding-left: 1.5em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}

table#data tr:last-child td {
	border-bottom: 0;
}

table#data tr:hover td {
	background-color: #f2f2f2;
}

table#data tr.selected:hover td {
	background-color: LightSteelBlue;
}
/***************************************************/
.generalInput {
	background: LightGray;
}

.generalInput.hide2 {
	position: relative;
	filter: alpha(opacity : 0);
	width: 9.7em;
	cursor: pointer;
}

.generalInput.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
}

/*
 * Layout configurations
 */

.layout-outer {
/* 	height: 100%; */
}

.west, .east {
/* 	width: 8%; */
}

.north, .south {
/* 	height: 10%; */
}

/**
 * To get correct percentages widths and heights in the inner layout
 * you have to set the container to take up all space that's left after
 * the outer columns east, west, north and south components. In this case:
 *  width = 100% - 8% - 8% = 84%
 *  height = 100% - 10% - 10% = 80%
 */
 
/* .layout-inner {
	width: 84%;
	height: 80%;
	background-color: white;
	border: 0px;
}

.layout-inner .west, .layout-inner .east {
	width: 25%;
}

.layout-inner .south, .layout-inner .north {
	height: 20%;
}
 */
/*
 * These styles are to create custom resize handles.
 */
.ui-resizable-handle {
	/* 	background-color: rgb(220, 220, 220); */
	text-align: center;
}

.ui-resizable-w,.ui-resizable-e {
/* 	width: 8px; */
	/* border-left: 2.5px solid black; */
}

.ui-resizable-w {
/* 	left: -6px; */
}

.ui-resizable-e {
/* 	right: -6px; */
}

.ui-resizable-n,.ui-resizable-s {
	height: 0px;
	/* border-top: 2.5px solid black; */
}

.ui-resizable-n {
/* 	top: -6px; */
}

.ui-resizable-s {
/* 	bottom: -6px; */
}
/* .layout-inner {
	width: 84%;
	height: 80%;
	background-color: white;
	border: 0px;
}

.layout-inner .west, .layout-inner .east {
	width: 25%;
}

.layout-inner .south, .layout-inner .north {
	height: 20%;
}
 */
.ui-resizable-helper-west {
	border-right: 2px solid black;
}

.ui-resizable-helper-east {
	border-left: 2px solid black;
}

.ui-resizable-helper-north {
	border-bottom: 2px solid black;
}

.ui-resizable-helper-south {
	border-top: 2px solid black;
}