/* CSS Document */

/* GENERAL */
html, body {	
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}


/* FLEX DESIGN */
.layout-outer {
 	height: 110%;
	min-height: 110%; 
}
.center, .west, .north, .south {
    display: inline-block;
}

.center {
	min-width: 20em;
}

