/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
} /* Reset default margin and padding for all element */
header,section,footer,aside,nav,article,hgroup {
	display: block;
} /* For html5 unsupported browsers */

html, body, #mainContainer { height: 100%; }
#mainContainer{height: auto; min-height: 100%; }
/* .layout-outer {padding-bottom: 110px;} */
	
/* body > #mainContainer { height: auto; min-height: 100%; } */
/* section, aside { height: auto; min-height: 100%;} */
a{
	color:#000000;
	text-decoration:none;
	border:none;
}
img{
	border: none;
}
a:hover {
	/* color: Firebrick; */
}

.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}

/* HEADER */
header {
	/* height: 100px; */
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	
	margin-bottom: 2px;
}

header #headerMainContainer{
	width:100%;
	height:50px;
	padding: 10px 0px 10px 0px;
}
header #headerLogoContainer{
	float:left;
}

header #projectName{
	font-size:1.6em;
	float:left;
	padding-top:10px;
	color:#707070
}
header #backToProject{
	/* float:right; */
	color:#6e6e6e;
	/* padding:25px 30px 0px 0px; */
}
header #headerLine{
	width:100%;
	height:10px;
	background: #d2a7a7; /* Old browsers */
	background: -moz-linear-gradient(left, #d2a7a7 0%, #820808 50%, #d2a7a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d2a7a7), color-stop(50%,#820808), color-stop(100%,#d2a7a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* IE10+ */
	background: linear-gradient(to right, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2a7a7', endColorstr='#d2a7a7',GradientType=1 ); /* IE6-9 */
}
header .logo{
	max-height:40px;
	margin: 2px 10px 0px 20px;
}

header #headerRightContainer{
	float: right;
	padding: 25px 20px 0px 0px;
	color:#6e6e6e;
}
header .headerLink{
	text-decoration: none;
	color: #6F3232;
}
header .headerLinkSelected{
	color: #000000;
	font-weight: bold;
}
header #tube{
	margin: 0px 15px;
}

/* ASIDE (BOTTOM MENU) */
aside {
	height: 68px;
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e3e3e3 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	
	padding-left: 20px;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* FOOTER */
footer{
 	clear: both;
 	position: relative;
 	z-index: 10;
 	height: 110px;
 	
 	/* This shoulb be uncommented if we want the footer to be displayed initially*/ 
 	/* margin-top: -110px;  */
}
footer #footerLine{
	height:6px;
	background-color: #cccccc;
}
footer #footerMainContainer{
	width: 100%;
	height: 100px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
footer #footerLeftContainer{
	width: 50%;
	float:left;
	padding: 20px 0px 0px 20px;	
}
footer #footerLogoContainer{
	
	
}
footer #footerRightContainer{
	float: right;
	padding: 50px 20px 0px 0px;
}
footer #footerText{
	display: block;
	color: #4c4c4c;
}
footer #tube{
	color: #9c9c9c
}
footer .footerLink{
	text-decoration: none;
	margin: 0px 15px;
	color: #6F3232;
}
footer .logo{
	max-height:40px;
}

.project_name {
	/* 	font-size: 1.5em; */
	font-weight: bold;
	margin-left: 12%;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

.generalButton {
	/* 	margin: 1em 0.5em 0 0; */
	font-size: 0.8em;
	color: black;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
	padding: 2px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

.generalButton:hover {
	background-color: white;
}

.priorityButton {
	/* 	font-size: 0.8em; */
	color: white;
	width: auto;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.priorityButton:hover {
	background-color: FireBrick;
}

.required {
	font-weight: bold;
}
.generalInput {
	background: LightGray;
}

.generalInput.hide2 {
	position: relative;
	filter: alpha(opacity : 0);
	width: 9.7em;
	cursor: pointer;
}

.generalInput.hide {
	position: fixed;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	margin: 0.5em;
	width: 1.5em;
	height: 2em;
	cursor: pointer;
}
/**************** Table CSS *******************/
table#data a:link {
	/* font-weight: bold; */
	font-size: 0.85em;
}

table#data a:active,table a:hover {
	color: Firebrick;
}

table#data {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	background-color: #eaebec;
	border-spacing: 0;
	overflow-x: auto;
	clear:both;
}

table#data th {
	font-size: 1em;
	background-color: #eaebec;
	padding: 3px 0px
}

table#data th:first-child {
	text-align: left;
	padding-left: 20px;
}

table#data tr {
	text-align: center;
}

table#data tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#data tr td {
	padding: 0.3em 0.3em 0.3em 1.5em;
}

table#data tr:last-child td {
	border-bottom: 0;
}

table#data tr:hover td {
	background-color: #f2f2f2;
}
table#data tr.selected td{
	background-color: #F3CBCB;
	font-weight: bold;
}

table#data tr.selected:hover td {
	background-color: LightSteelBlue;
}
table#data tr:nth-child(odd) {
	background-color: #EAEBFF;
}	
table#data tr:nth-child(even) {
	background-color: #FFF;
}
/* ICONS */


/* BUTTONS */
.buttonGrey {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 19px;
    border: 0px solid #727272;
    border-radius: 0px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#c2c2c2));
    background: -moz-linear-gradient(top, #f0f0f0, #c2c2c2);
    background: linear-gradient(to bottom, #f0f0f0, #c2c2c2);
    -webkit-box-shadow: #c4c4c4 0px 0px 0px 0px;
    -moz-box-shadow: #c4c4c4 0px 0px 0px 0px;
    box-shadow: #c4c4c4 0px 0px 0px 0px;
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal normal 16px arial;
    color: #383838;
    text-decoration: none;
}
.buttonGrey:hover,
.buttonGrey:focus, .buttonGreyHovered {
    border: 0px solid #a3a3a3;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
    background: -moz-linear-gradient(top, #ffffff, #e9e9e9);
    background: linear-gradient(to bottom, #ffffff, #e9e9e9);
    color: #383838;
    text-decoration: none;
}
.buttonGrey:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#c2c2c2));
    background: -moz-linear-gradient(top, #909090, #c2c2c2);
    background: linear-gradient(to bottom, #909090, #c2c2c2);
}
/* .btnClose:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAE/0lEQVRIiZVVUU/bVhQ+5+ZeN4Rwk0aoJbaLQkWTOI4DTYEM0ZepqqaqqtDUhz3vYb9tPwBV1dTtZQ972ENUSJzQULKSOAatYBUT0Tb27D3EJh5LJ+0++Urn+3zPOd85H0BwstnbtFQq0OBK8vllQZZFAgDAGCOVSllIpTgBAOCck9VVTaCUkjF24YtYAgAgy2J8cfFO4uCg6yEiUVUlwRilg4EJjDFSra5wy7Lg/Nz2OJ+jmqbwbved67quN8bK17CMDgbHEIvFCGSzt2mttsYZYwQAiKoqvFxW0gBAGGOkVlublyQxPn75HH348KtbnHMKACBJYrxWW5ufYIv/wK6vVwUolQo0DCiXlbSqjgNu3LiR3Nh4sByQkwn5HAUAEpJzzudnZuLJKDZ4WFqSRIoAAIhISqViEgCg1dofzszMLGpa+RWlNNPpHDz7/Pnz75pWyjQaLcu2bVeWxbgkiUnDMIu5XG4HAE5t+3y72WztU0qhWl3JDAbm0DDMTxiUJYEItNls24lEYlHTyr8wxu76PgCAb3veX9/peutn275wJUmMy/IV+QtE5AAAo5HzttN587hQuDc0DHM4GJifZmdnCebzywJjlOr6/idBEOL376/uMsaWAXwAQAAA8H3/Q6dz8EQQ2OuAPJ/L5V6G5GEsInZ7vaMHR0d9m3NOVLVI6eXlpTsYmC5jDFZXtflYLJbwfQBEDBUMiJjO5++9RPR/6PWMYS6X+zEkj8Y6jiMcH5+MOJ8jmqbwRqP1AUOdV6srGcMwh7Zt31VV9RWlVIy+bnKi98m367qmruuPEPFtpaJm9vZalm3bHgl1HtRthEg6hMBz13XN/0PebOpfI5KAXLds2/ay2QXASqUsWJYFhmGOxkOkZhoN3fJ9P69p2itCiBj04aoU47JASG7ouv4YEd9OlHbhyrIoZLMLhBwd9VzDMF3O52ilol4FcM67AN73AOAB+JGe+BBpj9fpdL4Ny9JotC3bvvAkaSzj168bIxKMP4mmFkqx1zPA930yrSxBViSVSmWuYQVZFpP1+u4Hx3EAOedBx9vD6BD1+2Ypl8vtEBJVS6Qbk7vd7/efHR31fg2x9fqu5bouFIt5gqurmtDtvnNt+wLCv/f7ZnFpaTJE18+/f+bbp6en2+k0b9bru5bjOKCqSsLzvBFSSonrulHy0tJSbuf6EAXHhfEGJtMyOTw8fHp8fPJbuaxw3wdP19tDBBiva0kSk+12Z6Rp5T8QMTNFLWa7vf8snU7RxcXFHd/3b13PxPP808vL4YrjOMNWa39ICAGSzS5QSRKFen3X+vjx4wgAeiEgSq7r+mPf9/bu3BHfHR4efuO67kmUHMCHWIyYjuOMdL09DJYeJTdvpqBe3x06jgOFwnLcts+fO45Tv6rJeIgeIWInVItpHu+9f//+CSL8GZIj4t7Z2em2rrctxhhUqyvcNE+8yLoucAD0Wq39YSqVmte08k+O46R1XX+KSDqapgQ6nyjt4KC7kM/fe8EYtc7Ozrbb7TfG9XUNMF7XySkuxgkh8S8ZTWhSmqbeUlUlA1MccHZ2lkA+vyyoqpKYEvBFF5vmgNOwm5sbcZBlkSDilc3Jcui/nG5t1TKh/8qyKNRqaxnGGAnMPamqCp+OnaNbW7U053NjOcdihKyvVwVJEmmY2ubmRjwIINnsAllfr8bDlytKgSpKQQAAEovF/gsLfwMPAHt3yAVyhwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}
.btnSave:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -3px;
    left: -1px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAFYElEQVRIiYVVTW/bRhCdXe4yCiUtGeXDEknHluNIoSjJtmrFTpoEySUIeujv6KE9tT0X/Q1F0VuBAs2xh6LopYcGLXowkEapv6Q4Caw4FeXPyNKKUWyRJnuQaDuOne6Jg9n3MPN25hGgfxKJAZLJpEk/xKnUqKjrKgYAoJTifD4ryjLDAACMMTw+nhMJIbiHjZ+IxQAAuq6GLl4clJ49W/YQQtg0DYlSQiyrDpRSXCiMsUajAa0W9xiLklzOYMvLL1zXdb0eVj+CpcSyVkEQBAyJxACZmppklFIMANg0DZbNGgoAYEopnpqaPKdpaqhXeZTcuDF9gTFGAAA0TQ1NTU2eO8BeeQtbLBZEyGTSJLiQzRqKaR5Ljg/IowQA8FHyY7CKpqk92fqtMdM0GEJon1zXg8oZ+fDDg8p1/YD8/7DQlyWSzRoKQggbhvHJnTt3HkxPT337tizRd2RhjI3fvHnjm2w2Ez9O0nA4jHEqNUoAfG9hocIVRbly6dLId+Fw+DZCOMsYI/m8GZubW2xw3vauX7/+x8TExJvtbf6Z4zgwPHwxLsvKp4oS+0GSJKlQGIvVanXbsurdPlbEnU7HLZef7FBKwTBSowAIEEIgSadxLpeJzc2VG5y3XV1XRVlmYpA3TSMSiYRFAABFUe7eunXzl7W1dbCs+g5jUZzLGWxxsdLFtVrdI4RCoTAWs+3XXYQQ+L4PgiDg+flyg3PuaZoa0jQ18vp1p4sQgsFBTUII8NOnz3lPZR8IobcHB4fux2Ixls+bsfn5Cue83dOtUBhjvdZWd3zfBwAf2m3b7ZOLuq5GSqXZRqPR+Gdvz53Z2NhcWlio7JMHXSmKcnd6+ur9nqTcSyTiQAwjTSyr3rGsejcej+MAoChKKpfLfa2qccmy6nYymYRTp0S72939a3e3O5hKpb4aGLiQCciDwjAmHwWSJhJxjGSZ4VaLA2NRPDlZ+FiSoj8dBgAgOHxOzh10Uio9Oq3rqlQqzTZxf/1xPm/GqtUVfpQAIXQi+UHuIPZ9H/qSNh3HAcIYw7mcEZmbKzcope7R6noxHPo+mns3LpVmG67rgmGkMRkZGSLz82XOeRuSyWESAHZ3d5++eWN/yXm7a1mrO5RSnMmklWp1hXPedhmLkmRyiJXLS01BEEITExO/BljHccA0DcnzvC5eWKi4nLdB01QxmRxiQauUksb2dvPPlZV/1xACGBkZimxtvepw3nYppTiZHGLV6gpvtVrLAP7vh2XKZg0GALhSWXJJYLmapkbK5aVmsVgE3/eh3ba75fITnkwmC5cvXzJrtbrtOA4kk8NElplYq9U7lIqQSo2SUOiUfVgm3wevXH5iC4IAJJGIE01TxVJptsEY8wLNXdcFQgioavwDADTOGHMBAKLRCNnb2/NisZjXe2Rv/eHDR7/du5fYf6/FxYpNKYXx8RwhZ87IUCrN2o7jgKYlQsG0UNrb7mr1xec9b+lN2szMTIPz9lsL6DjOPvkhLKvV6jYK7DqTSTNZlm+dPXvh516b/hbnze/X1zd3EEKg66rUavFu/w1A19WIZdXtbtcBxqJSPJ74Ipi2zc2185ZVt2u1+g7q27WEEJC1tY3x6elrD47O9fuW6nDlwd3Hjx+ftqz6ziG7Bm9hocJdd+85gN85jvykpTpKvrvb/bsvKcnnTRHpuootaxUIIVAojLFmk1/xfbjLWJTKsizWataO7/swMHCe+L6PNza2AkcNbW83u+227YkiBU1TQ7Va/dXLly9/RAg2crlMZH6+3DNEQcC4WCyIwT80HA7ja9euhhiLYgDAiUQcF4uFUPD/NYw0MYy0CABYEIT3YeE/nCeamCFYll4AAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}*/

.buttonRed {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 19px;
    border: 0px solid #802a2a;
    border-radius: 0px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#f04e4e), to(#802a2a));
    background: -moz-linear-gradient(top, #f04e4e, #802a2a);
    background: linear-gradient(to bottom, #f04e4e, #802a2a);
    -webkit-box-shadow: #ff5e5e 0px 0px 0px 0px;
    -moz-box-shadow: #ff5e5e 0px 0px 0px 0px;
    box-shadow: #ff5e5e 0px 0px 0px 0px;
    text-shadow: #4b1919 1px 1px 1px;
    font: normal normal normal 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.buttonRed:hover,
.buttonRed:focus {
    border: 0px solid #963131;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5e5e), to(#9a3232));
    background: -moz-linear-gradient(top, #ff5e5e, #9a3232);
    background: linear-gradient(to bottom, #ff5e5e, #9a3232);
    color: #ffffff;
    text-decoration: none;
}
.buttonRed:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#802a2a), to(#802a2a));
    background: -moz-linear-gradient(top, #802a2a, #802a2a);
    background: linear-gradient(to bottom, #802a2a, #802a2a);
}

/* TOOLBAR*/
#toolbar{
	font-size: 0.9em;
	margin: 3px 0px 7px 5px ;
}
#toolbar a {
	margin-right: 7px;
}









