/* Messi CSS */
.messi-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	opacity: 0
}

.messi {
	position: absolute;
	padding: 0;
	margin: 0;
	text-shadow: none
}

.messi-box {
	position: relative;
	padding: 1px;
	overflow: hidden;
	background-color: black;
	border-radius: 6px;
	opacity: 1;
	box-shadow: 0 0 1em #444
}

.messi-wrapper {
	position: relative;
	background-color: #fff;
	border-radius: 5px
}

.messi-titlebox {
	padding: 2px;
	overflow: hidden;
	text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 5px;
	background: DarkRed;
	color: white;
	border-left: 2.5px solid FireBrick;
	border-top: 2.5px solid FireBrick;
	font-size: 0.9em;
	font-weight: bold;
	background: DarkRed;
}

.messi-titlebox.info {
	background-color: #4ea5cd;
	background-image: none
}

.messi-titlebox.error {
	background-color: #de4343;
	background-image: none
}

.messi-titlebox.warning {
	background-color: #eaaf51;
	background-image: none
}

.messi-titlebox.success {
	background-color: #61b832;
	background-image: none
}

.btn-close {
	background: url(../../../resources/dialog_close.png) 0.5em no-repeat;
	background-size: 20%;
	font-size: 0.8em;
	color: black;
	width: 6.3em;
	height: 2em;
	background-color: LightGray;
	padding: 1px;
	padding-left: 1.7em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.btn-close:hover {
	background-color: white;
}

.btn-cancel {
	background: url(../../../resources/dialog_cancel.png) 0.5em no-repeat;
	background-size: 20%;
	font-size: 0.8em;
/* 	color: white; */
	width: 7.2em;
	height: 2em;
/* 	background-color: FireBrick; */
	padding: 1px;
	padding-left: 1.7em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
	/* 	margin-bottom: 0.5em; */
	margin: 0 0.5em 0.5em 0.5em;
}

.btn-cancel:hover {
	background-color: white;
/* 	color: black; */
}

.btn-select {
	background: url(../../../resources/dialog_ok.png) 0.5em no-repeat;
	background-size: 20%;
	font-size: 0.8em;
/* 	color: white; */
	width: 7.2em;
	height: 2em;
/* 	background-color: LimeGreen; */
	padding: 1px;
	padding-left: 1.7em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
	/* 	margin-bottom: 0.5em; */
	margin: 0 0.5em 0.5em 0.5em;
}

.btn-select:hover {
	background-color: white;
/* 	color: black; */
}

.messi .btn-success:hover,.messi .btn-success:active,.messi .btn-success.active,.messi .btn-success.disabled,.messi .btn-success[disabled]
	{
	background-color: #51a351;
	*background-color: #499249;
}

.messi .btn-success:active,.messi .btn-success.active {
	background-color: #408140 \9;
}

.messi-content {
	overflow: hidden;
}

.messi-content p {
	/* 	margin: 0 0 1.3em; */
	/* 	line-height: 1.3em */
	
}

.messi-content .messi-closebtn {
	top: 7px;
	color: #fff;
	background-color: #333;
	opacity: 0;
	-webkit-transition: opacity .25s linear, visibility .1s linear .5s;
	-moz-transition: opacity .25s linear, visibility .1s linear .5s;
	-o-transition: opacity .25s linear, visibility .1s linear .5s;
	transition: opacity .25s linear, visibility .1s linear .5s
}

.messi-content:hover .messi-closebtn {
	opacity: 1
}

.messi-footbox {
	width: auto;
	/* 	height: 55px; */
	overflow: hidden;
	background: #F0F0F0;
}

.messi-actions {
	padding-top: 8px;
	margin: 0 10px;
	border-top: 1px solid #eee;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	text-align: center;
}