/* CSS Document */
.layout-outer>.west {
	padding: 5px 10px 20px 10px;
/* 	min-width: 15%; */
	max-width: 35%;
	overflow-x: hidden;
	background-color: white;
	
	
/* 	Mode default */
	/* 	overflow-y: auto; */
	/* 	width: 20%; */
	
/* 	Mode service */
	width: 0px;
	overflow-y: hidden;
}

.layout-outer>.center {
	padding: 20px 20px 20px 10px;
}
/**
 * To get correct percentages widths and heights in the inner layout
 * you have to set the container to take up all space that's left after
 * the outer columns east, west, north and south components. In this case:
 *  width = 100% - 8% - 8% = 84%
 *  height = 100% - 10% - 10% = 80%
 */
.layout-inner {
	width: 75%;
	height: 100%;
	background-color: white;
	border: 0px;
	max-height: 80%;
	overflow-y: scroll;
	overflow: auto;
	
}

.layout-inner>.north {
	height: 65%;
	margin-top: 1.5em;
	margin-bottom: 0px;
	max-height: 65%;
	position: relative;
	overflow: auto;
	
}

.layout-inner>.north>.text {
	position: relative;
	height: 100%;
	overflow: auto;
	
}

.layout-inner>.center {
	height: 100%;
	
}

/* FLEX TEMPLATE (These styles are to create custom resize handles.) */
#tab-summary a {
	color: Firebrick !important;
}

.north .ui-resizable-s {
	position: absolute;
	bottom: 0px !important;
	background: url("../images/handle_hor.gif") no-repeat center center
		transparent;
	/* 	background: linear-gradient(to right, #d2a7a7 0%,#820808 50%,#d2a7a7 100%); */
}

.ui-resizable-e {
	background: url("../images/handle_ver.gif") no-repeat center center
		transparent;
	margin-right: 5px;
	padding-right: 5px;
}

/* SECTION */
#westContainer {
	padding: 15px 10px;
	background-color: #eaebec;
	font-size: 0.9em;
	overflow-x: hidden;
}

/* TREEVIEW */
.viewTree {
	margin-bottom: 10px;
}

.treeview,.treeview ul {
	padding: 0;
	list-style: none;
	/* background-color: white; */
	/* margin: -3px 0 0 -5px; */
}

.treeview .hitarea {
	background: url(../images/treeview-default.gif) -64px -25px
		no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
	font-weight: 1em;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eaebec;
}

.treeview .hover {
	color: Firebrick;
	cursor: pointer;
}

.treeview li {
	/* 	background: url(../images/treeview-default-line.gif) 0 0 no-repeat; */
	background: 0 0 no-repeat;
}

.treeview li.collapsable,.treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image: url(../images/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.filetree li {
	padding: 3px 0 2px 16px;
	margin-left: 10px;
	width: 100%;
}

.filetree span.folder,.filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.section {
	/* font-size: 1.2em; */
	font-size: 1em;
	font-weight: bold;
}

/*	List inside the tab container	*/
#listEx li {
	float: none;
	list-style: none;
}

#listEx ul {
	position: inherit;
	margin: 10px 0px 0px 10px;
}

#listEx li a {
	background-color: #f2f2f2;
	margin-left: 15px;
}

#tabs a:hover {
	/* 	color:Firebrick; */
	
}

.tabContents,.referenceLink {
	height: auto;
	padding: 1em;
	font-size: 90%;
}

.tabContents a:hover {
	color: Firebrick;
}

.referenceLink a {
	color: Firebrick;
	text-decoration: underline;
}

#tab-logs-output,#tab-logs-error,#tab-logs-scipion {
	font-family: Monospace;
	font-size: 90%;
	background-color: black;
	color: white;
}

#tab-logs{
	margin:0.5em 0.5em 0 0.5em;
}

/* jsPlumb */
.window {
	border: 1px solid black;
	border-radius: 0.5em;
	box-shadow: 2px 2px 19px #AAAAAA;
	color: black;
	text-align: center;
	position: absolute;
	z-index: 5;
	padding: 1.5px;
	font-size: 0.9em;
}

.window a:hover {
	color: Firebrick;
}

.dragActive {
	border: 3px solid #346789;
}

.header-logs {
	color:black;
	margin-top: 0.5em;
	padding: 0.6em 0 0.25em 0.2em;
	border: 1px solid #aaaaaa;
	border-radius: 0.2em;
	background: #cccccc url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
}

.elm-header-log {
	color:black;
	margin-bottom: 1px;
	padding: 0.4em 0.8em 0.4em 0.8em;
	background-color: #e6e6e6;
	border-radius: 0.3em 0.3em 0 0;
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-size:medium;
	color: #555555;
	
}

.elm-header-log:hover{
	border: 1px solid #999999;
	background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}

.elm-header-log_selected {
	margin-bottom: 1px;
	padding: 0.4em 0.8em 0.35em 0.8em;
	border-radius: 0.3em 0.3em 0 0;
	border: 1px solid #aaaaaa;
	font-size:medium;
	color:white !important;
	background: Firebrick  50% 50% repeat-x;
	font-weight: bold;
}

