/* CSS Document */
.layout-outer > .south {
	/* overflow-y: auto; */
	/* max-height: 75%; */
	top: 148px !important;
}
.layout-outer > .center{
	height: 68px;
	min-height: 68px;
	max-height: 68px;
}

.layout-outer > header{
	width: 100%;
}
.layout-outer > aside{
	width: 100%;
}

.button {
	font-size: 0.8em;
	color: white;
	width: 13em;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.button:hover {
	font-size: 0.8em;
	color: white;
	width: 13em;
	height: 25px;
	background-color: FireBrick;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}
.projList {
	list-style: none;
	margin: 10px;
}

.projName {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.projRemove {
	margin-left: 1em;
	font-size: 0.9em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}

.projectsList {
 	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}
li:nth-child(odd) {
    background-color: #FFF;
    padding: 0px 10px;
}
li:nth-child(even) {
    background-color: #EAEBFF;
    padding: 11px 10px;
}



