/* CSS Document */

.button {
	font-size: 0.8em;
	color: white;
	width: 13em;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.button:hover {
	font-size: 0.8em;
	color: white;
	width: 13em;
	height: 25px;
	background-color: FireBrick;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}
.projList {
	list-style: none;
}

.projName {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-left: -0.5em;
}

.projRemove {
	margin-left: 1em;
	font-size: 0.9em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}

.projectsList {
	border: 1px solid black;
	background: Gainsboro;
 	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	/*width: 99%;*/
}
