a {
	text-decoration: none;
	color: black;
}

.protFieldsetTree {
	height: 95%;
	width: 90%;
	overflow-y: scroll;
	overflow-x: hidden;
	/*margin: -0.5em -1em -0.6em 1em;*/
	/*border: 1px solid #d0d0d0;*/
	margin-left: -0.6em;
	padding-right: 1.5em;
	background: white;
}

/* CSS for the treeview */
.treeview,.treeview ul {
	padding: 0;
	list-style: none;
	background-color: white;
	margin: -3px 0 0 -5px;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../../../resources/treeview-default.gif) -64px -25px
		no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

.treeview .hover {
	color: Firebrick;
	cursor: pointer;
}

.treeview li {
	/* 	background: url(../images/treeview-default-line.gif) 0 0 no-repeat; */
	background: 0 0 no-repeat;
}

.treeview li.collapsable,.treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image: url(../../../../resources/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.filetree li {
	padding: 3px 0 2px 16px;
	margin-left: 10px;
	width: 100%;
}

.filetree span.folder,.filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.section {
	font-size: 1.2em;
	font-weight: bold;
}

.filetree li.expandable span.section {
	font-size: 1.2em;
	font-weight: bold;
}

.filetree span.protocol_base {
	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat;
	padding-left: 20px;
}

.filetree li.expandable span.protocol_base {
	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat;
	padding-left: 20px;
}

.filetree span.protocol {
	background: url(../../../../resources/bookmark.gif) 0 0 no-repeat;
	padding-left: 20px;
}

.filetree span.protocol_class {
	background: url(../../../../resources/python_file.gif) 0 0 no-repeat;
	padding-left: 20px;
}

/* Bottom datatable-tabs style */
div.datatable {
	background-color: white;
	border: 1px solid black;
	height: 25%;
}

.listTabs {
	/* 	border: 1px solid black; */
	padding: 0px;
	margin: 0px;
}

#tabTitle {
	font-weight: bold;
}

#tabContaier {
	background: #f0f0f0;
	border: 1px solid #fff;
	margin: 5px auto;
	padding: 7px;
	/* 	position: relative; */
	width: 98%;
}

#tabContaier ul {
	overflow: hidden;
	border-right: 1px solid #fff;
	height: auto;
	position: absolute;
	/* 	z-index: 100; */
}

#tabContaier li {
	float: left;
	list-style: none;
}

#listEx li{
	float:none;
	list-style: none;
	
}

#listEx ul{
	position:inherit;
	margin-left:-1.2em;
	font-size: 0.9em;
}

#tabContaier li a {
	background: #ddd;
	border: 1px solid #fcfcfc;
	border-right: 0;
	/* 	color: #666; */
	cursor: pointer;
	display: block;
	/* 	height: 35px; */
	line-height: 1.8em;
	padding: 0 30px;
	text-decoration: none;
	/* 	text-weight: bold; */
	font-size: 0.9em;
	/* 	text-transform: uppercase; */
}

#tabContaier li a:hover {
	background: #eee;
}

#tabContaier li a.active {
	background: #fbfbfb;
	border: 1px solid #fff;
	border-right: 0;
	color: #333;
}

.tabDetails {
	background: #fbfbfb;
	border: 1px solid #fff;
	margin: 15px 0 0;
	height: 94%;
	overflow: auto;
}

.tabContents {
	padding: 6px;
}

.tabContents h1 {
	/* 	font: normal 24px/1.1em Georgia, "Times New Roman", Times, serif; */
	padding: 0 0 6px;
}

.tabContents p {
	padding: 0 0 6px;
}