/* CSS Document */

.layout-outer > .west {
	width: 25%;
	padding: 20px 10px 20px 10px;
	min-width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.layout-outer > .center{
	padding: 20px 20px 20px 10px;
}
/**
 * To get correct percentages widths and heights in the inner layout
 * you have to set the container to take up all space that's left after
 * the outer columns east, west, north and south components. In this case:
 *  width = 100% - 8% - 8% = 84%
 *  height = 100% - 10% - 10% = 80%
 */
.layout-inner {
	width: 75%;
	/* height: 60%; */
	height: 100%;
	background-color: white;
	border: 0px;
}
.layout-inner > .north {
	height: 80%;
	margin-bottom: 30px;
	max-height: 70%;
	overflow-y: auto;
} 
.layout-inner > .center {

}

/* FLEX TEMPLATE (These styles are to create custom resize handles.) */ 
#tab-summary a{
	color: Firebrick !important;
}
.north .ui-resizable-s {
	bottom: 0px !important;
	background: url("/resources/handle_hor.gif") no-repeat center center transparent;
}

.ui-resizable-e {
	background: url("/resources/handle_ver.gif") no-repeat center center transparent;
	margin-right: 5px;
}	

/* SECTION */
#westContainer{
	padding: 15px 10px;
	background-color: #eaebec;
	font-size: 0.9em;
}

/* TREEVIEW */
.viewTree{
	margin-bottom: 10px;
}

.treeview,.treeview ul {
	padding: 0;
	list-style: none;
	/* background-color: white; */
	/* margin: -3px 0 0 -5px; */
}

.treeview .hitarea {
	background: url(../../../resources/treeview-default.gif) -64px -25px
		no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
	font-weight: 1em;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eaebec;
}

.treeview .hover {
	color: Firebrick;
	cursor: pointer;
}

.treeview li {
	/* 	background: url(../images/treeview-default-line.gif) 0 0 no-repeat; */
	background: 0 0 no-repeat;
}

.treeview li.collapsable,.treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image: url(../../../../resources/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.filetree li {
	padding: 3px 0 2px 16px;
	margin-left: 10px;
	width: 100%;
}

.filetree span.folder,.filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.section {
	/* font-size: 1.2em; */
	font-size: 1em;
	font-weight: bold;
}

.filetree li.expandable span.section {
	font-size: 1.2em;
	font-weight: bold;
}

/* .filetree span.protocol_base { */
/* 	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat; */
/* 	padding-left: 20px; */
/* } */

/* .filetree li.expandable span.protocol_base { */
/* 	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat; */
/* 	padding-left: 20px; */
/* } */

/* .filetree span.protocol { */
/* 	background: url(../../../../resources/bookmark.gif) 0 0 no-repeat; */
/* 	padding-left: 20px; */
/* } */

/* .filetree span.protocol_class { */
/* 	background: url(../../../../resources/python_file.gif) 0 0 no-repeat; */
/* 	padding-left: 20px; */
/* } */

/*	List inside the tab container	*/
#listEx li {
	float: none;
	list-style: none;
}

#listEx ul {
	position: inherit;
	margin: 10px 0px 0px 10px;
	font-size: 0.9em;
}

#listEx li a {
	background-color: #f2f2f2;
	margin-left: 15px;
}

#tabs a:hover {
/* 	color:Firebrick; */
}

.tabContents, .referenceLink {
	max-height:16em;
	overflow-y:scroll;
}

.tabContents a:hover {
	color:Firebrick;
}

.referenceLink a {
	color:Firebrick;
	text-decoration: underline;
}

#tab-logs-output, #tab-logs-error, #tab-logs-scipion {
	background-color:black;
	color:white;
	
/* 	background-color:white; */
/* 	color:black; */
	
	font-family:Monospace;
	padding:1em;
	font-size:90%;
}

/* jsPlumb */
.window {
	border: 1px solid black;
	border-radius: 0.5em;
	box-shadow: 2px 2px 19px #AAAAAA;
	color: black;
	text-align: center;
	position: absolute;
	z-index: 5;
	padding: 1.5px;
	font-size: 0.9em;
}

.window a:hover {
	color: Firebrick;
}

.dragActive {
	border: 3px solid #346789;
}



