

#westContainer{
	padding: 10px;
	background-color: #cccccc;
}

/* CSS for the treeview */
.treeview,.treeview ul {
	padding: 0;
	list-style: none;
	/* background-color: white; */
	/* margin: -3px 0 0 -5px; */
}

.treeview .hitarea {
	background: url(../../../resources/treeview-default.gif) -64px -25px
		no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
	font-weight: 1em;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

.treeview .hover {
	color: Firebrick;
	cursor: pointer;
}

.treeview li {
	/* 	background: url(../images/treeview-default-line.gif) 0 0 no-repeat; */
	background: 0 0 no-repeat;
}

.treeview li.collapsable,.treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image: url(../../../../resources/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.filetree li {
	padding: 3px 0 2px 16px;
	margin-left: 10px;
	width: 100%;
}

.filetree span.folder,.filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.section {
	font-size: 1.2em;
	font-weight: bold;
}

.filetree li.expandable span.section {
	font-size: 1.2em;
	font-weight: bold;
}

.filetree span.protocol_base {
	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat;
	padding-left: 20px;
}

.filetree li.expandable span.protocol_base {
	background: url(../../../../resources/class_obj.gif) 0 0 no-repeat;
	padding-left: 20px;
}

.filetree span.protocol {
	background: url(../../../../resources/bookmark.gif) 0 0 no-repeat;
	padding-left: 20px;
}

.filetree span.protocol_class {
	background: url(../../../../resources/python_file.gif) 0 0 no-repeat;
	padding-left: 20px;
}

/*	List inside the tab container	*/
#listEx li {
	float: none;
	list-style: none;
}

#listEx ul {
	position: inherit;
	/* margin-left: -1.2em; */
	margin: 10px 0px 0px 10px;
	font-size: 0.9em;
}

#listEx li a {
	background-color: #fbfbfb;
	margin-left: 15px;
}

#listEx li a:hover {
	color:Firebrick;
}

/* jsPlumb */
.window {
/* 	background-color: #EEEEEF; */
	border: 1px solid black;
	border-radius: 0.5em;
	box-shadow: 2px 2px 19px #AAAAAA;
	color: black;
/* 	height: auto; */
	text-align: center;
/* 	width: auto; */
	position: absolute;
/* 	left: 7em; */
	z-index: 5;
	padding: 1.5px;
	font-size: 0.9em;
}

.window a:hover {
	color: Firebrick;
}

.dragActive {
	border: 3px solid #346789;
}