/* CSS Document */

/* body > #mainContainer { height: auto; min-height: 100%; }  */

/* HEADER */



/* NAV (TOP MENU) */
nav {
	height: 55px;
	width: 100%;
	background-color: #7a0000;
	color: #fff;
	font: 16px Tahoma;
}

nav ul {
	padding: 20px 15px 20px 20px;
}

nav ul li {
	padding: 5px 10px 5px 0px;
	display: inline;
}

/* FOOTER */



/* ASIDE (BOTTOM MENU) */
aside button {
	border: 0px;
	cursor: pointer;
	height: 27px;
}

aside form{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
}

aside .sectionMenu {
	margin-right: 20px;
	/* display: inline-block; */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

aside .subSectionMenu {
	margin-right: 10px;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

aside .textMenu {
	color: #000;
	font: 14px Helvetica;
	margin-right: 8px;
}

aside #colRowMode {
	margin-right: 15px;
}

aside .menuIcon {
	margin-right: 5px;
/* 	width: 17px;
    height: 17px; */
}

aside .menuInputNumber {
	width: 60px;
	background-color: #FFF;
	font: 11px Helvetica;
	color: #000;
	text-align: right;
	height: 20px;
	/* border-color: #9c0101; */
	border-color: #A7;
	padding-right: 3px;
}

aside .submitButton{
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px; 
	border: 0px;
	font-size: 0px;
	line-height: 0px
}

aside .tableOn{
	background-image: url(/resources/showj/tableViewOn.png);
}

aside .tableOff{
	background-image: url(/resources/showj/tableViewOff.png);
}

aside .galleryOn{
	background-image: url(/resources/showj/galleryViewOn.png);
}

aside .galleryOff{
	background-image: url(/resources/showj/galleryViewOff.png);
}

aside .visualizeVolOn{
	background-image: url(/resources/showj/volumeOn.png);
}

aside .visualizeVolOff{
	background-image: url(/resources/showj/volumeOff.png);
}

aside .arrowSectionMenu{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-o-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	margin: 4px;
}


/* aside #optionsSubSectionMenu{
	z-index: 999;
	display:none;
} */
aside .arrowImage{
	margin: 1px;
}

aside div>ul{
	display: none;
	list-style: none;
 	position: relative;
	left: -200px;
	float: left;
	width: 230px;
	top:20px;
}

aside .optionsListOn{
	display: block;
	z-index:1;
} 
aside li{
	list-style: none;
	float:left;
	margin: 0 0.5em;
	display: block;
	width: 220px;
	height: 20px;
	background-color: #e3e3e3;
	padding: 2px 10px;
}

aside li:first-child{
	padding-top: 10px;
}	
aside li:last-child{
	padding-bottom: 10px;
}

/* MAIN SECTION */
section .img_container {
	/* margin: 10px 2px 10px 2px; */
	/* margin: 2px; */
	padding: 2px;
}

section .img_inner_container{
	position: relative; 
}


section .enabledGallery {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}

section .imageTitle{
	/* position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 998;
	display:none; 
	width: 100%;*/
	background-color: rgb(50, 1, 1);
	height: 20px;
	color: #FFF;
}

.image_selected {
	background-color: #000;
}


.tableImages{
	display: block;
	margin: 0 auto;
}

.multipleSelectionToolContainer{
	display:none;
	z-index:999;
	background-color: #e6e6e6;
	color: #555555;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-o-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	position: absolute;
	padding: 10px;
}

.multipleSelectionToolItem{
	cursor: pointer;
}

.pressedButton{
	opacity:0.5;
}

/* GALLERY VIEW */
#column_label {
	background-color: #dddddd;
	font: 12px Helvetica;
	text-align: center;
}

/* TABLE VIEW */
.row_selected{
	background-color: #F3CBCB !important;
}

#data_table {
	width: 100%;
	border-spacing: 4px;
	text-align: center;
}

#table_container thead tr{
	height: 20px;
	
}

#table_container th{
	/* font-weight: bold; */
	font-family: Helvetica;
	white-space: nowrap;
	padding: 8px;
	border: 0px;
}

#table_container tbody td{
	/* font-weight: bold; */
	font-family: Helvetica;
	
}
.iconHeader{
	width:20px;
	height:20px;
}
/* .renderTableOn{
	background-image: url(/resources/showj/renderTableOn.png);	
}
.renderTableOff{
	background-image: url(/resources/showj/renderTableOff.png);	
} */

/* .editTableOn{
	background-image: url(/resources/showj/editTableOn.png);	
}
.editTableOff{
	background-image: url(/resources/showj/editTableOff.png);	
} */

#table_container tbody tr.odd{
	background-color: #FFF;
}

#table_container { /* 	overflow:auto;*/
	width: 100%;
}

/* TABLE COLUMN VIEW */
#data_table_transpose td{
	font-family: Helvetica;
	padding: 8px;
	border: 0px;
}

/* DATATABLE STYLE */
#data_table_filter input{
	font-size:16px;
	padding: 2px 2px 0px 3px;
}
#data_table_length{
	margin-bottom: 10px;
	
}

#data_table_filter{
	margin-bottom: 10px;
	width:20%;
}

#displayTableContainer{
	display: inline;
}

#data_table_info{
	margin: 10px 0px;
}

#data_table_paginate{
	margin: 10px 0px;
}

/* TABLE CONFIGURATION */
#tableConfigurationContainer{
	overflow: hidden;
}
#configurationContainer{
	display:none;
	margin: 20px;
	width: 60%;
}


#tableConfigurationContainer table{
	
}

#tableConfigurationButtonBar{
	text-align: center;
}

#firstTableConfiguration{
	float:left;
}

#secondTableConfiguration{
	float:right;
}


/* FIX FOR DATABLE ARROW BUTTON FIT IN ONE LINE */
.css_left { float: left; }
.css_right {float: right; }

.DataTables_sort_icon{float: left;}

