/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
} /* Reset default margin and padding for all element */
header,section,footer,aside,nav,article,hgroup {
	display: block;
} /* For html5 unsupported browsers */

/* HEADER */
header {
	height: 100px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}


/* NAV (TOP MENU) */
nav {
	height: 55px;
	width: 100%;
	background-color: #7a0000;
	color: #fff;
	font: 16px Tahoma;
}

nav ul {
	padding: 20px 15px 20px 20px;
}

nav ul li {
	padding: 5px 10px 5px 0px;
	display: inline;
}

/* ASIDE (BOTTOM MENU) */
aside {
	height: 68px;
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e3e3e3 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	
	padding-left: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}

aside button {
	border: 0px;
	cursor: pointer;
	height: 27px;
}

aside form{
	display: -webkit-flex;
	display: flex;
}

aside .sectionMenu {
	margin-right: 20px;
	/* display: inline-block; */
	display: -webkit-flex;
	-webkit-align-items: center;
}

aside .subSectionMenu {
	margin-right: 10px;
	display: -webkit-flex;
	-webkit-align-items: center;
}

aside .textMenu {
	color: #000;
	font: 14px Helvetica;
	margin-right: 8px;
}

aside #colRowMode {
	margin-right: 15px;
}

aside .menuIcon {
	margin-right: 5px;
}

aside .menuInputNumber {
	width: 60px;
	background-color: #FFF;
	font: 11px Helvetica;
	color: #000;
	text-align: right;
	height: 20px;
	/* border-color: #9c0101; */
	border-color: #A7;
	padding-right: 3px;
}

aside .submitButton{
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px; 
	border: 0px;
	font-size: 0px;
	line-height: 0px
}

aside .tableOn{
	background-image: url(/resources/showj/tableViewOn.png);
}

aside .tableOff{
	background-image: url(/resources/showj/tableViewOff.png);
}

aside .galleryOn{
	background-image: url(/resources/showj/galleryViewOn.png);
}

aside .galleryOff{
	background-image: url(/resources/showj/galleryViewOff.png);
	
}

aside .arrowSectionMenu{
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-flow: column;
	margin: 4px;
}
aside .arrowImage{
	margin: 1px;
}



/* MAIN SECTION */
section {
	padding: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}


section .img_container {
	/* margin: 10px 2px 10px 2px; */
	/* margin: 2px; */
	padding: 2px;
}

section .img_inner_container{
	position: relative; 
}


section .enabledGallery {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}

section .imageTitle{
	/* position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 998;
	display:none; 
	width: 100%;*/
	background-color: rgb(50, 1, 1);
	height: 20px;
	color: #FFF;
}

#column_label {
	background-color: #dddddd;
	font: 12px Helvetica;
	text-align: center;
}

#data_table {
	width: 100%;
	border-spacing: 4px;
	text-align: center;
}

#table_container thead tr{
	height: 20px;
	
}

#table_container thead th{
	/* font-weight: bold; */
	font-family: Helvetica;
	white-space: nowrap;
	padding: 8px;
}

#table_container tbody td{
	/* font-weight: bold; */
	font-family: Helvetica;
}

#table_container { /* 	overflow:auto;*/
	width: 100%;
}

.image_selected {
	background-color: #000;
}

.row_selected{
	background-color: #7a0000 !important;
}

.tableImages{
	display: block;
}

.multipleSelectionToolContainer{
	display:none;
	z-index:999;
	background-color: rgb(50, 1, 1);
	color: #FFF;
	/* display: -webkit-flex; */
	-webkit-align-items: center;
	-webkit-flex-flow: column;
	position: absolute;
}

.pressedButton{
	opacity:0.5;
}

/* FIX FOR DATABLE ARROW BUTTON FIT IN ONE LINE */
.css_left { float: left; }
.css_right {float: right; }

.DataTables_sort_icon{float: left;}

/* GENERAL */