/* CSS Document */

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
} /* Reset default margin and padding for all element */
header,section,footer,aside,nav,article,hgroup {
	display: block;
} /* For html5 unsupported browsers */

/* HEADER */
header {
	height: 100px;
	text-align: center;
}

/* NAV (TOP MENU) */
nav {
	height: 55px;
	width: 100%;
	background-color: #7a0000;
	color: #fff;
	font: 16px Tahoma;
}

nav ul {
	padding: 20px 15px 20px 20px;
}

nav ul li {
	padding: 5px 10px 5px 0px;
	display: inline;
}

/* ASIDE (BOTTOM MENU) */
aside {
	height: 50px;
	background-color: #320101;
	padding: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}

aside button {
	border: 0px;
	cursor: pointer;
	height: 27px;
}

aside form{
	display: -webkit-flex;
	display: flex;
}

aside .sectionMenu {
	margin-right: 20px;
	/* display: inline-block; */
	display: -webkit-flex;
	-webkit-align-items: center;
}

aside .subSectionMenu {
	margin-right: 10px;
	display: -webkit-flex;
	-webkit-align-items: center;
}

aside .textMenu {
	color: #FFF;
	font: 12px Tahoma;
	font-weight: bold;
	margin-right: 3px;
}

aside #colRowMode {
	margin-right: 15px;
}

aside .menuIcon {
	margin-right: 5px;
}

aside .menuInputNumber {
	width: 60px;
	background-color: #000;
	font: 11px Tahoma;
	color: #fff;
	text-align: right;
	height: 20px;
	border-color: #9c0101;
	padding-right: 3px;
}

aside .submitButton{
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px; 
	border: 0px;
	font-size: 0px;
	line-height: 0px
}

aside .tableOn{
	background-image: url(/resources/showj/tableViewOn.gif);
}

aside .tableOff{
	background-image: url(/resources/showj/tableViewOff.gif);
}

aside .galleryOn{
	background-image: url(/resources/showj/galleryViewOn.gif);
}

aside .galleryOff{
	background-image: url(/resources/showj/galleryViewOff.gif);
	
}

aside .arrowSectionMenu{
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-flow: column;
	margin: 4px;
}
aside .arrowImage{
	margin: 1px;
}

/* MAIN SECTION */
section {
	padding: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	-webkit-flex-wrap: wrap;
}

section .img_container {
	/* margin: 10px 2px 10px 2px; */
	/* margin: 2px; */
	padding: 2px;
}

section .img_inner_container{
	position: relative; 
}


section .enabledGallery {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}

section .imageTitle{
	/* position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 998;
	display:none; 
	width: 100%;*/
	background-color: rgb(50, 1, 1);
	height: 20px;
	color: #FFF;
}

#column_label {
	background-color: #dddddd;
	font: 12px Tahoma;
	text-align: center;
}

#data_table {
	width: 100%;
	border-spacing: 4px;
}

#table_container thead tr{
	height: 20px;
}

#table_container thead th{
	font-weight: bold;
}

#table_container { /* 	overflow:auto;*/
	width: 100%;
}

.image_selected {
	background-color: #000;
}

.row_selected{
	background-color: #7a0000;
}

.tableImages{
	display: block;
}

.multipleSelectionToolContainer{
	display:none;
	z-index:999;
	background-color: rgb(50, 1, 1);
	color: #FFF;
	/* display: -webkit-flex; */
	-webkit-align-items: center;
	-webkit-flex-flow: column;
	position: absolute;
}

/* GENERAL */