/* CSS Document */
html,body {
	background-color: #eaebec;
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 0.84em;
	padding: 15px;
}

#wizName {
	margin: 0 0 10px 0;
}

.layout {
	width: 30em;
	/* 	padding: 10px; */
}

.elm1 {
	width: 16em;
	float: left;
	height: 27em;
	overflow-y: auto;
}

.elm2 {
	width: 12em;
	float: right;
}

.images {
	width: 20em;
	height: 5em;;
	text-align: center;
}

.image {
	/* 	background-color: #F0F0F0; */
	/* 	border: 2px solid white; */
	background-color: white;
	/* 	border: 3.5px solid Firebrick; */
	width: 250px;
	height: 250px;
	margin: 0 7px 7px 0;
	text-align: center;
}

.options {
	text-align: center;
	padding: 5px 0 5px 0;
	width: auto;
}

.buttons {
	text-align: center;
	padding: 5px;
	clear: both;
}


/**************** List CSS *******************/
table#data th {
	background-color: Firebrick;
	color: white;
}
/* table#list a:link {
	font-weight: bold;
}

table#list a:active,table a:hover {
	color: Firebrick;
}

table#list {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	background-color: #eaebec;
	border-spacing: 0;
	border: 1px solid black
}

table#list th {
	height: 0.2em;
		border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background-color: Firebrick;
	color: white;
}

table#list th:first-child {
	background: Firebrick;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	margin-bottom: 7px;
}

table#list tr {
	text-align: center;
}

table#list tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#list tr td {
	padding: 0.3em;
	padding-left: 1.5em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}

table#list tr:last-child td {
	border-bottom: 0;
}

table#list tr:hover td {
	background-color: #f2f2f2;
}

table#list tr.selected:hover td {
	background-color: LightSteelBlue;
} */

/**************** CTF CSS *******************/
#slider {
	width: 15em;
	margin: 5px 0 5px 0;
}

#lowFreq {
	width: 15m;
	float: left;
}

#highFreq {
	width: 17em;
	float: right;
}

#sliderOptions {
	width: 36em;
	background: #f2f2f2;
/* 	float: right; */
}

#wrapper {
	position: relative;
	/*     padding: 0; */
	/*     outline: 1px solid #999; */
}

#wrapper img {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas_low {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas_high {
	position: absolute;
	top: 0;
	left: 0;
}

#psd_freq {
	position: absolute;
	top: 0;
	left: 0;
}

svg {
	width: 250px;
	height: 250px;
}

/**************** Mask Radius CSS *******************/

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#particle {
	position: absolute;
	top: 0;
	left: 0;
}

#sliderOptionsLite {
	width: 9em;
	background: #f2f2f2;
}

#sliderUni {
	width: 15m;
}

/**************** Fourier Filter CSS *******************/


#sliderLite {
	width: 9em;
	margin: 5px 7px 5px 7px ;
}

