/* CSS Document */
html,body {
	background-color: #F0F0F0;
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 0.84em;
}

#wizName {
	margin: 0 0 0.3em 0;
}

.layout {
	width: 33em;
/* 	padding: 10px; */
}

.elm1 {
	width: 12em;
	float: left;
}

.elm2 {
	width: 12em;
	float: right;
}

.images {
	width: 20em;
	height: 5em;;
	text-align: center;
}

.image {
	background-color: black;
	border: 3.5px solid Firebrick;
	width: 250px;
	height: 250px;
	margin: 0 7px 7px 0;
	text-align: center;
}

.options {
	text-align:center;
	padding: 5px;
	clear: both;
}


#buttonGen {
	background-size: 20%;
	/* 	margin: 1em 0.5em 0 0; */
	/* 	font-size: 0.8em; */
	color: black;
	width: 6.3em;
	height: 2em;
	background-color: LightGray;
	/* 	border: 1px solid #000066; */
/* 	padding: 1px; */
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: bold;
}

#buttonGen:hover {
	background-color: white;
}

.buttonCancel{
	background: url(../../../resources/dialog_cancel.png) 0.5em no-repeat;
	padding-left: 1.8em;
}

.buttonSelect{
	background: url(../../../resources/dialog_ok.png) 0.5em no-repeat;
	padding-left: 1.7em;
}

/**************** List CSS *******************/
table#list a:link {
	font-weight: bold;
}

table#list a:active,table a:hover {
	color: Firebrick;
}

table#list {
	width: 100%;
	overflow-x: auto;
	font-size: 0.9em;
	background-color: #eaebec;
	border-spacing: 0;
	overflow-x: auto;
	border: 1px solid black
}

table#list th {
	height: 0.2em;
	/* 	border-top: 1px solid #fafafa; */
	border-bottom: 1px solid #e0e0e0;
	background-color: Firebrick;
	color: white;
}

table#list th:first-child {
	background: DarkRed;
	color: white;
	border-left: 2.5px solid FireBrick;
	border-top: 2.5px solid FireBrick;
	font-size: 0.9em;
	font-weight: bold;
/* 	margin: -1em -0.7em 0.3em -0.65em; */
	text-align: center;
}

table#list tr {
	text-align: center;
}

table#list tr td:first-child {
	text-align: left;
	border-left: 0;
}

table#list tr td {
	padding: 0.3em;
	padding-left: 1.5em;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}

table#list tr:last-child td {
	border-bottom: 0;
}

table#list tr:hover td {
	background-color: #f2f2f2;
}

table#list tr.selected:hover td {
	background-color: LightSteelBlue;
}
/***************************************************/