# Name: Xmipp_Browser

# Author: Juanjo Vega
# Version: @BUILD_VERSION@
# Date: @BUILD_DATE@
# Requires: ImageJ 1.37b

Plugins, "Xmipp Browser", XmippBrowser("")
Plugins, "Xmipp MetaData Viewer", XmippMetaDataViewer("")
Plugins, "Xmipp Micrograph Viewer", XmippMicrographViewer("")
Plugins, "Xmipp Rot Spectra", XmippRotSpectra("")

Help>About Plugins, "Xmipp Browser...", AboutXmippBrowser("")
