# Name: Xmipp_Browser

# Author: Juanjo Vega
# Version: @BUILD_VERSION@
# Date: @BUILD_DATE@
# Requires: ImageJ 1.37b

Plugins, "Xmipp Browser", XmippBrowser("")
Plugins, "Xmipp File List Browser", XmippFileList("")
Plugins, "Xmipp File List PSD Browser", XmippFileListPSD("")

Plugins, "Xmipp MetaData Viewer", XmippMetaDataViewer("")
Plugins, "Xmipp Micrograph Viewer", XmippMicrographViewer("")

Help>About Plugins, "Xmipp Browser...", AboutXmippBrowser("")
