#plugins for import/export in MRC format
File>Import, "MRC reader", MRC_Reader("")
File>Save As, "MRC writer", MRC_Writer("")

#plugins for import/export in Spider format
File>Import, "Spider reader", Spider_Reader("")
File>Save As, "Spider writer", Spider_Writer("")

#plugins for import/export in em format
File>Import, "EM reader", EM_Reader("")
File>Save As, "EM writer", EM_Writer("")

#plugins for import/export in sel format (multiple image files -spider format when writing- plus a text file with the list)
File>Import, "Sel reader", Sel_Reader("")
File>Save As, "Sel writer", Sel_Writer("")
