#plugins for import/export in MRC format
File>Import, "MRC reader", xmipp.io.MRC_Reader("")
File>Save As, "MRC writer", xmipp.io.MRC_Writer("")

#plugins for import/export in Spider format
File>Import, "Spider reader", xmipp.io.Spider_Reader("")
File>Save As, "Spider writer", xmipp.io.Spider_Writer("")

#plugins for import/export in em format
File>Import, "EM reader", xmipp.io.EM_Reader("")
File>Save As, "EM writer", xmipp.io.EM_Writer("")

#plugins for import/export in sel format (multiple image files -spider format when writing- plus a text file with the list)
File>Import, "Sel reader", xmipp.io.Sel_Reader("")
File>Save As, "Sel writer", xmipp.io.Sel_Writer("")

#plugins for import/export in TIA (.ser) format
File>Import, "TIA reader", xmipp.io.TIA_Reader("")

#plugins for import/export in SPE (.spe) format
File>Import, "SPE reader", xmipp.io.OpenSPE_("")
File>Save As, "SPE writer", xmipp.io.SaveAsSPE_("")
