# Name: XmippJ
# Author:   Juanjo Vega. Biocomputing unit - CNB/CSIC.
# Description: Plugin to import/export in Xmipp format.
# Version:  1.0
# Date:     2011/02/21
# Requires: ImageJ 1.31s

File>Import, "Xmipp Reader", ImageReader("")
File>Import, "Xmipp MetaData Reader", MetaDataReader("")

File>Save As, "Xmipp Writer", ImageWriter("")
File>Save As, "Xmipp MetaData Writer", MetaDataWriter("")

Help>About Plugins, "XmippJ...", AboutXmippJ("")