{% extends "layouts/100.html" %}

{% block title %}Scipion - My Resolution Map{% endblock %}

{% block css %}
    {{ block.super }}
	<link href="{{messi_css}}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{messi_js}}"></script>
	<script type="text/javascript" src="{{utils}}"></script>
	<script type="text/javascript" src="{{config}}"></script>
	<script type="text/javascript" src="{{project_utils_js}}" ></script>
	<script type="text/javascript" src="{{myresmap_utils}}"></script>

{% endblock %}

{% block main_col %}

	<div id="box">
		<h1>Resmap Online </h1>
		<br />
		<h4 style="text-align:justify;">
		This page allows you to execute ResMap (<a href="http://resmap.sourceforge.net/"  style="color:firebrick;" target="_blank">http://resmap.sourceforge.net</a>)
		from the web. ResMap is an easy to use software package for computing the local resolution of 3D density maps
		studied in structural biology, primarily electron cryo-microscopy (cryo-EM).
		<br />
		</h4>

		<div id="minibox">
			<div id="steps">
				<h2>
					<strong>
						Choose your project
					</strong>
				</h2>
			</div>
			<br />
			<div id="lineOpt">
				<p>Create an empty project</p>
				<span id="buttons">
					<!-- CREATE NEW PROJECT -->
					<a href="javascript:serviceProjForm();">
						<button class="btn btn_wide button2 primary_inv" type="button">
							Create
						</button>
					</a>
				</span>
			</div>
			<br />
			<div id="lineOpt">
				<p>Create a project with Test data</p>
				<span id="buttons">
					<!-- TEST DATA -->
					<a href="javascript:serviceTestDataForm();">
						<button class="btn btn_wide button2 primary_inv" type="button">
							Test data
						</button>
					</a>
				</span>
			</div>
			<br />
			<div id="lineOpt">
				<p>Explore project with Test data (read-only)</p>
				<span id="buttons">
					<!-- EXAMPLE PROJECT -->
					<a href="javascript:goExampleForm();">
						<button class="btn btn_wide button2 primary_inv" type="button">
							Explore
						</button>
					</a>
				</span>
			</div>
		</div>
	</div>
{% endblock %}