# -*- conf -*-

# All relative paths will have $SCIPION_HOME as their root.

[DIRS_LOCAL]
SCIPION_USER_DATA = ~/ScipionUserData
SCIPION_LOGS = %(SCIPION_USER_DATA)s/logs
SCIPION_TMP = %(SCIPION_USER_DATA)s/tmp

[DIRS_GLOBAL]
SCIPION_TESTS = data/tests
SCIPION_SOFTWARE = software

[REMOTE]
SCIPION_URL = http://scipion.cnb.csic.es/downloads/scipion
SCIPION_URL_SOFTWARE = %(SCIPION_URL)s/software
SCIPION_URL_TESTDATA = %(SCIPION_URL)s/data/tests

[PACKAGES]
EM_ROOT = software/em

BSOFT_HOME = %(EM_ROOT)s/bsoft-1.9.0
CTFFIND_HOME = %(EM_ROOT)s/ctffind
CTFFIND4_HOME = %(EM_ROOT)s/ctffind4
DOGPICKER_HOME = %(EM_ROOT)s/dogpicker
EMAN2DIR = %(EM_ROOT)s/eman2.12
FREALIGN_HOME = %(EM_ROOT)s/frealign
GAUTOMATCH_HOME = %(EM_ROOT)s/Gautomatch_v0.50
GAUTOMATCH = Gautomatch-v0.50_sm_30_cu5.5_x86_64
GEMPICKER_HOME = %(EM_ROOT)s/gEMpicker_v1.1
GEMPICKER = gEMpicker_nocuda_Ubuntu_14.04.x64
GEMPICKER_CUDA = None # gEMpicker_cuda_55.x64
GCTF_HOME = %(EM_ROOT)s/Gctf_v0.50
GCTF = Gctf-v0.50_sm_30_cu5.5_x86_64
MATLAB_BINDIR = None
MATLAB_LIBDIR = None
MOTIONCORR_HOME = %(EM_ROOT)s/motioncorr
MOTIONCORR_CUDA_LIB = None
NMA_HOME = %(EM_ROOT)s/nma
PYTOM_HOME = %(EM_ROOT)s/pytom
RELION_HOME = %(EM_ROOT)s/relion-1.4
RESMAP_HOME = %(EM_ROOT)s/resmap
SIMPLE_HOME = %(EM_ROOT)s/simple
SPIDER_DIR = %(EM_ROOT)s/spider/spider
SUMMOVIE_HOME = %(EM_ROOT)s/summovie
UNBLUR_HOME = %(EM_ROOT)s/unblur
XMIPP_HOME = %(EM_ROOT)s/xmipp

# Some visualization packages
CHIMERA_HOME = %(EM_ROOT)s/chimera
CHIMERA_HEADLESS_HOME = %(EM_ROOT)s/chimera_headless
VMD_HOME = %(EM_ROOT)s/vmd


# This section of the configuration file is used to setup variables to
# compile from sources. Most of them you won't want to change.

[BUILD]
# C++ variables
CC = gcc
CXX = g++
LINKERFORPROGRAMS = g++
CCFLAGS = -std=c99
CXXFLAGS = 
LINKFLAGS = 

# MPI variables
MPI_CC = mpicc
MPI_CXX = mpiCC
MPI_LINKERFORPROGRAMS = mpiCC
MPI_LIB = mpi
MPI_LIBDIR = /usr/lib64/mpi/gcc/openmpi/lib
MPI_INCLUDE = /usr/lib64/mpi/gcc/openmpi/include
MPI_BINDIR = /usr/lib64/mpi/gcc/openmpi/bin

MATLAB_DIR = /usr/local/MATLAB/R2011a

# Java variables
JAVA_HOME = /usr/lib64/jvm/java-1.7.0-openjdk-1.7.0
JAVA_BINDIR = %(JAVA_HOME)s/bin
JAVAC = %(JAVA_BINDIR)s/javac
JAR = %(JAVA_BINDIR)s/jar
JNI_CPPPATH = %(JAVA_HOME)s/include:%(JAVA_HOME)s/include/linux

# Modules to compile
GTEST = False
CUDA = False
DEBUG = False
MATLAB = False
OPENCV = True
