/* CSS Document */
html,body {
	width: 770px;
	margin: 10px auto;
	padding: 5px 0;
	text-align: left;
	background: white;
}

fieldset {
	overflow-y: scroll;
	overflow-x: hidden;
}

.logo {
	width: 14.5em;
	height: 3.6em;
	text-align: center;
}

.box {
	border: 2px solid black;
	width: 45em;
	height: 30em;
	background: white;
}

.left {
	text-align: right;
	width: 12em;
	float: left;
	background: white;
}

.right {
	margin: 1em;
	width: 30em;
	float: right;
	background: Gainsboro;
	height: 28em;
}

.button {
	font-size: 0.8em;
	color: white;
	width: 13em;
	height: 25px;
	background-color: DarkRed;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.button:hover {
	font-size: 0.8em;
	color: white;
	width: 13em;
	height: 25px;
	background-color: FireBrick;
	border: 1px solid #000066;
	padding: 1px;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align: center;
}

.projFieldset {
	height: 26.6em;
}

.projList {
	list-style: none;
}

.projName {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-left: -0.5em;
}

.projRemove {
	margin-left: 1em;
	font-size: 0.9em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}